DNS-SD stays wrongly DOWN after service churn in 2.2+

## Detailed description of the problem

I use DNS service discovery via Consul.

Usually everything works fine, but when there is a lot of changes at once (my case is when I drain a cluster node), some of the services remain red.

```
Nov 20 09:03:34 c-1fff haproxy[1301825]: [WARNING] 324/090334 (1301825) : Server bk_cdn/cdn-1 is going DOWN for maintenance (entry removed from SRV record). 2 active and 0 backup servers left. 0 sessions active, 0 requeued, 0 remaining in queue.
...
Nov 20 09:03:48 c-1fff haproxy[1301825]: [WARNING] 324/090348 (1301825) : Server bk_cdn/cdn-1 ('0a03004c.addr.scaleup.consul') is UP/READY (resolves again).
...
Nov 20 09:03:50 c-1fff haproxy[1301825]: [WARNING] 324/090350 (1301825) : Server bk_cdn/cdn-1 is DOWN, reason: Layer4 connection problem, info: "Connection refused", check duration: 0ms. 2 active and 0 backup servers left. 0 sessions active, 0 requeued, 0 remaining in queue
```

According to Consul they are healthy though. Also `0a03004c.addr.scaleup.consul` is correct.

The problem goes away after an HAProxy reload:

```
Nov 20 09:32:17 c-1fff haproxy[1350526]: [WARNING] 324/093217 (1350526) : Server bk_cdn/cdn-3 ('0a03004c.addr.scaleup.consul') is UP/READY (resolves again).
Nov 20 09:32:17 c-1fff haproxy[1350526]: [WARNING] 324/093217 (1350526) : Server bk_cdn/cdn-3 administratively READY thanks to valid DNS answer.
```

(there is one service per host – the number just changed internally)

I've had this problem throughout all 2.2 releases and now in 2.3.1. None of the 2.1 releases shows this bug.

## Expected behavior

I would love to not have to reload HAProxy after each cluster update since reloading and DNS-SD means downtime and lost requests.

## Steps to reproduce the behavior

1. use DNS-SD
2. change a lot of services at once
3. be sad about red services that are fully functional

## Do you have any idea what may have caused this?

No. There has been lots of changes to DNS-SD in 2.2. I've reported #793 before but I kept this one to myself (and my server on 2.1) because I can't give you a clear reproducer. It's worrisome that it's still present though so here's my Hail Mary.

## Do you have an idea how to solve the issue?

Debugging? :D If I had to guess, I'd say it's a race condition.

## What is your configuration?

<details>

```
global
  log /dev/log  local0
  log /dev/log  local1 notice
  chroot /var/lib/haproxy
  stats socket /run/haproxy/admin.sock mode 660 level admin
  stats timeout 30s
  user haproxy
  group haproxy
  daemon

  # Default SSL material locations
  ca-base /etc/ssl/certs
  crt-base /etc/ssl/private

  # First line is only for TLS 1.3, second line is for the rest.
  ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
  ssl-default-bind-ciphers ECDH+AESGCM:ECDH+CHACHA20:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS:!CCM

  ssl-default-bind-options ssl-min-ver TLSv1.0
  tune.ssl.default-dh-param 2048


resolvers consul
  nameserver consul 127.0.0.1:8600
  accepted_payload_size 8192


defaults
  log   global
  mode http

  retries 3
  option httplog
  option forwardfor
  option dontlognull
  option redispatch

  timeout connect 5s
  timeout client  50s
  timeout server  50s

  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http

  unique-id-format %{+X}o\ %ci:%cp_%fi:%fp_%Ts_%rt:%pid
  unique-id-header X-Unique-ID

frontend ft_cdn
  bind 81.28.224.5:443 crt 'vmcdn.de_all.pem' ssl alpn h2,http/1.1
  bind 81.28.224.5:80

  # acl show_listings_host src XXX
  acl is_listing path_end -i /
  http-request redirect location https://www.variomedia.de code 301 if is_listing !show_listings_host

  http-request set-header Forwarded "by=%fi;for=%ci;host=%[req.hdr(host)];proto=https"

  http-response del-header Server
  http-response del-header Via

  use_backend bk_cdn

backend bk_cdn
  option httpchk GET /jqwidont/0.1/jqwidont-compressed.js
  server-template cdn- 4 _cdn._env-prod.service.consul resolvers consul resolve-opts allow-dup-ip resolve-prefer ipv4 check
```

</details>

N.B. the problem doesn't occur only with this service but with as far as I can tell any service, randomly.

## Output of `haproxy -vv` and `uname -a`

<details>

```
HA-Proxy version 2.3.1-1ppa1~focal 2020/11/15 - https://haproxy.org/
Status: stable branch - will stop receiving fixes around Q1 2022.
Known bugs: http://www.haproxy.org/bugs/bugs-2.3.1.html
Running on: Linux 5.4.0-52-generic #57-Ubuntu SMP Thu Oct 15 10:57:00 UTC 2020 x86_64
Build options :
  TARGET  = linux-glibc
  CPU     = generic
  CC      = cc
  CFLAGS  = -O2 -g -O2 -fdebug-prefix-map=/build/haproxy-mwF5q6/haproxy-2.3.1=. -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -Wall -Wextra -Wdeclaration-after-statement -fwrapv -Wno-address-of-packed-member -Wno-unused-label -Wno-sign-compare -Wno-unused-parameter -Wno-clobbered -Wno-missing-field-initializers -Wno-cast-function-type -Wtype-limits -Wshift-negative-value -Wshift-overflow=2 -Wduplicated-cond -Wnull-dereference
  OPTIONS = USE_PCRE2=1 USE_PCRE2_JIT=1 USE_OPENSSL=1 USE_LUA=1 USE_ZLIB=1 USE_SYSTEMD=1

Feature list : +EPOLL -KQUEUE +NETFILTER -PCRE -PCRE_JIT +PCRE2 +PCRE2_JIT +POLL -PRIVATE_CACHE +THREAD -PTHREAD_PSHARED +BACKTRACE -STATIC_PCRE -STATIC_PCRE2 +TPROXY +LINUX_TPROXY +LINUX_SPLICE +LIBCRYPT +CRYPT_H +GETADDRINFO +OPENSSL +LUA +FUTEX +ACCEPT4 -CLOSEFROM +ZLIB -SLZ +CPU_AFFINITY +TFO +NS +DL +RT -DEVICEATLAS -51DEGREES -WURFL +SYSTEMD -OBSOLETE_LINKER +PRCTL +THREAD_DUMP -EVPORTS

Default settings :
  bufsize = 16384, maxrewrite = 1024, maxpollevents = 200

Built with multi-threading support (MAX_THREADS=64, default=32).
Built with OpenSSL version : OpenSSL 1.1.1f  31 Mar 2020
Running on OpenSSL version : OpenSSL 1.1.1f  31 Mar 2020
OpenSSL library supports TLS extensions : yes
OpenSSL library supports SNI : yes
OpenSSL library supports : TLSv1.0 TLSv1.1 TLSv1.2 TLSv1.3
Built with Lua version : Lua 5.3.3
Built with network namespace support.
Built with the Prometheus exporter as a service
Built with zlib version : 1.2.11
Running on zlib version : 1.2.11
Compression algorithms supported : identity("identity"), deflate("deflate"), raw-deflate("deflate"), gzip("gzip")
Built with transparent proxy support using: IP_TRANSPARENT IPV6_TRANSPARENT IP_FREEBIND
Built with transparent proxy support using: IP_TRANSPARENT IPV6_TRANSPARENT IP_FREEBIND
Built with PCRE2 version : 10.34 2019-11-21
PCRE2 library supports JIT : yes
Encrypted password support via crypt(3): yes
Built with gcc compiler version 9.3.0

Available polling systems :
      epoll : pref=300,  test result OK
       poll : pref=200,  test result OK
     select : pref=150,  test result OK
Total: 3 (3 usable), will use epoll.

Available multiplexer protocols :
(protocols marked as <default> cannot be specified using 'proto' keyword)
              h2 : mode=HTTP       side=FE|BE     mux=H2
            fcgi : mode=HTTP       side=BE        mux=FCGI
       <default> : mode=HTTP       side=FE|BE     mux=H1
       <default> : mode=TCP        side=FE|BE     mux=PASS

Available services :
	prometheus-exporter

Available filters :
	[SPOE] spoe
	[CACHE] cache
	[FCGI] fcgi-app
	[COMP] compression
	[TRACE] trace
```

</details>

and

`Linux c-1fff 5.4.0-52-generic #57-Ubuntu SMP Thu Oct 15 10:57:00 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

N.B. This is 2.3 on Ubuntu Focal, but we had the same problems on 2.2/Ubuntu Bionic.

In 2.2, we added in HAProxy the ability to use Additional records from SRV responses when available. I wonder if this could be related.

Why do you need this option: `resolve-opts allow-dup-ip` ? Can you try without it?

What do you mean by "a lot of changes" happen? What type of changes are you speaking about?

> In 2.2, we added in HAProxy the ability to use Additional records from SRV responses when available. I wonder if this could be related.

LMK if I can query something for you.

```
$ dig  SRV _cdn._env-prod.service.consul

; <<>> DiG 9.16.1-Ubuntu <<>> SRV _cdn._env-prod.service.consul
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 52969
;; flags: qr rd ra; QUERY: 1, ANSWER: 4, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 65494
;; QUESTION SECTION:
;_cdn._env-prod.service.consul.	IN	SRV

;; ANSWER SECTION:
_cdn._env-prod.service.consul. 0 IN	SRV	1 1 22528 0a03004f.addr.scaleup.consul.
_cdn._env-prod.service.consul. 0 IN	SRV	1 1 31729 0a03004c.addr.scaleup.consul.
_cdn._env-prod.service.consul. 0 IN	SRV	1 1 21041 0a03004c.addr.scaleup.consul.
_cdn._env-prod.service.consul. 0 IN	SRV	1 1 29232 0a030058.addr.scaleup.consul.

;; Query time: 3 msec
;; SERVER: 127.0.0.53#53(127.0.0.53)
;; WHEN: Fri Nov 20 16:55:08 CET 2020
;; MSG SIZE  rcvd: 250
```

The fact that it takes many changes at once points to some kind of concurrency bug to me though.

> Why do you need this option: `resolve-opts allow-dup-ip` ? Can you try without it?

That option enables me to have more than one service per node. While I try to avoid that, it definitely **does** happen when a node gets drained. I remember that I was awaiting that very option so I can switch to DNS-SD (look, it's me on the forums in 2018: https://discourse.haproxy.org/t/using-srv-record-multiple-entries-per-ip-gets-no-ip-for-server/2052/6 :))

> What do you mean by "a lot of changes" happen? What type of changes are you speaking about?

Nothing particular! Just that it was an active part in development.

Interesting, Consul is not returning any Additional records. Did you enable a specific configuration flag to turn on this behavior?
I want to try this in my consul lab.

If no Additional records are returned, HAProxy should fall back to previous 2.2 behavior and create a "sub" resolution for each SRV record found and associated to a server.

> Interesting, Consul is not returning any Additional records. Did you enable a specific configuration flag to turn on this behavior?

I will check with my colleague, I don't run our Consul cluster. (**edit**: my coworker confirmed that we leave all DNS options on default)

I've checked the config for now but it doesn't look like it:

```json
{
    "data_dir": "/vrmd/consul/data",
    "log_level": "INFO",
    "ca_file": "/etc/consul.d/tls/*.XXX.ca",
    "cert_file": "/etc/consul.d/tls/*.XXX.crt",
    "key_file": "/etc/consul.d/tls/*.XXX.key",
    "verify_incoming": true,
    "verify_outgoing": true,
    "primary_datacenter": "scaleup",
    "datacenter": "scaleup",
    "bind_addr": "XXX",
    "ui": true,
    "acl": {
        "enabled": true,
        "default_policy": "deny",
        "down_policy": "extend-cache",
        "tokens": {
            "agent": "XXX"
        }
    },
    "retry_join": ["XXX","XXX","XXX"]
}
```

> I want to try this in my consul lab.

At the risk of repeating myself: it's not enough to change a bunch of services. It has to be dozens at once to trigger this bug. Normal deployments with up to 4 services changing works perfectly fine.

> HAProxy should fall back to previous 2.2 behavior 

Should this be "2.1"? Because 2.2 has the same erroneous behavior.

Hi, I encounter more or less the same bug. Nomad + Consul + Dnsmaq + Haproxy 2.3.1. When I perform nodes drain/rolling update/etc some of my services become "red" and stay red in my haproxy status page, even if everything is green consul side :(. 

Everything become green again when I reload my haproxy containers. As if haproxy stops resolving and updating my "server-template" list after a while.

In my case my consul servers config is a bit customized but I can try to disable those perf tweak to verify if it fix the problem: 

```
# cat consul.d/50custom.json
{
    "dns_config": {
        "allow_stale": true,
        "max_stale": "87600h",
        "node_ttl": "3600s",
        "service_ttl": {
            "*": "5s"
        },
        "soa": {
            "expire": 86400,
            "min_ttl": 60,
            "refresh": 3600,
            "retry": 600
        },
        "use_cache": true
    }
}
```

I use Haproxy in this stack since version 1.8 (and I'm happy to use it :)), and In my memories this problem wasn't inexistent until version 2.1.x. It's not really a problem if some `server-template` slots stay "red" cuz I try to have "lots" of replicas. But my monitoring tend to pages when some backend are down and stay down :) 

Edit:

My resolver config: 

```
resolvers consul
  parse-resolv-conf
  accepted_payload_size 8192
  resolve_retries 3
  timeout retry 1s
  hold other 10s
  hold refused 10s
  hold nx 10s
  hold timeout 5s
  hold valid 5s
```

And a backend exemple: 

```
backend webhook
  balance random(2)
  mode http
  option forwardfor
  option httpchk
  http-check send meth HEAD uri / ver HTTP/1.1 hdr Host webhook.xxx.com
  server-template webhook 3 _webhook-xxx-com-nginx._tcp.service.consul inter 5s resolvers consul resolve-prefer ipv4 check
```


@hynek there is something different between your response and the one I see in my consul:

```
dig _www._tcp.service.dc1.consul -p 8600 @172.22.0.2 -t SRV

; <<>> DiG 9.16.1-Ubuntu <<>> _www._tcp.service.dc1.consul -p 8600 @172.22.0.2 -t SRV
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 64643
;; flags: qr aa rd; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 3
;; WARNING: recursion requested but not available

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;_www._tcp.service.dc1.consul.  IN      SRV

;; ANSWER SECTION:
_www._tcp.service.dc1.consul. 0 IN      SRV     1 1 80 cdc92cb3082e.node.dc1.consul.

;; ADDITIONAL SECTION:
cdc92cb3082e.node.dc1.consul. 0 IN      A       172.22.0.4
cdc92cb3082e.node.dc1.consul. 0 IN      TXT     "consul-network-segment="

;; Query time: 4 msec
;; SERVER: 172.22.0.2#8600(172.22.0.2)
;; WHEN: dim. nov. 22 20:11:02 CET 2020
;; MSG SIZE  rcvd: 157
```

As you can see, I have ADDITIONAL records which is the resolution of the fqdn pointed to by consul. In your case, you don't have them. That said, there is another big difference which might be the cause of the missing ADDITIONAL section: my consul makes the SRV records point to "nodes" while yours make it point to "addr". Can you let me know how you register your services?

Sorry to be dense on the "multiple changes" part, but it's important for me to understand the full picture. Are you modifying many SRV records multiple times in a very short period of times?


@bdossantos can you provide a "dig -t SRV" against your SRV record in consul and share the output here or to my mail address directly?
Can you also confirm that this problem started in 2.1?

> @bdossantos can you provide a "dig -t SRV" against your SRV record in consul and share the output here or to my mail address directly?
> Can you also confirm that this problem started in 2.1?

Here is a dig output:

```
~$ dig -t SRV _elasticsearch-http._tcp.service.consul

; <<>> DiG 9.11.5-P4-5.1+deb10u2-Debian <<>> -t SRV _elasticsearch-http._tcp.service.consul
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 25392
;; flags: qr aa rd ra; QUERY: 1, ANSWER: 16, AUTHORITY: 0, ADDITIONAL: 17

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;_elasticsearch-http._tcp.service.consul. IN SRV

;; ANSWER SECTION:
_elasticsearch-http._tcp.service.consul. 5 IN SRV 1 1 9200 ac100037.addr.europe.consul.
_elasticsearch-http._tcp.service.consul. 5 IN SRV 1 1 9200 ac10003b.addr.europe.consul.
_elasticsearch-http._tcp.service.consul. 5 IN SRV 1 1 9200 ac100045.addr.europe.consul.
_elasticsearch-http._tcp.service.consul. 5 IN SRV 1 1 9200 ac100039.addr.europe.consul.
_elasticsearch-http._tcp.service.consul. 5 IN SRV 1 1 9200 ac100017.addr.europe.consul.
_elasticsearch-http._tcp.service.consul. 5 IN SRV 1 1 9200 ac100034.addr.europe.consul.
_elasticsearch-http._tcp.service.consul. 5 IN SRV 1 1 9200 ac100044.addr.europe.consul.
_elasticsearch-http._tcp.service.consul. 5 IN SRV 1 1 9200 ac100016.addr.europe.consul.
_elasticsearch-http._tcp.service.consul. 5 IN SRV 1 1 9200 ac100036.addr.europe.consul.
_elasticsearch-http._tcp.service.consul. 5 IN SRV 1 1 9200 ac100038.addr.europe.consul.
_elasticsearch-http._tcp.service.consul. 5 IN SRV 1 1 9200 ac10003a.addr.europe.consul.
_elasticsearch-http._tcp.service.consul. 5 IN SRV 1 1 9200 ac10003d.addr.europe.consul.
_elasticsearch-http._tcp.service.consul. 5 IN SRV 1 1 9200 ac100035.addr.europe.consul.
_elasticsearch-http._tcp.service.consul. 5 IN SRV 1 1 9200 ac100032.addr.europe.consul.
_elasticsearch-http._tcp.service.consul. 5 IN SRV 1 1 9200 ac10003c.addr.europe.consul.
_elasticsearch-http._tcp.service.consul. 5 IN SRV 1 1 9200 ac100033.addr.europe.consul.

;; ADDITIONAL SECTION:
ac100037.addr.europe.consul. 5  IN      A       172.16.0.55
ac10003b.addr.europe.consul. 5  IN      A       172.16.0.59
ac100045.addr.europe.consul. 5  IN      A       172.16.0.69
ac100039.addr.europe.consul. 5  IN      A       172.16.0.57
ac100017.addr.europe.consul. 5  IN      A       172.16.0.23
ac100034.addr.europe.consul. 5  IN      A       172.16.0.52
ac100044.addr.europe.consul. 5  IN      A       172.16.0.68
ac100016.addr.europe.consul. 5  IN      A       172.16.0.22
ac100036.addr.europe.consul. 5  IN      A       172.16.0.54
ac100038.addr.europe.consul. 5  IN      A       172.16.0.56
ac10003a.addr.europe.consul. 5  IN      A       172.16.0.58
ac10003d.addr.europe.consul. 5  IN      A       172.16.0.61
ac100035.addr.europe.consul. 5  IN      A       172.16.0.53
ac100032.addr.europe.consul. 5  IN      A       172.16.0.50
ac10003c.addr.europe.consul. 5  IN      A       172.16.0.60
ac100033.addr.europe.consul. 5  IN      A       172.16.0.51

;; Query time: 1 msec
;; SERVER: 172.16.0.13#53(172.16.0.13)
;; WHEN: Sun Nov 22 21:18:41 UTC 2020
;; MSG SIZE  rcvd: 1076
```

I can't confirm/remember exactly if it started in 2.1.x or 2.0.x, but what I can try : spawn an isolated instance of an "old" version of haproxy with the same configuration watching few consul services, and observe if I have the same behaviors.

nb: I use consul 1.8.6

I think about it, maybe the problem appeared when I updated consul from version 1.7.4 -> 1.8.0 in June. Not sure :/

There has been a change in HAProxy related to SRV in 2.2: https://github.com/haproxy/wiki/wiki/Domain-Name-Resolution-(DNS)#history-of-domain-name-resolution-in-haproxy
So if you can run on the side a 2.2+, it would be great and a 2.0, it would be great.
Your DNS response seem accurate.

I am sure this is the case, but worth mentioning it: can you confirm that the number of server-template lines is bigger (or at least as big as) the records returned by consul?

When your servers are "red" in HAProxy, you can run a "show servers state" on the runtime API, it will display you the IP address and the fqdn from the SRV record list associated to each server. Then you can compare this to the output of a "dig -t srv" for the same record.

@hynek same question for you, when the issue occurs, can you compare the output of a "show servers state" with the "dig -t srv" ?

So we meet again Benjamin! The two HAProxy-with-DNS-SD users! 🤪

> @hynek there is something different between your response and the one I see in my consul:

> As you can see, I have ADDITIONAL records which is the resolution of the fqdn pointed to by consul. In your case, you don't have them. That said, there is another big difference which might be the cause of the missing ADDITIONAL section: my consul makes the SRV records point to "nodes" while yours make it point to "addr".

Ah sorry, I get those too, when I talk directly to consul (as HAProxy does):

```
; <<>> DiG 9.16.1-Ubuntu <<>> cdn.service.consul -t SRV -p 8600 @127.0.0.1
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 4472
;; flags: qr aa rd; QUERY: 1, ANSWER: 4, AUTHORITY: 0, ADDITIONAL: 9
;; WARNING: recursion requested but not available

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;cdn.service.consul.		IN	SRV

;; ANSWER SECTION:
cdn.service.consul.	0	IN	SRV	1 1 31729 0a03004c.addr.scaleup.consul.
cdn.service.consul.	0	IN	SRV	1 1 21041 0a03004c.addr.scaleup.consul.
cdn.service.consul.	0	IN	SRV	1 1 29232 0a030058.addr.scaleup.consul.
cdn.service.consul.	0	IN	SRV	1 1 22528 0a03004f.addr.scaleup.consul.

;; ADDITIONAL SECTION:
0a03004c.addr.scaleup.consul. 0	IN	A	10.3.0.76
h-004c.node.scaleup.consul. 0	IN	TXT	"consul-network-segment="
0a03004c.addr.scaleup.consul. 0	IN	A	10.3.0.76
h-004c.node.scaleup.consul. 0	IN	TXT	"consul-network-segment="
0a030058.addr.scaleup.consul. 0	IN	A	10.3.0.88
h-0058.node.scaleup.consul. 0	IN	TXT	"consul-network-segment="
0a03004f.addr.scaleup.consul. 0	IN	A	10.3.0.79
h-004f.node.scaleup.consul. 0	IN	TXT	"consul-network-segment="

;; Query time: 3 msec
;; SERVER: 127.0.0.1#8600(127.0.0.1)
;; WHEN: Mon Nov 23 09:36:04 CET 2020
;; MSG SIZE  rcvd: 473
```

(N.B. that there's two services on node  `0a03004c.addr.scaleup.consul.` hence the `allow-dup-ip` option).

>  Can you let me know how you register your services?

Nomad does that for me. Since both are Hashi products, they are well-integrated. 

> Sorry to be dense on the "multiple changes" part, but it's important for me to understand the full picture. Are you modifying many SRV records multiple times in a very short period of times?

Yes, possibly hundreds at once. A cluster node can have up to 200 allocations in our case. When I drain it, it moves them elsewhere and updates the SRV records accordingly. This can mean that dozens of services are registered within one second when the services start coming up again.

---

To be clear: I can move freely between 2.3, 2.2, and 2.1 and moving to 2.1 reliably fixes my problems. I'm currently back on 2.2 because 2.3 stopped logging accesses and I don't have the time to figure out why rn (I've read there's been changes in 2.3).

I've just drained our biggest node and it was again cdn who failed. _Maybe_ interesting: it's the only service that has 4 backends. `cdn-4` is the one that doesn't come up:

```
# dig _cdn._env-prod.service.consul -t SRV -p 8600 @127.0.0.1

; <<>> DiG 9.16.1-Ubuntu <<>> _cdn._env-prod.service.consul -t SRV -p 8600 @127.0.0.1
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 52313
;; flags: qr aa rd; QUERY: 1, ANSWER: 4, AUTHORITY: 0, ADDITIONAL: 9
;; WARNING: recursion requested but not available

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;_cdn._env-prod.service.consul.	IN	SRV

;; ANSWER SECTION:
_cdn._env-prod.service.consul. 0 IN	SRV	1 1 21018 0a030041.addr.scaleup.consul.
_cdn._env-prod.service.consul. 0 IN	SRV	1 1 29232 0a030058.addr.scaleup.consul.
_cdn._env-prod.service.consul. 0 IN	SRV	1 1 30562 0a03004c.addr.scaleup.consul.
_cdn._env-prod.service.consul. 0 IN	SRV	1 1 22628 0a030041.addr.scaleup.consul.

;; ADDITIONAL SECTION:
0a030041.addr.scaleup.consul. 0	IN	A	10.3.0.65
h-0041.node.scaleup.consul. 0	IN	TXT	"consul-network-segment="
0a030058.addr.scaleup.consul. 0	IN	A	10.3.0.88
h-0058.node.scaleup.consul. 0	IN	TXT	"consul-network-segment="
0a03004c.addr.scaleup.consul. 0	IN	A	10.3.0.76
h-004c.node.scaleup.consul. 0	IN	TXT	"consul-network-segment="
0a030041.addr.scaleup.consul. 0	IN	A	10.3.0.65
h-0041.node.scaleup.consul. 0	IN	TXT	"consul-network-segment="

;; Query time: 0 msec
;; SERVER: 127.0.0.1#8600(127.0.0.1)
;; WHEN: Mon Nov 23 09:56:53 CET 2020
;; MSG SIZE  rcvd: 484
```

vs

```
17 bk_cdn 1 cdn-1 10.3.0.88 2 64 1 1 157358 15 3 4 6 0 0 0 0a030058.addr.scaleup.consul 29232 _cdn._env-prod.service.consul
17 bk_cdn 2 cdn-2 10.3.0.65 2 64 1 1 522 15 3 4 6 0 0 0 0a030041.addr.scaleup.consul 22628 _cdn._env-prod.service.consul
17 bk_cdn 3 cdn-3 10.3.0.76 2 64 1 1 219 15 3 4 6 0 0 0 0a03004c.addr.scaleup.consul 30562 _cdn._env-prod.service.consul
17 bk_cdn 4 cdn-4 10.3.0.79 0 64 1 1 205 8 2 0 6 0 0 0 0a030041.addr.scaleup.consul 21018 _cdn._env-prod.service.consul
```

They seem to have the same value.

And the value is correct:

```
# curl -I http://0a030041.addr.scaleup.consul:21018/jqwidont/0.1/jqwidont-compressed.js
HTTP/1.1 200 OK
...
```

---

I haven't reloaded it this time in case you want me to prod something more.

Actually, the DNS query and the servers state don't report the same thing: if you look cdn-4 server in state file, it has the wrong IP address (10.3.0.79) versus 10.3.0.65 in the response sent by consul. cdn-2 server was updated properly.
My guess is that the algorithm which updates SRV stops at "first match", which triggers a "leak" in your case.

Ohh yeah, it resolves the SRV correctly, but then fails to resolve the hostname of the service and/or propagate it into HAProxy.

I think it's obvious but just for posterity: the A record of `0a030041.addr.scaleup.consul` **never** changes.

Well, that sure is a first solid lead for you! :) Can I reload my HAProxy now or do you need anything else?

I think I have what I need, you can reload your HAProxy :)

I also found a way to reproduce your setup in consul:
```
docker-compose exec www consul services register -name=www -port=80 -id=80
docker-compose exec www consul services register -name=www -port=81 -id=81
```
Now consul exposes me the following:
```
;; ANSWER SECTION:
_www._tcp.service.dc1.consul. 0 IN      SRV     1 1 80 cdc92cb3082e.node.dc1.consul.
_www._tcp.service.dc1.consul. 0 IN      SRV     1 1 81 cdc92cb3082e.node.dc1.consul.

;; ADDITIONAL SECTION:
cdc92cb3082e.node.dc1.consul. 0 IN      A       172.22.0.4
cdc92cb3082e.node.dc1.consul. 0 IN      TXT     "consul-network-segment="
cdc92cb3082e.node.dc1.consul. 0 IN      A       172.22.0.4
cdc92cb3082e.node.dc1.consul. 0 IN      TXT     "consul-network-segment="
```

By the way, you can remove those useless (for HAProxy today) TXT records by enabling this option: https://www.consul.io/docs/agent/options#enable_additional_node_meta_txt

> By the way, you can remove those useless (for HAProxy today) TXT records by enabling this option: https://www.consul.io/docs/agent/options#enable_additional_node_meta_txt

Is there any reason to do that, except that it's not necessary rn? I prefer to run our stuff as stock as possible since it usually bears the least surprises.

Only if you have big farms and want to have more records in the limited 8K responses :)

So, while I can't reproduce the problem with my consul environment (even with a fake DNS server), I found a bug which might be the same as yours: when the server returns the same hostname in SRV target, the first one is well taken into account, but the next ones are ignored and fall back to A/AAAA resolution.
This means that HAProxy currently send a SRV query for all servers and A /AAAA for any duplicated ones. The patch in attachment prevents this behavior and ensure that all duplicated answer records (SRV here) are well linked to an additional record and so only managed by SRV records.

[0001-BUG-MINOR-dns-SRV-records-ignores-duplicated-AN-reco.patch.txt](https://github.com/haproxy/haproxy/files/5595015/0001-BUG-MINOR-dns-SRV-records-ignores-duplicated-AN-reco.patch.txt)

Could you please give it a try and tell me if that helps or not?

I tried many types of changes in my DNS server and I could not find trigger the issue (with or without the patch), that said, with the patch, I don't see anymore A/AAAA queries sent by HAProxy.


I'm afraid I have no infra to test that so we'll have to wait for a release and re-convene?

Ok, I can prepare a patch and get it backported so you can test, hopefully this will fix it :).
I keep you updated once the patch is available.

How do you deploy HAProxy today?

We run a mirror of the unofficial PPA. That's why I can switch between versions easily.

@bdossantos do you have a chance to give a try to that patch before I send it upstream?

Hi, thank you for the patch. To test I need to build manually a custom docker image with you branch. Not sure I'll have the time today.

sure no rush :)
In the mean time, I'll run some more tests.

So, I tried to reproduce your issue by generating many cases, introducing NX in the mix, etc.. But I couldn't.
I sent the patch to the ML this morning and asked for a backport to 2.2.

Adding a 2 cents here. I spent some time yesterday and today to install a Nomad + Consul cluster. First time I played with Nomad by the way.
I was able to reproduce the problem when I shutdown one of the nomad client where instances of my application is running. Then, I checked again with a "patched" HAProxy and I can confirm the patch fixed the bug.

I'll update you once it has been accepted and backported.

Wonderful, thank you! You may want to update the tags. :)

> Adding a 2 cents here. I spent some time yesterday and today to install a Nomad + Consul cluster. First time I played with Nomad by the way.
> I was able to reproduce the problem when I shutdown one of the nomad client where instances of my application is running. Then, I checked again with a "patched" HAProxy and I can confirm the patch fixed the bug.
> 
> I'll update you once it has been accepted and backported.

Magnifique ! Merci

@hynek  what tags are you speaking about?

So, I reviewed the patch and it will work in a single case, which seems to be the way consul works, but I have no idea for other DNS servers.
The case is that for each SRV records, then we must find a A/AAAA in the additional section. IE:

       ;; ANSWER SECTION:
       _http._tcp.be2.tld.     3600    IN      SRV     5 500 80 A2.tld.
       _http._tcp.be2.tld.     3600    IN      SRV     5 500 86 A3.tld.
       _http._tcp.be2.tld.     3600    IN      SRV     5 500 80 A1.tld.
       _http._tcp.be2.tld.     3600    IN      SRV     5 500 85 A3.tld.
    
       ;; ADDITIONAL SECTION:
       A2.tld.                 3600    IN      A       192.168.0.2
       A3.tld.                 3600    IN      A       192.168.0.3
       A1.tld.                 3600    IN      A       192.168.0.1
       A3.tld.                 3600    IN      A       192.168.0.3

It will work.

That said, if you remove the second A3.tld A record from the additional section, then the second SRV record (on port 85) will fall back to the current way of working.
I could provide a solution that will work for both use cases and will stop at first A / AAAA record found in Additional section that will match, but I wonder if that makes sense and it won't cover the case where a A record owns multiple entries and we would like to round-robing them. IE, A3.tld now has 2 IP addresses

       ;; ADDITIONAL SECTION:
       A2.tld.                 3600    IN      A       192.168.0.2
       A3.tld.                 3600    IN      A       192.168.0.3
       A1.tld.                 3600    IN      A       192.168.0.1
       A3.tld.                 3600    IN      A       192.168.0.4

If you think current implementation is good enough, then I'll push it upstream (it's on hold status for now).

The RFC 2782 is not very clear about that point:

    Target
        The domain name of the target host.  There MUST be one or more
        address records for this name, the name MUST NOT be an alias (in
        the sense of RFC 1034 or RFC 2181).  Implementors are urged, but
        not required, to return the address record(s) in the Additional
        Data section.  Unless and until permitted by future standards
        action, name compression is not to be used for this field.

        A Target of "." means that the service is decidedly not
        available at this domain.


> @hynek what tags are you speaking about?

`status: needs-triage` mostly.

> The RFC 2782 is not very clear about that point:

Since the RFC is clear and Consul does what the RFC wants, I'm more than happy with your solution. :)

I checked coredns and it works the same way as Consul.
I think it's safe to use since Consul and kubernetes may be the biggest use cases for SRV records.

JFTR, this issue seems to have gotten more pronounced recently. Maybe due to the update to Consul 1.9(.1)? Now after a drain, almost all Services have one red backend left. Reloading HAProxy still fixes it. 🤔

Updating my consul lab to 1.9.1 and check if the patch fixes this version too. 
I'll send the patch upstream this week-end.

Tested with 1.9.1 and it works well.
Patch sent to the mailing list with backport requested to 2.2 and above

> Tested with 1.9.1 and it works well.
> Patch sent to the mailing list with backport requested to 2.2 and above

Thank you!

the patch has been integrated but not yet backported to 2.2 and above.

> the patch has been integrated but not yet backported to 2.2 and above.

Cool ! I'm patiently waiting for 2.3.3 :-)

Pff you kids and your baggy pants and fancy version. 2.2.7 is fine, thank you very much. ;)

> the patch has been integrated but not yet backported to 2.2 and above.

So, should this be labeled “fixed” + 2.2 and 2.3?

JFTR, I can't tell you whether or not this bug is fixed, because both 2.2.7 and 2.3.3 segfault for me on startup while/right after DNS-SD.

> JFTR, I can't tell you whether or not this bug is fixed, because both 2.2.7 and 2.3.3 segfault for me on startup while/right after DNS-SD.

Hello! Same for me 😁. Tried to upgrade to 2.3.3 and I have a segfault ... 🤔

@hynek, @bdossantos, if you have a core, could you provide the full gdb trace ? Thanks.

We reverted the commit 8461b9e (not backported yet). Another way to fix the issue is under evaluation.

Unfortunately I do not have one and I've used up my downtime quota when trying to upgrade. 😬

@hynek, no pb. I truly understand. The commit was now reverted in the 2.3 and 2.2. New releases are on the way. I just want to check with @bedis if a fix for this issue is feasible in the meantime.

FYI, the 2.3.4 and 2.2.8 have been released with the commit 8461b9e reverted. Unfortunately, that leaves this issue unresolved for now.

I'm happy to confirm that 2.2.8 doesn't crash on startup anymore.

Hi,
Baptiste proposed a second version of the patch which we merged into 2.4. A pointer initialization was missing, causing random failures as soon as a previous non-null value was found there. This time it resisted memory poisoonning and passed all tests. I'm attaching the patch for convenience, it would be nice if those affected by the original issue could test it again, it should apply fine on top of 2.3 and 2.2. We'll backport it ASAP.

[0001-BUG-MINOR-dns-SRV-records-ignores-duplicated-AR-reco.patch.txt](https://github.com/haproxy/haproxy/files/5821608/0001-BUG-MINOR-dns-SRV-records-ignores-duplicated-AR-reco.patch.txt)


Hi Willy, I'm honored you took the time for my humble bug. :) Unfortunately I have no easy way to just build and test an HAProxy. We're very small scale & use Vincent's PPA. If you gave me a blessed binary I could try to pop it in at 5am and try draining a few nodes.

Hi, more or less in the same case, the difference is all my haproxy are dockerized. If you have an image tagged with the patch I can test it on a drained node.

I'm OK with emitting a new bunch of versions soon if that helps. We're just having a few issues being diagnosed at the moment that I'd like to know more about to know if they'll also deserve a release. Better keep them a bit grouped.

FWIW, as obnoxious as this bug is, I've lived it for so long now, that I'm in no rush. I'm happy whatever release you make it part of as long as it gets fixed eventually.

FYI, the patch was backported to 2.3 and 2.2 and is included in last releases (2.3.5 and 2.2.9).

Thanks I've noticed! I didn't want to comment until I had the opportunity to do a full cluster drain that triggers the bug.

No problem. We will keep the issue open, waiting for your confirmation. Thanks !

I've just updated/rebooted the whole cluster and everything looks good. Thanks for the fix, I realize bugs like this are pesky!