Differing proxied requests when client request are h2 or http/1.1

## Output of `haproxy -vv` and `uname -a`

(Using the docker image `haproxy:2.1.7`)

```
HA-Proxy version 2.1.7 2020/06/09 - https://haproxy.org/
Status: stable branch - will stop receiving fixes around Q1 2021.
Known bugs: http://www.haproxy.org/bugs/bugs-2.1.7.html
Running on: Linux 4.19.109+ #1 SMP Mon Mar 16 06:27:01 PDT 2020 x86_64
Build options :
  TARGET  = linux-glibc
  CPU     = generic
  CC      = gcc
  CFLAGS  = -O2 -g -fno-strict-aliasing -Wdeclaration-after-statement -fwrapv -Wno-unused-label -Wno-sign-compare -Wno-unused-parameter -Wno-old-style-declaration -Wno-ignored-qualifiers -Wno-clobbered -Wno-missing-field-initializers -Wno-implicit-fallthrough -Wno-stringop-overflow -Wno-cast-function-type -Wtype-limits -Wshift-negative-value -Wshift-overflow=2 -Wduplicated-cond -Wnull-dereference
  OPTIONS = USE_PCRE2=1 USE_PCRE2_JIT=1 USE_GETADDRINFO=1 USE_OPENSSL=1 USE_LUA=1 USE_ZLIB=1

Feature list : +EPOLL -KQUEUE -MY_EPOLL -MY_SPLICE +NETFILTER -PCRE -PCRE_JIT +PCRE2 +PCRE2_JIT +POLL -PRIVATE_CACHE +THREAD -PTHREAD_PSHARED -REGPARM -STATIC_PCRE -STATIC_PCRE2 +TPROXY +LINUX_TPROXY +LINUX_SPLICE +LIBCRYPT +CRYPT_H -VSYSCALL +BACKTRACE +GETADDRINFO +OPENSSL +LUA +FUTEX +ACCEPT4 -MY_ACCEPT4 +ZLIB -SLZ +CPU_AFFINITY +TFO +NS +DL +RT -DEVICEATLAS -51DEGREES -WURFL -SYSTEMD -OBSOLETE_LINKER +PRCTL +THREAD_DUMP -EVPORTS

Default settings :
  bufsize = 16384, maxrewrite = 1024, maxpollevents = 200

Built with multi-threading support (MAX_THREADS=64, default=2).
Built with OpenSSL version : OpenSSL 1.1.1d  10 Sep 2019
Running on OpenSSL version : OpenSSL 1.1.1d  10 Sep 2019
OpenSSL library supports TLS extensions : yes
OpenSSL library supports SNI : yes
OpenSSL library supports : TLSv1.0 TLSv1.1 TLSv1.2 TLSv1.3
Built with Lua version : Lua 5.3.3
Built with network namespace support.
Built with transparent proxy support using: IP_TRANSPARENT IPV6_TRANSPARENT IP_FREEBIND
Built with PCRE2 version : 10.32 2018-09-10
PCRE2 library supports JIT : yes
Encrypted password support via crypt(3): yes
Built with zlib version : 1.2.11
Running on zlib version : 1.2.11
Compression algorithms supported : identity("identity"), deflate("deflate"), raw-deflate("deflate"), gzip("gzip")
Built with the Prometheus exporter as a service

Available polling systems :
      epoll : pref=300,  test result OK
       poll : pref=200,  test result OK
     select : pref=150,  test result OK
Total: 3 (3 usable), will use epoll.

Available multiplexer protocols :
(protocols marked as <default> cannot be specified using 'proto' keyword)
              h2 : mode=HTTP       side=FE|BE     mux=H2
            fcgi : mode=HTTP       side=BE        mux=FCGI
       <default> : mode=HTTP       side=FE|BE     mux=H1
       <default> : mode=TCP        side=FE|BE     mux=PASS

Available services :
	prometheus-exporter

Available filters :
	[SPOE] spoe
	[CACHE] cache
	[FCGI] fcgi-app
	[TRACE] trace
	[COMP] compression
```

```
Linux haproxy-8d9a984-8658658878-k6pm8 4.19.109+ #1 SMP Mon Mar 16 06:27:01 PDT 2020 x86_64 GNU/Linux
```

## What's the configuration?


```
global
    debug
    log stdout format raw daemon debug
    chroot /var/lib/haproxy
#    stats socket /var/run/haproxy/admin.sock mode 660 level admin
#    stats timeout 30s
    user haproxy
    group haproxy

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

# generated 2020-03-20, Mozilla Guideline v5.4, HAProxy 2.1, OpenSSL 1.1.1d, intermediate configuration
# https://ssl-config.mozilla.org/#server=haproxy&version=2.1&config=intermediate&openssl=1.1.1d&guideline=5.4
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

    ssl-default-server-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

    ssl-dh-param-file /usr/local/etc/haproxy/dhparam.pem

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    monitor-uri /api/alive
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    errorfile 400 /usr/local/etc/haproxy/errors/400.http
    errorfile 403 /usr/local/etc/haproxy/errors/403.http
    errorfile 408 /usr/local/etc/haproxy/errors/408.http
    errorfile 500 /usr/local/etc/haproxy/errors/500.http
    errorfile 502 /usr/local/etc/haproxy/errors/502.http
    errorfile 503 /usr/local/etc/haproxy/errors/503.http
    errorfile 504 /usr/local/etc/haproxy/errors/504.http
frontend web
    bind :80

    capture request header X-Forwarded-For len 50
    capture request header User-Agent len 200
    capture request header Host len 100
    log-format "%ci %b/%s %Tr ms %B bytes %{+Q}hrl %ST %{+Q}r"

    acl foobar_request hdr(X-foobar) -m str true
    http-request del-header X-foobar if foobar_request

    use_backend armeria

bind :443 ssl alpn h2,http/1.1,grpc-exp crt /etc/foobar/tls.pem crt /usr/local/etc/haproxy/22.pem crt /usr/local/etc/haproxy/6.pem crt /usr/local/etc/haproxy/3.pem crt /usr/local/etc/haproxy/23.pem crt /usr/local/etc/haproxy/1.pem crt /usr/local/etc/haproxy/5.pem crt /usr/local/etc/haproxy/7.pem crt /usr/local/etc/haproxy/2.pem crt /usr/local/etc/haproxy/8.pem crt /usr/local/etc/haproxy/9.pem crt /usr/local/etc/haproxy/10.pem crt /usr/local/etc/haproxy/11.pem crt /usr/local/etc/haproxy/12.pem crt /usr/local/etc/haproxy/14.pem crt /usr/local/etc/haproxy/13.pem crt /usr/local/etc/haproxy/15.pem crt /usr/local/etc/haproxy/16.pem crt /usr/local/etc/haproxy/18.pem crt /usr/local/etc/haproxy/20.pem crt /usr/local/etc/haproxy/21.pem crt /usr/local/etc/haproxy/24.pem

    # HSTS (63072000 seconds)
    http-response set-header Strict-Transport-Security max-age=63072000

backend armeria
    balance roundrobin
    option forwardfor
    option httpchk GET /api/alive "HTTP/1.1\r\nHost: liveness-probe"
    server server1 foobar.default.svc.cluster.local:443 ssl verify none alpn h2 check check-alpn http/1.1
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }

    http-request set-path "%[path,regsub(^/foobar/,/,)]?%[query]"

    redirect scheme https if !{ ssl_fc }
```

## Steps to reproduce the behavior



1) Outside of haproxy
1a) curl -v https://xyvanus.staging.example.com -k
1b) curl -v https://xyvanus.staging.example.com --http1.1 -k
2) On the haproxy server
2a) curl -v https://xyvanus.staging.example.com -k --resolve xyvanus.staging.example.com:443:x.x.x.x
2b) curl -v https://xyvanus.staging.example.com --http1.1 -k --resolve xyvanus.staging.example.com:443:x.x.x.x

## Actual behavior

Unfortunately I cannot easily see the intermediate request, but this is what haproxy debug says for 
1a)
```
0000054d:web.accept(0008)=000d from [x.x.x.x:44344] ALPN=http/1.1
0000054d:web.clireq[000d:ffffffff]: GET / HTTP/1.1
0000054d:web.clihdr[000d:ffffffff]: host: xyvanus.staging.example.com
0000054d:web.clihdr[000d:ffffffff]: user-agent: curl/7.68.0
0000054d:web.clihdr[000d:ffffffff]: accept: */*
0000054d:armeria.srvrep[000d:000f]: HTTP/2.0 303 
0000054d:armeria.srvhdr[000d:000f]: location: https://www.example.com
0000054d:armeria.srvhdr[000d:000f]: content-length: 0
0000054d:armeria.srvhdr[000d:000f]: strict-transport-security: max-age=31536000; includeSubDomains; preload
0000054d:armeria.srvhdr[000d:000f]: x-rest-version: 0.0.1-YN-357-SNAPSHOT
0000054d:armeria.srvhdr[000d:000f]: x-robots-tag: noindex
0000054d:armeria.srvhdr[000d:000f]: server: Armeria/0.99.7
0000054d:armeria.srvhdr[000d:000f]: date: Fri, 26 Jun 2020 13:45:14 GMT
0000054d:armeria.srvcls[000d:000f]
0000054d:armeria.clicls[000d:000f]
0000054d:armeria.closed[000d:000f]
```

1b)
```
00000551:web.accept(0008)=000d from [x.x.x.x:44346] ALPN=h2
00000551:web.clireq[000d:ffffffff]: GET https://xyvanus.staging.example.com/ HTTP/2.0
00000551:web.clihdr[000d:ffffffff]: user-agent: curl/7.68.0
00000551:web.clihdr[000d:ffffffff]: accept: */*
00000551:web.clihdr[000d:ffffffff]: host: xyvanus.staging.example.com
00000551:armeria.srvrep[000d:000e]: HTTP/2.0 303
00000551:armeria.srvhdr[000d:000e]: location: https://www.example.com
00000551:armeria.srvhdr[000d:000e]: content-length: 0
00000551:armeria.srvhdr[000d:000e]: strict-transport-security: max-age=31536000; includeSubDomains; preload
00000551:armeria.srvhdr[000d:000e]: x-rest-version: 0.0.1-YN-357-SNAPSHOT
00000551:armeria.srvhdr[000d:000e]: x-robots-tag: noindex
00000551:armeria.srvhdr[000d:000e]: server: Armeria/0.99.7
00000551:armeria.srvhdr[000d:000e]: date: Fri, 26 Jun 2020 13:45:16 GMT
00000551:armeria.srvcls[000d:000e]
00000551:armeria.clicls[000d:000e]
```

2a and 2b obviously does not have any haproxy debugging.

What is yielded as hostname in the armeria end is:
1a) web-8d9a984-8658658878-k6pm8 (hostname of the backend server)
1b) xyvanus.staging.example.com
2a) xyvanus.staging.example.com
2b) xyvanus.staging.example.com

## Expected behavior

What is expected in Armeria as hostname is:
1a) xyvanus.staging.example.com
1b) xyvanus.staging.example.com
2a) xyvanus.staging.example.com
2b) xyvanus.staging.example.com

## Do you have any idea what may have caused this?

The backend server is Armeria (https://armeria.dev) 0.99.7.
Armeria is working on a fix for their part (https://github.com/line/armeria/issues/2846), but I believe there's an issue in HAproxy too, where the proxied requests differ depending on what protocol is used by the client. It seems similar to what happened with https://github.com/haproxy/haproxy/issues/509.

I believe that there is something fishy going on in the client http1.1 -> backend http2 hostname logic. It seems that the proxied requests differ, and that the Host header is not properly propagated into the http2 request uri when a http1.1 request is proxied.

## Do you have an idea how to solve the issue?

No, sorry.


I'm sorry but there is something I don't quite understand. You say that in 1a) the hostname sent is "web-8d9a984-8658658878-k6pm8" and that this is the host name of the backend server, but this one doesn't appear in the configuration you provided. Thus I suspect that instead it's the web server that uses its own host name as a replacement for the Host field when it doesn't find a Host header field in the request. And indeed, there is no need to send the Host header field in HTTP/2 since it is already passed in the `:authority` header.

Yes, sorry if it wasn't clear, but 1a) is the hostname of the backend server, not the haproxy server.

AFAIK, the Host field is redundant/unnecessary in the case of HTTP/2 transport, just as you wrote, but the bug is that they differ depending on the request to the haproxy server. I would happily accept Host header for all requests, or no requests, but that the proxied request differs depending on original protocol seems wrong.

I understand, it's just that the semantics used by clients for H1 and H2
differ. In H1 they only send a full URI to proxies and don't use that to
speak to origin servers. In H2 a full URI is always used. We've done our best
to make sure both remain as close as possible, and are extremely careful to
pass an authority on one side exclusively when there was one on the other
side, respecting RFC7540 as much as possible, but we cannot cross-dress a
request for another when they are really different at the source unfortunately.

But your case remains interesting because I'd like to see if there's anything
we could further improve the transparency there.


Ok, fair enough. I don't pretend to know what considerations you have to take into account, but is there any point in keeping the Host header h1 -> h2 request?

That's mandated by the spec (RFC7540 8.1.2.3). However I find it strange that the full URI was sent in this case, as for me we take great care of *not* doing it, we're even keeping an end-to-end flag to know whether an H1 request was sent fully qualified or not in order to decide how to send the H2 one. But it is possible that instead the server on the other side decided to artificially recompose a full URI from this request, because the spec is not obvious to get right on first read, and I seem to remember we used to make the exact same mistake in our very early version.

In haproxy-2.1, since b8ce8905c in a h1 --> h2 conversation, we don't emit `:authority` and maintain the `host` header. Before this we stripped the `host` header and used `:authority` instead.

If you want to confirm that this is it, downgrade to haproxy-2.0 which does not have this change.

This requires applications to check for both :authority as well as host header, but RFC7540 8.1.2.3 uses strong language here:

> To ensure that the HTTP/1.1 request line can be reproduced
> accurately, this pseudo-header field MUST be omitted when
> translating from an HTTP/1.1 request that has a request target in
> origin or asterisk form (see [RFC7230], Section 5.3).  Clients
> that generate HTTP/2 requests directly SHOULD use the ":authority"
> pseudo-header field instead of the Host header field.

So haproxy is required to do this as per the RFC, the application should fallback to the host header in this case, to cover this h1 -> h2 conversation case.

Ok, thanks a lot. As the RFC actually mandates it, it would be stupid to do something else. The language implies that they have seriously considered it. I don't pretend to understand why being able to go back to the original request line would be desirable, but it doesn't matter. 

Imho, there's nothing else to say but thanks for taking the time to explain this. While I suppose this could be documented somewhere, there's no point imho as the RFC states it clearly. Hopefully if someone else has problems with this, they'll find this invalid bug report.

Yet again, thanks to the both of you for the clarification and thanks for haproxy!

I'm closing this issue at this point.