HAProxy doesn't emit :authority when converting h1 --> h2, but it should

### Detailed Description of the Problem

I have an application based on the Spring Boot framework with Jetty as an embedded server. This application is configured to handle HTTP/2 cleartext (H2C) requests. I have haproxy configured so that the frontend uses `alpn h2,http/1.1`, and the backend uses `proto h2`.  The configuration doesn't work since I updated the spring boot from 3.1 to 3.2. Jetty rejects such requests with an "HTTP ERROR 400 Invalid Authority" error.

### Expected Behavior

HAProxy should make a request that Jetty accepts.

### Steps to Reproduce the Behavior

1. Application based on the spring boot 3.3 framework, jetty as an embedded server.
2. Haproxy configured as follows:
```
frontend _frontend_jetty12h2c
    bind 127.0.0.1:30002 ssl alpn h2,http/1.1 crt /cert.pem ca-ignore-err all crt-ignore-err all
    use_backend _backend_jetty12h2c

backend _backend_jetty12h2c
    mode http
    balance leastconn
    server srv001 127.0.0.1:20002 weight 1 proto h2
```
3. ```$ curl -w "\n" --http1.1 -k "https://localhost:30002/"``` # HTTP ERROR 400 Invalid Authority
4. ```$ curl -w "\n" --http2 -k "https://localhost:30002/"``` # {"response":"Hello World"}


Sample minimal project that reproduces the problem: https://github.com/180254/haproxy-issue-2592

### Do you have any idea what may have caused this?

haproxy does not add a http2  :authority pseudo-header when switching from http1.1 to http2.

`   $ curl -w "\n" --http1.1 -k "https://localhost:30002/" # HTTP ERROR 400 Invalid Authority`

Wireshark output, sniffed haproxy->simple app connection:

        HyperText Transfer Protocol 2
            Stream: HEADERS, Stream ID: 1, Length 37, GET /
                ...
                [Header Length: 124]
                [Header Count: 6]
                Header: :method: GET
                Header: :scheme: https
                Header: :path: /
                Header: host: localhost:30002
                Header: user-agent: curl/8.5.0
                Header: accept: */*
                [Response in frame: 6234]

`$ curl -w "\n" --http2 -k   "https://localhost:30002/" # {"response":"Hello World"}`

Wireshark output, sniffed haproxy->simple app connection:

        HyperText Transfer Protocol 2
            Stream: HEADERS, Stream ID: 1, Length 37, GET /
                ...
                [Header Length: 130]
                [Header Count: 6]
                Header: :method: GET
                Header: :scheme: https
                Header: :authority: localhost:30002
                Header: :path: /
                Header: user-agent: curl/8.5.0
                Header: accept: */*
                [Full request URI: https://localhost:30002/]
                [Response in frame: 10471]

According to the latest RFCs the :authority: pseudo-header must be present.

https://www.rfc-editor.org/rfc/rfc9113.html
>An intermediary that forwards a request over HTTP/2 MUST construct an ":authority" pseudo-header field using the authority information from the control data of the original request, unless the original request's target URI does not contain authority information (in which case it MUST NOT generate ":authority"). Note that the Host header field is not the sole source of this information; see [Section 7.2](https://www.rfc-editor.org/rfc/rfc9110#section-7.2) of [[HTTP](https://www.rfc-editor.org/rfc/rfc9113.html#RFC9110)].

Please see the discussion on this topic on the jetty issue tracker: https://github.com/jetty/jetty.project/issues/9436

### Do you have an idea how to solve the issue?

_No response_

### What is your configuration?

```haproxy
docker image: haproxy:3.0.0-alpine3.20
application powered by spring-boot 3.3.0 (embedded server: jetty 12.0.9)

frontend _frontend_jetty12h2c
    bind 127.0.0.1:30002 ssl alpn h2,http/1.1 crt /cert.pem ca-ignore-err all crt-ignore-err all
    use_backend _backend_jetty12h2c

backend _backend_jetty12h2c
    mode http
    balance leastconn
    server srv001 127.0.0.1:20002 weight 1 proto h2
```


### Output of `haproxy -vv`

```plain
$ docker run --rm haproxy:3.0.0-alpine3.20 haproxy -vv

HAProxy version 3.0.0-5590ada 2024/05/29 - https://haproxy.org/
Status: long-term supported branch - will stop receiving fixes around Q2 2029.
Known bugs: http://www.haproxy.org/bugs/bugs-3.0.0.html
Running on: Linux 6.8.0-31-generic #31-Ubuntu SMP PREEMPT_DYNAMIC Sat Apr 20 00:40:06 UTC 2024 x86_64
Build options :
  TARGET  = linux-musl
  CC      = cc
  CFLAGS  = -O2 -g -fwrapv
  OPTIONS = USE_GETADDRINFO=1 USE_OPENSSL=1 USE_LUA=1 USE_PROMEX=1 USE_PCRE2=1 USE_PCRE2_JIT=1
  DEBUG   = 

Feature list : -51DEGREES +ACCEPT4 -BACKTRACE -CLOSEFROM +CPU_AFFINITY +CRYPT_H -DEVICEATLAS +DL -ENGINE +EPOLL -EVPORTS +GETADDRINFO -KQUEUE -LIBATOMIC +LIBCRYPT +LINUX_CAP +LINUX_SPLICE +LINUX_TPROXY +LUA +MATH -MEMORY_PROFILING +NETFILTER +NS -OBSOLETE_LINKER +OPENSSL -OPENSSL_AWSLC -OPENSSL_WOLFSSL -OT -PCRE +PCRE2 +PCRE2_JIT -PCRE_JIT +POLL +PRCTL -PROCCTL +PROMEX -PTHREAD_EMULATION -QUIC -QUIC_OPENSSL_COMPAT +RT +SHM_OPEN +SLZ +SSL -STATIC_PCRE -STATIC_PCRE2 -SYSTEMD +TFO +THREAD +THREAD_DUMP +TPROXY -WURFL -ZLIB

Default settings :
  bufsize = 16384, maxrewrite = 1024, maxpollevents = 200

Built with multi-threading support (MAX_TGROUPS=16, MAX_THREADS=256, default=16).
Built with OpenSSL version : OpenSSL 3.3.0 9 Apr 2024
Running on OpenSSL version : OpenSSL 3.3.0 9 Apr 2024
OpenSSL library supports TLS extensions : yes
OpenSSL library supports SNI : yes
OpenSSL library supports : TLSv1.0 TLSv1.1 TLSv1.2 TLSv1.3
OpenSSL providers loaded : default
Built with Lua version : Lua 5.4.6
Built with the Prometheus exporter as a service
Built with network namespace support.
Built with libslz for stateless compression.
Compression algorithms supported : identity("identity"), deflate("deflate"), raw-deflate("deflate"), gzip("gzip")
Built with transparent proxy support using: IP_TRANSPARENT IPV6_TRANSPARENT IP_FREEBIND
Built with PCRE2 version : 10.43 2024-02-16
PCRE2 library supports JIT : yes
Encrypted password support via crypt(3): yes
Built with gcc compiler version 13.2.1 20240309

Available polling systems :
      epoll : pref=300,  test result OK
       poll : pref=200,  test result OK
     select : pref=150,  test result OK
Total: 3 (3 usable), will use epoll.

Available multiplexer protocols :
(protocols marked as <default> cannot be specified using 'proto' keyword)
         h2 : mode=HTTP  side=FE|BE  mux=H2    flags=HTX|HOL_RISK|NO_UPG
  <default> : mode=HTTP  side=FE|BE  mux=H1    flags=HTX
         h1 : mode=HTTP  side=FE|BE  mux=H1    flags=HTX|NO_UPG
       fcgi : mode=HTTP  side=BE     mux=FCGI  flags=HTX|HOL_RISK|NO_UPG
  <default> : mode=TCP   side=FE|BE  mux=PASS  flags=
       none : mode=TCP   side=FE|BE  mux=PASS  flags=NO_UPG

Available services : prometheus-exporter
Available filters :
	[BWLIM] bwlim-in
	[BWLIM] bwlim-out
	[CACHE] cache
	[COMP] compression
	[FCGI] fcgi-app
	[SPOE] spoe
	[TRACE] trace
```


### Last Outputs and Backtraces

_No response_

### Additional Information

Using spring boot 3.3 with Tomcat 10.1.24 as the embedded server, the request is successful, but Tomcat prints the log at a warning level:

`2024-06-04T16:20:02.736+02:00  WARN 664004 --- [io-20000-exec-5] org.apache.coyote.http2.Http2Parser      : Connection [2], An unknown setting with identifier [8] and value [1] was ignored`

It is possible to reconfigure the jetty to accept such a request.
I'm attaching the workaround in case someone came here by googling the problem.

```java
  @Bean
  JettyServerCustomizer jettyServerCustomizer() {
    return server -> {
      ServerConnector connector = (ServerConnector) server.getConnectors()[0];
      connector.getConnectionFactories()
          .forEach(factory -> {
            if (factory instanceof HttpConnectionFactory httpConnectionFactory) {
              HttpConfiguration httpConfiguration1 = httpConnectionFactory.getHttpConfiguration();
              HttpCompliance newHttpCompliance =
                  httpConfiguration1.getHttpCompliance()
                      .with("newHttpCompliance", Violation.UNSAFE_HOST_HEADER);

              httpConfiguration1.setHttpCompliance(newHttpCompliance);
            }
          });
    };
  }
```

Well, I guess we should discuss again about that with Willy. I'm annoyed because this was done this way in HAProxy to be able to keep the original H1 request format when doing H1 -> H2 -> H1 translation. And it seems in fact to be not true.

About your RFC 9113 quote, it is stated an intermediary must construct an ":authority" pseudo-header field using the authority information from the control data of the original request, suggesting this includes the `Host` header. But, reading the RFC 9110, you can see control data doesn't include the `Host` header (6.2):

> In HTTP/1.1  and earlier, control data is sent as the first line of a message.

So, it is not so clear :).

But there is something that puzzles me. We can argue the `:authority` must be emitted by the client/intermediary. And this point can be discussed for HAProxy when an origin-form HTTP/1.1 request is translated to H2. However, there is nothing in the RFC-9113 that states the server must/should/may reject an H2 request if `:authority` pseudo-header is omitted.   And in fact, it is expected:

> [...]unless the original request's target URI does not contain authority information (in which case it MUST NOT generate ":authority").

It is important for a H2 server to not reject requests without `:authority` pseudo-header. Think a minute about a HTTP/1.0 request translated to H2.  So the issue can be considered as a theoretical bug, regarding the RCFs. But Jetty on its side should not reject H2 requests without `:authority` pseudo-header because it is an expected case.

We'll need to bring that one on the HTTP WG because I think the wording in 9113 is less clear than the one in 7540. I fairly well remember discussions where we said that it was important that HTTP/2 should reflect exactly what is received and that H2 could be used to transport valid H1 without losing information so that H1->H2->H2->H1 is kept as-is. One of the elements was clearly about that :authority.  By the way,here is the equivalent part of 7540: https://www.rfc-editor.org/rfc/rfc7540#section-8.1.2.3 : 

-  The ":authority" pseudo-header field includes the authority
    portion of the target URI ([[RFC3986], Section 3.2]).  The authority
    MUST NOT include the deprecated "userinfo" subcomponent for "http"
    or "https" schemed URIs.

    **To ensure that the HTTP/1.1 request line can be reproduced
    accurately, this pseudo-header field MUST be omitted when
    translating from an HTTP/1.1 request that has a request target in
    origin or asterisk form** (see [[RFC7230], Section 5.3]).  Clients
    that generate HTTP/2 requests directly SHOULD use the ":authority"
    pseudo-header field instead of the Host header field.  An
    intermediary that converts an HTTP/2 request to HTTP/1.1 MUST
    create a Host header field if one is not present in a request by
    copying the value of the ":authority" pseudo-header field.

We're exactly respecting this. 911x speak about "authority from control data" and leaves the "control data" to each HTTP version, sometimes mentioning the URI, sometimes the pseudo headers. Normally it remains the same but it's much less clear and the intent is less obvious.

I remember that we proposed a workaround for this last time we met that situation, maybe using set-uri, but I don't remember precisely.

From https://www.mail-archive.com/haproxy@formilux.org/msg43261.html:
```
   http-request set-uri https://%[req.hdr(host)]%[pathq]
```

FWIW this also affects Apache Traffic Server, which rejects h2 requests without :authority.

@wtarreau, just a ping to evoke this subject to the HTTP Workshop next week :)

Yep, I had it in mind, thank you! Also let's share the link to the point I raised on the HTTP-WG:
https://lists.w3.org/Archives/Public/ietf-http-wg/2024JulSep/0258.html


> From https://www.mail-archive.com/haproxy@formilux.org/msg43261.html:
> 
> ```
>    http-request set-uri https://%[req.hdr(host)]%[pathq]
> ```

This will do the wrong thing for absolute-form requests if the Host header (which is non-authoritive in this case) disagrees with the request line (which is authoritative). In the worst case, this could lead to request smuggling-style vulnerabilities.

I can appreciate that being able to exactly reproduce the inbound h1 request line is an important desideratum for some applications and, since the RFC does seem to normatively demand that, it should even be the default. That said, I suspect that most applications will just want one place to look for the authority, and not having a simple way to ask for that creates a significant hazard that they'll have subtly wrong code.

There's no risk of smuggling here because we always validate that host and authority exactly match on input, and produce host from authority if host is missing (e.g. in h2). So here by looking at host we always have either host or authority, and which always exactly match if both are present.

I agree that it's ugly but apparently some components want to simplify their implementation of the spec and only support browsers as clients, which admittedly is sad :-/

I think the missing authority header is also the cause for (silent) failing with an "https inspection" appliance, which breaks the connection on h2 backend connections. 
This happens only if the frontend client speaks h1 -> h2 backend. 
If the frontend Client speaks h2 -> h2 backend -> it works. 
If the frontend Client speaks h3 -> h2 backend -> it works


I don't know about this appliance, but given that there already exist a few non-compliant server implementations, we can easily imagine that it would be the same for appliances. Regardless, we cannot emit an authority header when there is none in the front, that would be a blatant violation of the spec and it would prevent from reliably transporting H1 over H2 (e.g. no more way to distinguish origin-form requests from absolute-form requests as used for proxies for example).

so the best way would be, for example,  to use ACLs to speak only h1 to the backend if the client speaks H1? 
and use h2 on the backend connection only if the client speaks h2 or h3? 

I would need twice the amount of backends with H1 / H2 but that would be a possible solution I guess. Maybe there is a better approach? 
One of the reasons I would prefer to speak H2 (or even h3) to the backend, is because of less tcp connection, more efficient protocol/data usage in general.

Right now, with many servers (IIS/Apache come to mind) dont seem to accept H2 without authority either. So the ability to transport h1 over h2 is somewhat impacted in either case?

But I agree, this is quite specific:
```
To ensure that the HTTP/1.1 request line can be reproduced
accurately, this pseudo-header field MUST be omitted when
translating from an HTTP/1.1 request that has a request target in
origin or asterisk form (see [[RFC7230], Section 5.3]).
```
We will also contact the vendor of the appliance and request a change or at least the option todo so. 

I'm not sure I understand what you're trying to do. H2 and H3 are 100% compatible with H1 (otherwise they would not have taken over the entire internet). There's no reason to try to downgrade a backend connection based on the frontend version. Also you have no guarantee that the server will work at all. For example there are already places where H3 is being deployed and where neither H1 nor H2 will be supported, just because a single UDP port is opened.

If you're facing a case of incompatibility with a server or any device that fails on the lack of authority pseudo-header, and you know that your clients are just regular clients which use your haproxy node as a regular server endpoint and not as a proxy for example, the proposed rule above will allow you to work around it. And in parallel it's good to report the issue to the software vendor of course, because they might be unaware of this due to rarely testing H1->H2->H1 compatibility.

It's said that the google front end rejects requests with header `host` or no `:authority`.
Maybe a server option can be added to control the `:authority` behavior.

It's probably fine that edge frontends reject that if they only intend to be joined by direct browsers (which is the case for google). But maybe internally their backends accept both and it's their frontends which are doing the conversion.

What use case are you envisioning with a server option, that wouldn't be adequately served by the already supported rule above which does *exactly* the same ?

I'm tring to acess google service from haproxy backend server. Now only http1 is supported, and `PROTOCOL_ERROR(0x01)` with proto `h2`.

I think haproxy shoud provide a configuration to remove head `host` but preserve the pseudo head `:authority` when communicating to the backend server with proto `h2`.

I have no problem now. I can solve this problem using the following directive.
I thought both host and :authority were always sent

```haproxy
http-request set-uri https://%[baseq]
```



OK great that it works for you because that's exactly the point, to work around an incompatible server. HAProxy is not a forward proxy but a reverse proxy, which itself may be deployed in front of origin servers or forward proxies, so it takes extreme care to respect the original request before passing it on. If you're using it as a forward proxy to access random servers on the net (i.e. those you have no control over), then yes, using this rule to say that you explicitly want to inject an `:authority` header from the host is the right thing to do, because you're explicitly turning an origin request into an absolute one, which will contain a `:authority` on output. But that's really something that must only be done in situations like yours where you know why, and that's why I'm really not fond of the idea to provide a server setting that people will randomly add by copy-pasting it from the net without understanding why (or will have chatbots emit for them).

I am evaluating the same workaround, with slight modification in named defaults for frontends/backens that require them as well. only applying it for http 1.1 / ssl connections, still pondering if it makes sense to add the overhead or if its actually less overhead since not applied on h2/h3 this way.

```
http-request set-uri https://%[req.hdr(host)]%[pathq] if { req.ver -m str 1.1 } { ssl_fc }
```

Then I'd do it differently. What you're trying to do is in fact to always force an authority when there is none. This is not related to the HTTP version but to what is present in the message. Authorities only appear in absolute URIs, which start with a scheme. And there's none in origin URIs which begin with '/' or '*'. So you could do that, regardless of the version (and it will also cover h2/h3 with only host and no authority):

     # force an authority for origin requests
     http-request set-uri https://%[req.hdr(host)]%[pathq] if { url_beg / * }



That makes sense and would align to the specification. My initial thought for only doing it for h1 was because the problem only occurs there (client speaks h1 with haproxy frontend, haproxy transforms to h2 when talking to backend -> backend or tls interception appliance not happy because h2 is spoken without authority header). 
For example, a request to such a backend, that is either intercepted or has a backend server that really wants the authority header when spoken to with h2, via haproxy  would:

fail: curl --http1.1 https://domain.tld/ 
succeed: curl -http2 https://domain.tld/

I have not yet encountered a client not using the authority header when speaking h2/h3 on the frontend, but that doesnt mean there isnt. 
Thank you for your input! 

In fact it could happen for exactly the same reason: another reverse-proxy upgrading an H1 client to H2 could deliver you an H2 request without authority. But I agree it's not common. And similarly for H1 you could have an H1 client that sends an absolute request, this is permitted since HTTP/1.1, though most only used for proxies. But sometimes some bots use them.