Chunked Transfer Encoding breaks S3 Compatibility

### Detailed Description of the Problem

Referring to this situation: https://github.com/minio/minio/discussions/16749
As also discussed in https://github.com/minio/minio/discussions/16779

When setting up Object Tiering in minio through HAProxy to the destination S3 service, it fails on minio.

There is a difference in headers being sent and consequently, the request being successful.
This is specific to Chunked PUT requests (GET requests succeed).

# Case 1: Minio -> HAProxy -> S3 Service (does not work)
```
Hypertext Transfer Protocol
    PUT /<bucket>/lake/probeobject HTTP/1.1\r\n
    Host: 10.20.4.164\r\n
    User-Agent: MinIO (linux; amd64) minio-go/v7.0.23\r\n
    Transfer-Encoding: chunked\r\n
     [truncated]Authorization: AWS4-HMAC-SHA256 Credential=<snip>/20230307/us-east-1/s3/aws4_request,SignedHeaders=host;x-amz-content-sha256;x-amz-date;x-amz-decoded-content-length,Signature=4c5e0cd407ee074b93d1afcdb3492f55ed3efb437
    Content-Type: application/octet-stream\r\n
    X-Amz-Content-Sha256: STREAMING-AWS4-HMAC-SHA256-PAYLOAD\r\n
    X-Amz-Date: 20230307T121111Z\r\n
    X-Amz-Decoded-Content-Length: 0\r\n
    \r\n
    [Full request URI: http://<haproxy>/<bucket>/lake/probeobject]
    [HTTP request 2/2]
    [Prev request in frame: 3]
    HTTP chunked response
        Data chunk (86 octets)
        End of chunked encoding
        \r\n
    File Data: 86 bytes
Data (86 bytes)
```

### Expected Behavior

# Case 2: s3cmd -> HAProxy -> S3 Service (succeeds)
```
Hypertext Transfer Protocol
    PUT /<bucket>/minio-chunk-test?partNumber=1&uploadId=1490950.0 HTTP/1.1\r\n
    Host: 10.20.4.164\r\n
    Accept-Encoding: identity\r\n
    Authorization: AWS4-HMAC-SHA256 Credential=<snip>/20230308/us-east-1/s3/aws4_request,SignedHeaders=content-length;host;x-amz-content-sha256;x-amz-date,Signature=329c4dfa6d18909238369fbc59aec7ee7755780059653a334078029d913fc0a8\r\n
    content-length: 5242880\r\n
    x-amz-content-sha256: c51ed1d38f1c4067d1e045d48cdae711daade3b5fe5a0f683a025f4651bc997f\r\n
    x-amz-date: 20230308T093907Z\r\n
    \r\n
    [Full request URI: http://<haproxy>/<bucket>/minio-chunk-test?partNumber=1&uploadId=1490950.0]
    [HTTP request 2/6]
    [Prev request in frame: 3]
    [Next request in frame: 411]
    File Data: 5242880 bytes
    Data (5242880 bytes)
```

There is definitely something funky here (the headers are handling chunking quite differently), because load balancing with Nginx works.

### Steps to Reproduce the Behavior

1. Setup Object Tiering in Minio via HAproxy to target S3 service

### Do you have any idea what may have caused this?

Possibly HAProxy changing chunking in requests?

### Do you have an idea how to solve the issue?

Nope. switched to nginx with the following config and it works:
```
http {
    server_tokens off;
    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    set_real_ip_from  192.168.0.0/16;
    set_real_ip_from  10.0.0.0/8;
    set_real_ip_from  172.16.0.0/16;
    real_ip_header    X-Forwarded-For;
    real_ip_recursive on;

    connection_pool_size 256;
    client_header_buffer_size 1k;
    large_client_header_buffers 4 32k;
    request_pool_size 4k;

    gzip off;
    sendfile off;
    keepalive_timeout 75 20;

    upstream hydra_servers {
        server <target1>:<port1>;
        server <target2>:<port2>;
    }

    server {
        listen *:80;
        listen [::]:80;
        server_name  _;

        error_log /var/log/nginx/hydra.error_log info;

        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Host $http_host;
        proxy_set_header X-Forwarded-For $http_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        if ($http_x_remote_port = '') {
            set $http_x_remote_port $remote_port;
        }
        proxy_set_header X-Remote-Port $http_x_remote_port;

        #client_header_timeout 10s;
        #client_body_timeout 60s;
        #send_timeout 10m;
        proxy_connect_timeout 5s;
        proxy_read_timeout 10m;
        proxy_next_upstream error timeout non_idempotent http_500 http_502 http_503 http_504 http_429;
 
        chunked_transfer_encoding off;
        # To allow special characters in headers
        ignore_invalid_headers off;
        # Allow any size file to be uploaded.
        # Set to a value such as 1000m; to restrict file size to a specific value
        client_max_body_size 0;
        # To disable buffering
        proxy_buffering off;

        location / {
            proxy_pass http://hydra_servers;
        }
    }
}
```

### What is your configuration?

```haproxy
defaults

mode                    http
log                     global
option                  httplog
option                  dontlognull
option http-server-close # removing this makes no difference
retries                 3
timeout http-request    10s # removing this makes no difference
timeout queue           1m
timeout connect         10s
timeout client          300s
timeout server          300s
timeout http-keep-alive 10s
timeout check           10s
maxconn                 10000

frontend ft_http
  bind :::80 v4v6
  mode HTTP
  # removing all of the stats config makes no difference
  stats enable
  stats auth <snip>
  stats refresh 30s
  stats show-node
  stats uri  /haproxy_adm_panel
  stats admin if TRUE
  option forwardfor
  default_backend bk_http

backend bk_http
  server hydra1 <target1>:<port1> check
  server hydra2 <target2>:<port2> check
  balance round-robin
```


### Output of `haproxy -vv`

```plain
HAProxy version 2.7.3-1065b10 2023/02/14 - https://haproxy.org/
Status: stable branch - will stop receiving fixes around Q1 2024.
Known bugs: http://www.haproxy.org/bugs/bugs-2.7.3.html
Running on: Linux 3.10.0 #1 SMP Thu Sep 23 18:26:47 MSK 2021 x86_64
Build options :
  TARGET  = linux-glibc
  CPU     = generic
  CC      = cc
  CFLAGS  = -std=gnu99
  OPTIONS = USE_PCRE=1 USE_OPENSSL=1 USE_LUA=1 USE_SLZ=1 USE_NS= USE_SYSTEMD=1 USE_PROMEX=1
  DEBUG   = -DDEBUG_STRICT -DDEBUG_MEMORY_POOLS

Feature list : -51DEGREES +ACCEPT4 +BACKTRACE -CLOSEFROM +CPU_AFFINITY +CRYPT_H -DEVICEATLAS +DL -ENGINE +EPOLL -EVPORTS +GETADDRINFO -KQUEUE +LIBCRYPT +LINUX_SPLICE +LINUX_TPROXY +LUA -MEMORY_PROFILING +NETFIL
TER -NS -OBSOLETE_LINKER +OPENSSL -OPENSSL_WOLFSSL -OT +PCRE -PCRE2 -PCRE2_JIT -PCRE_JIT +POLL +PRCTL -PROCCTL +PROMEX -PTHREAD_EMULATION -QUIC +RT +SHM_OPEN +SLZ -STATIC_PCRE -STATIC_PCRE2 +SYSTEMD +TFO +THREA
D +THREAD_DUMP +TPROXY -WURFL -ZLIB

Default settings :
  bufsize = 16384, maxrewrite = 1024, maxpollevents = 200

Built with multi-threading support (MAX_TGROUPS=16, MAX_THREADS=256, default=2).
Built with OpenSSL version : OpenSSL 1.1.1c FIPS  28 May 2019
Running on OpenSSL version : OpenSSL 1.1.1c FIPS  28 May 2019
OpenSSL library supports TLS extensions : yes
OpenSSL library supports SNI : yes
OpenSSL library supports : TLSv1.0 TLSv1.1 TLSv1.2 TLSv1.3
Built with Lua version : Lua 5.3.0
Built with the Prometheus exporter as a service
Support for malloc_trim() is enabled.
Built with libslz for stateless compression.
Compression algorithms supported : identity("identity"), deflate("deflate"), raw-deflate("deflate"), gzip("gzip")
Built with transparent proxy support using: IP_TRANSPARENT IPV6_TRANSPARENT IP_FREEBIND
Built with PCRE version : 8.32 2012-11-30
Running on PCRE version : 8.32 2012-11-30
PCRE library supports JIT : no (USE_PCRE_JIT not set)
Encrypted password support via crypt(3): yes
Built with gcc compiler version 4.8.5 20150623 (Red Hat 4.8.5-44)

Available polling systems :
      epoll : pref=300,  test result OK
       poll : pref=200,  test result OK
     select : pref=150,  test result OK
Total: 3 (3 usable), will use epoll.

Available multiplexer protocols :
(protocols marked as <default> cannot be specified using 'proto' keyword)
         h2 : mode=HTTP  side=FE|BE  mux=H2    flags=HTX|HOL_RISK|NO_UPG
       fcgi : mode=HTTP  side=BE     mux=FCGI  flags=HTX|HOL_RISK|NO_UPG
         h1 : mode=HTTP  side=FE|BE  mux=H1    flags=HTX|NO_UPG
  <default> : mode=HTTP  side=FE|BE  mux=H1    flags=HTX
       none : mode=TCP   side=FE|BE  mux=PASS  flags=NO_UPG
  <default> : mode=TCP   side=FE|BE  mux=PASS  flags=

Available services : prometheus-exporter
Available filters :
[BWLIM] bwlim-in
[BWLIM] bwlim-out
[CACHE] cache
[COMP] compression
[FCGI] fcgi-app
[SPOE] spoe
[TRACE] trace
```


### Last Outputs and Backtraces

_No response_

### Additional Information

_No response_

Thank you for the detailed report.

Just for completeness, it seems that you explicitly disabled chunked transfer-encoding in the server block on your nginx replacement config
(`chunked_transfer_encoding off;`)
Any reason for doing so?

Also it would be really helpful if you could provide, for the same failed PUT chunked request through haproxy:
- the raw http headers being sent by minio before they hit haproxy (minio -> haproxy)
- the http headers leaving haproxy (haproxy -> S3 endpoint)

As suggested in the comments of the minio issues you mentioned: if the problem lies in S3 being upset by the headers sent by haproxy, this could help narrowing-down the issue.

Thanks


I'm sorry but I don't understand the issue. If you send a chunked PUT request directly to S3 from minio, it works but not when the same request is sent through HAProxy, that's it ? In addition the format of your requests is not really easy to read. But at first glance, both seem valid. In the NGinx configuration, you set an option to disable chunked transfer encoding. So It seems to be an issue with the S3 service and chunked requests. 

You said HAProxy is changing the chunking. It is indeed true but it is totally valid. A transfer-encoding  is a property of the message, not of the representation. So the server must not rely on a specific chunking of the message body.  A transfer-encoding is not content-endoding.

@Darlelet will do my best to get this. As for the `chunked_transfer_encoding off;`  this is recommended by [minio for its reverse proxy settings](https://min.io/docs/minio/linux/integrations/setup-nginx-proxy-with-minio.html?ref=docs-redirect), which I just copy pasta'd for the upstream s3 server, as for why they do this, honestly I have no idea.
@capflam this could indeed be something specific to the S3 server, but I'm not sure what you mean here? 

The message chunking is only related to transport. It is a way to transfer the message payload when the content length is unknown. It is not related to the representation of the content. A client or a server must not rely on a specific chunking. It may be totally arbitrary, the message body remains the same. 

If minio recommends to disable the chunking for Nginx, it is probably because there is  an issue here with minio and/or the S3 server. I don't know exactly what kind of data is transferred but this should be orthogonal to the chunking. If not, it is an issue.  In this case, minio should use a specific content-encoding or an in-house encoding.

I found this comment, which seems to be the issue:

https://github.com/minio/minio/issues/7792#issuecomment-502384404

By not supporting chunked transfer-encoding, my understanding is that S3 violates the HTTP/1.1 specification.

@rijnhard  the client behaves different from what I see.

In Case 1 is `Transfer-Encoding: chunked\r\n` send by client
In Case 2 is `content-length: 5242880\r\n` send by the client

Can you try to use s3cmd also for case 1 or minio client for case 2?

Looks like the `S3 Service` does not accept the `Transfer-Encoding: chunked\r\n`

Looks like there is an answer https://github.com/minio/minio/discussions/16779#discussioncomment-5240670

Yes absolutely, it's mandatory for HTTP/1.1, as written here in section 6.1 of RFC9112:
```
A recipient MUST be able to parse the chunked transfer coding
([Section 7.1](https://www.rfc-editor.org/rfc/rfc9112#chunked.encoding))
because it plays a crucial role in framing messages when the content size
is not known in advance.
(...)
A client MUST NOT send a request containing Transfer-Encoding unless it
knows the server will handle HTTP/1.1 requests (or later minor revisions);
such knowledge might be in the form of specific user configuration or by
remembering the version of a prior received response. 
```

Here the client is not even faulty given that the server really advertises HTTP/1.1 hence confirms that it supports Transfer-Encoding. Good luck for getting S3 to fix their code :-(

I'm closing because there is nothing we can do on HAProxy side.

In fact I'm wondering if it could be worked around for very small requests using a ugly hack like this. It will ask to wait for the whole body to be received, maximum being the buffer size (16kB), and explicitly add a content-length header indicating this size if some body is there without a content-length. That could help the broken server work for small requests.
```
   option http-buffer-request
   http-request add-header content-length %[req.body_size] if { req.body_size -gt 0 } !{ hdr(content-length) -m found }
```
(note that I have not tested it at all).


For what it's worth, I've struggled to make minio's site replication work between two minio servers that were behind Haproxy.
Actually, the replication did work, but was horribly slow with multiple errors like

```
Aug 27 18:59:02 hyper01.tls.npf.local minio[48860]: 'SRPeerReplicateIAMItem' on site lacstash (ab4ee817-3002-4130-8c6e-ed60b637337c): failed(Remote service endpoint https://my.minio.remote.site not available
Aug 27 18:59:02 hyper01.tls.npf.local minio[48860]:         remote target is offline for endpoint https://my.minio.remote.site) (*fmt.wrapError)
Aug 27 18:59:02 hyper01.tls.npf.local minio[48860]:        4: internal/logger/logger.go:258:logger.LogIf()
Aug 27 18:59:02 hyper01.tls.npf.local minio[48860]:        3: cmd/site-replication.go:4690:cmd.(*SiteReplicationSys).healUserPolicies()
Aug 27 18:59:02 hyper01.tls.npf.local minio[48860]:        2: cmd/site-replication.go:4572:cmd.(*SiteReplicationSys).healIAMSystem()
Aug 27 18:59:02 hyper01.tls.npf.local minio[48860]:        1: cmd/site-replication.go:3746:cmd.(*SiteReplicationSys).startHealRoutine()
Aug 27 18:59:44 hyper01.tls.npf.local minio[48860]: Site replication healing refresh took 10.84s
```

When using minio replication without haproxy, I had no problems.
With haproxy, I had minio's replication stuck after a while, and only replicating very slowly.

I've tried to disable various haproxy configuration directives, until I found the one that made minio fail:
``` 
        # prevent slowloris attacks
        timeout http-request 5s
        option http-buffer-request
```

My setup:
Minio community & Haproxy 2.4 on RHEL9 on both sides
```
HAProxy version 2.4.17-9f97155 2022/05/13 - https://haproxy.org/
Status: long-term supported branch - will stop receiving fixes around Q2 2026.
Known bugs: http://www.haproxy.org/bugs/bugs-2.4.17.html
Running on: Linux 5.14.0-284.25.1.el9_2.x86_64 #1 SMP PREEMPT_DYNAMIC Tue Aug 8 04:07:27 EDT 2023 x86_64

minio version RELEASE.2023-08-23T10-07-06Z (commit-id=af564b8ba07a7805a578b5f6f2b3827490f74ccd)
Runtime: go1.19.12 linux/amd64
License: GNU AGPLv3 <https://www.gnu.org/licenses/agpl-3.0.html>
Copyright: 2015-2023 MinIO, Inc.
```

Hope this might help someone ;)

I'm having this problem, can anyone solve it?

Please could you describe exactly what you're facing ? "this problem" is vague and it could look like the same for you but actually be quite different.

Also, as requested a few times above, it's important to provide a header capture on both sides. There's no reason this minio thing could work directly with S3 if S3 doesn't properly support HTTP/1.1. Or something else might be happening (e.g. Minio using HTTP/2 via haproxy etc).


> I'm having this problem, can anyone solve it?

And please post your HAProxy version and the config.

Hello again

I said this problem because I am having the exact same problems. I am using haproxy version 2.8. there are no restrictions or WAF in my configuration.

I did not enter any timeout value. I entered default only frontend and backend in my configuration file.

So you're using the exact same version of Minio and are using the exact same haproxy config as in the issue above ? Also, "2.8" is not a version, it's a branch. Sorry for insisting but when trying to figure the root cause of a problem, every detail counts.

Would you be able to take a capture of the traffic on both sides so that we know the exact headers exchanged between the client and the server through haproxy ?