verifyhost is case sensitive

## Detailed description of the problem

verifyhost matches the hostname in a case sensitive manner. If the hostname doesn;t use the same case haproxy rejects the certificate.

## Expected behavior

verifyhost should ignore case when comparing hostnames. If the names differ only in case haproxy should accept the certificate.

https://security.stackexchange.com/questions/150770/are-certificate-sans-case-sensitive

curl --verbose will say:

    subjectAltName: host "test.example.com" matched cert's "TEST.EXAMPLE.COM"

## Steps to reproduce the behavior

1. configure an backend server with an uppercase name in the certificate: X509v3 Subject Alternative Name: DNS:TEST.EXAMPLE.COM
2. add that server to a backend:  "server test test.example.com:443 ssl verifyhost test.example.com"
3. try to use that server. The logs will show "tls_process_server_certificate: certificate verify failed"

## Do you have any idea what may have caused this?

ssl_sock_srv_hostcheck compares using strcmp

## Do you have an idea how to solve the issue?

convert all the strings to lowercase or use case insensitive comparisons.

## What is your configuration?

```
listen test123
	bind    :4430 ssl crt /usr/share/mycerts/certandkey.pem
	# server  test localhost:4431 ssl ca-file root.pem verifyhost test.example.com
	server  test localhost:4431 ssl ca-file root.pem verifyhost TEST.EXAMPLE.COM
```


Untested. I also don't really understand the wildcard part of the code:

```
diff --git a/src/ssl_sock.c b/src/ssl_sock.c
index 64c86b116..1bb7a0416 100644
--- a/src/ssl_sock.c
+++ b/src/ssl_sock.c
@@ -4519,7 +4519,7 @@ static int ssl_sock_srv_hostcheck(const char *pattern, const char *hostname)
        size_t prefixlen, suffixlen;
 
        /* Trivial case */
-       if (strcmp(pattern, hostname) == 0)
+       if (strcasecmp(pattern, hostname) == 0)
                return 1;
 
        /* The rest of this logic is based on RFC 6125, section 6.4.3
@@ -4550,7 +4550,7 @@ static int ssl_sock_srv_hostcheck(const char *pattern, const char *hostname)
        /* Make sure all labels match except the leftmost */
        hostname_left_label_end = strchr(hostname, '.');
        if (!hostname_left_label_end
-           || strcmp(pattern_left_label_end, hostname_left_label_end) != 0)
+           || strcasecmp(pattern_left_label_end, hostname_left_label_end) != 0)
                return 0;
 
        /* Make sure the leftmost label of the hostname is long enough
@@ -4562,8 +4562,8 @@ static int ssl_sock_srv_hostcheck(const char *pattern, const char *hostname)
         * wildcard */
        prefixlen = pattern_wildcard - pattern;
        suffixlen = pattern_left_label_end - (pattern_wildcard + 1);
-       if ((prefixlen && (memcmp(pattern, hostname, prefixlen) != 0))
-           || (suffixlen && (memcmp(pattern_wildcard + 1, hostname_left_label_end - suffixlen, suffixlen) != 0)))
+       if ((prefixlen && (strncasecmp(pattern, hostname, prefixlen) != 0))
+           || (suffixlen && (strncasecmp(pattern_wildcard + 1, hostname_left_label_end - suffixlen, suffixlen) != 0)))
                return 0;
 
        return 1;

```

I think you're completely right! And I suspect your patch will indeed do the job, unless there are other places, of course. Let's wait for some of the SSL experts to have a look.

Indeed, according to RFC6066 (https://tools.ietf.org/html/rfc6066#section-3) DNS hostnames are case-insensitive.

It looks like we don't have the problem on the frontend part with the SNI selection at least. Your patch looks good in my opinion, I'll push it with the right comment.