quic interop tests failing with haproxy as server and openssl as client

### Detailed Description of the Problem

last night, quic interop tests began failing while using openssl as the client:
https://github.com/openssl/openssl/actions/runs/15625604617/job/44019098221

Looking specifically at the transfer test, it appears that haproxy is sending a server handshake packet with an original_destination_connection_id extension containing a value that doesn't match the DCID sent in the client initial frame

### Expected Behavior

transfer test passes

### Steps to Reproduce the Behavior

1. Setup quic-interop-runner to run the transfer test.  Note the openssl container is available via:
```
"openssl": {
    "image": "quay.io/openssl-ci/openssl-quic-interop:latest",
    "url": "https://github.com/openssl/openssl",
    "role": "both"
  }
```
you will need to patch the interop runners implementations.json file
2. Run:

```
./run.py -t transfer -c openssl -s haproxy --log-dir ./logs -d
```
3. observe that the transfer test fails, with openssl reporting that the orig dcid value doesn't match the expected value

### Do you have any idea what may have caused this?

If I had to guess, I would think this is some unintended consequence of 
https://github.com/haproxy/haproxy/commit/869fb457ed4aca542df68b58ab7d6914732f6ab5

Though I haven't looked closely enough to be certain.

### Do you have an idea how to solve the issue?

unsure at this point

### What is your configuration?

```haproxy
testing using last nights openssl container build.  Configuration can be found in the openssl repo in test/quic-openssl-docker/Dockerfile

Unsure of haproxy config, but its using the haproxy interop container as pulled by the quic-interrop-runner repository
```

### Output of `haproxy -vv`

```plain
unsure
```

### Last Outputs and Backtraces

```plain

```

### Additional Information

[trace.zip](https://github.com/user-attachments/files/20726029/trace.zip)

Please find the interop-runner logs from this failed test attached above.

Looking at the trace_node_right.pcap file, you can see that in the client initial frame (frame 9) openssl sends a destination connection id value of a56b70dfad3fdc76 .  Then, in frame 12, the haproxy server responds with a server hello message containing quic transport parameters, which include a destination connection id extension in which the value is missing (a length of zero), which does not match the original dcid sent via the clients initial frame.  I believe this is a violation of RFC 9000 section 7.3

```
An endpoint MUST treat the following as a connection error of type TRANSPORT_PARAMETER_ERROR or PROTOCOL_VIOLATION:

absence of the retry_source_connection_id transport parameter from the server after receiving a Retry packet,

presence of the retry_source_connection_id transport parameter when no Retry packet was received, or

a mismatch between values received from a peer in these transport parameters and the value sent in the corresponding Destination or Source Connection ID fields of Initial packets.
```

FWIW, This seems to be an error repeated with other clients:
https://interop.seemann.io/?run=2025-06-14T02:13
In the haproxy server column, several test are failing with each client, and for those clients which produce appropriate logs, they all report a transport error, which is the error that you get (among other reasons) because the orig dcid doesn't match.

Thank you for the report. We didn't detect it as currently interop seems to suffer from other issues as well. However you were right to mention the issue with haproxy transport parameter and can reproduce it easily. I have run a bisect and trying to provide a fix for this.

There is a typo with commit `29fb1aee57288a8b16ed91771ae65c2bfa400128`. The fix is simple enough, I will push a patch today.

The fix has been pushed and a new haproxy interop image is currently rebuilt. This should be enough to fix the next interop execution. Thanks again for your report.

Thank you!  Will confirm and close this issue on the next interop run.

Looks like the latest interop does not suffer from this. @nhorman can you confirm this is also fixed on your side, so that the issue can be closed ?

confirmed!  Everything is fixed!  closing