HAProxy accepts HTTP/2 and HTTP/3 field values with leading and/or trailing LWS, in violation of RFC9113

### Detailed Description of the Problem

bbf824933f71eca90b5f07a51fa93f4fa7ac2256 changed the HTTP/2 code to strip leading and trailing LWS from field values, but did not cause messages containing them to be rejected.  It does not appear (though I have not tested it) that the HTTP/3 code checks for leading and/or trailing LWS in field values at all.

### Expected Behavior

HAProxy should reject these messages, as with any other malformed request.  Not rejecting field values with leading or trailing LWS is a violation of RFC9113 §8.2.1:

> Implementations **MUST** perform the following minimal validation of field names and values:
> 
> (snip)
> 
> * A field value **MUST NOT** start or end with an ASCII whitespace character (ASCII SP or HTAB, 0x20 or 0x09).
> 
> > (snip)
> 
> A request or response that contains a field that violates any of these conditions **MUST** be treated as [malformed][3] ([Section 8.1.1][3]).

§8.1.1 states:

> Intermediaries that process HTTP requests or responses (i.e., any intermediary not acting as a tunnel) **MUST NOT** forward a malformed request or response. Malformed requests or responses that are detected **MUST** be treated as a [stream error][1] ([Section 5.4.2][1]) of type [PROTOCOL_ERROR][2].

[1]: https://www.rfc-editor.org/rfc/rfc9113.html#StreamErrorHandler
[2]: https://www.rfc-editor.org/rfc/rfc9113.html#PROTOCOL_ERROR
[3]: https://www.rfc-editor.org/rfc/rfc9113.html#malformed

[RFC9114] does not so clearly require that leading and/or trailing whitespace in field values be rejected, but it does state in §4.1.2.  Malformed Requests and Responses:

> A malformed request or response is one that is an otherwise valid series of frames but is invalid due to:
> 
> (snip)
>
> - the inclusion of invalid characters in field names or values.
> 
> (snip)
> 
> Intermediaries that process HTTP requests or responses (i.e., any intermediary not acting as a tunnel) **MUST NOT** forward a malformed request or response. Malformed requests or responses that are detected **MUST** be treated as a [stream error][4] of type [H3\_MESSAGE\_ERROR][5].

[4]:https://www.rfc-editor.org/rfc/rfc9114.html#errors
[5]:https://www.rfc-editor.org/rfc/rfc9114.html#H3_MESSAGE_ERROR

RFC9110 (defining HTTP) specifies that a field value is:

```
field-value    = *field-content
field-content  = field-vchar
                         [ 1*( SP / HTAB / field-vchar ) field-vchar ]
field-vchar    = VCHAR / obs-text
obs-text       = %x80-FF
```

which does not allow leading or trailing SP or HTAB, so a field with leading or trailing SP or HTAB is a case of “the inclusion of invalid characters in field names or values” and therefore causes the request or response it is a part of to be malformed.  Furthermore, a request or response containing such a field could not be serialized as HTTP/1.0 or HTTP/1.1.

### Steps to Reproduce the Behavior

It should be possible to reproduce this behavior by sending an HTTP/2 or HTTP/3 request or response to HAProxy that contains a field value that starts or ends with ASCII SP or HTAB.  I do not currently have the tools needed to create such a malformed request or response.

### Do you have any idea what may have caused this?

_No response_

### Do you have an idea how to solve the issue?

The HTTP/2 and HTTP/3 code should reject a message if it has a field value with leading or trailing LWS.  Ideally, the functions `htx_add_header` and `htx_add_trailer` should also check for this and refuse to add invalid values.  If they returned a different error for this than for resource exhaustion, this could allow removing some repeated validation in their callers.

### What is your configuration?

```haproxy
N/A - this was found by reviewing HAProxy’s changelog and source code.
```

### Output of `haproxy -vv`

```plain
N/A - this was found by reviewing HAProxy’s changelog and source code.
```

### Last Outputs and Backtraces

```plain

```

### Additional Information

I didn’t actually test the HTTP/2 or HTTP/3 cases myself, but I would be extremely surprised if there were checks for this.

Note, the rejection is not practical here since these happen a lot in cookie headers (probably due to the way some clients split it around the comma in H2). And that's why the spec explicitly says "HTTP/2 implementations **SHOULD** validate field names and values according to their definitions" and not "**MUST**". However the spec is clear on the fact that we must not forward them as-is: "In particular, an intermediary that does not process fields when forwarding messages MUST NOT forward fields that contain any of the values that are listed as prohibited above" which is fixed for H2 with this commit.

For H3 we need to compare. We have a pending task of unifying the H2 and H3 header processing to avoid duplication of such controls which is always a pain. It definitely looks feasible, and some of them could probably be done in the HTX layer, offering such services to H1 and FCGI as well.

Is something like bbf824933f71eca90b5f07a51fa93f4fa7ac2256 needed for H3 as well, or will that wait until the unification is done?

I think it's needed at the moment (I need to further investigate), but it's very minor and till now only caused occasional connection hiccups between haproxy and varnish, so that can very likely wait for the unification. I'm keeping the issue open as a reminder anyway, so that in case we cannot complete the unification by the release date, at least we fix h3 as well ;-)

If I use `req.hdr(something)` in my HAProxy configuration, will that return the value with the space included or stripped?  If it returns the value with the space included, it could have a quite severe impact in certain (very unusual) configurations.

Also, what about backports to earlier versions?  The unification might not qualify for backports.

This looks like it could have a more severe impact if the backend server uses nghttp2, as nghttp2 discards headers with leading or trailing whitespace.  If HAProxy is supposed to check that a header exists or else deny the request, then this could be used to smuggle a request to the backend that does not have this.  Similarly, if a client is using nghttp2 or nghttp3, this could be used to smuggle a response missing a header past HAProxy.  It looks like avoiding an inconsistency would also require rejecting control characters in header values.

For what it is worth, it appears that h2o (used by Fastly) does return 400 if a header has a forbidden character in its value.

> I think it's needed at the moment (I need to further investigate), but it's very minor and till now only caused occasional connection hiccups between haproxy and varnish, so that can very likely wait for the unification. I'm keeping the issue open as a reminder anyway, so that in case we cannot complete the unification by the release date, at least we fix h3 as well ;-)

What about moving the code to `htx_add_header` and `htx_add_trailer`?  That would allow removing the check from H2, fix H3, and ensure that other HTX-using code cannot get tripped up.  Ideally, these functions would check for invalid values themselves; if performance is a concern, this check can be SIMD-accelerated.

> What about moving the code to htx_add_header and htx_add_trailer?

That's exactly what we envisioned in the merge of H2/H3 parsing. The only thing to be careful about is to avoid placing non-critical stuff there because even if certain things must be sanitized on input, we still want to permit `http-request add-header` to produce them if needed for application compatibility purposes (though for the case of LWS that's not an issue).

Makes sense!  For clarification, would critical checks be things things like the “no NUL, CR, or LF” check?

Definitely ;-)  The non-critical stuff would be the connection header for example. This one is forbidden on H2/H3 but permitted (and even necessary) on H1.

Current thought:

- `htx_add_header` now returns an enum with entries `HTX_OK` (okay), `HTX_NOMEM` (memory allocation failed or size limit exceeded), and `HTX_BAD` (invalid characters in name or value, or leading or trailing space in value).
- whitespace is stripped by a separate function used by HTTP/2 and (if necessary — clients might be better nowadays) in HTTP/3.

This avoids breaking the invariant that `htx_add_*` always added exactly what was provided, modulo casefolding of names.