Host header not ignored when absolute form URI is used

h1.c contains

```
 871                                 else if (!(h1m->flags & (H1_MF_HDRS_ONLY|H1_MF_RESP)) && isteqi(n, ist("host"))) {
 872                                         if (host_idx == -1) {
 873                                                 struct ist authority;
 874 
 875                                                 authority = http_get_authority(sl.rq.u, 1);
 876                                                 if (authority.len && !isteqi(v, authority)) {
 877                                                         if (h1m->err_pos < -1) {
 878                                                                 state = H1_MSG_HDR_L2_LWS;
 879                                                                 ptr = v.ptr; /* Set ptr on the error */
 880                                                                 goto http_msg_invalid;
 881                                                         }
 882                                                         if (h1m->err_pos == -1) /* capture the error pointer */
 883                                                                 h1m->err_pos = v.ptr - start + skip; /* >= 0 now */
 884                                                 }
 885                                                 host_idx = hdr_count;
 886                                         }
 887                                         else {
 888                                                 if (!isteqi(v, hdr[host_idx].v)) {
 889                                                         state = H1_MSG_HDR_L2_LWS;
 890                                                         ptr = v.ptr; /* Set ptr on the error */
 891                                                         goto http_msg_invalid;
 892                                                 }
 893                                                 /* if the same host, skip it */
 894                                                 break;
 895                                         }
 896                                 }

``` 
which seems to contradict RFC 7230 section 5.4 (https://datatracker.ietf.org/doc/html/rfc7230#section-5.4):

When a proxy receives a request with an absolute-form of
   request-target, the proxy MUST ignore the received Host header field
   (if any) and instead replace it with the host information of the
   request-target.  A proxy that forwards such a request MUST generate a
   new Host field-value based on the received request-target rather than
   forward the received Host field-value.

A possible solution is to replace

```
if (authority.len && !isteqi(v, authority)) {
       if (h1m->err_pos < -1) {
               state = H1_MSG_HDR_L2_LWS;
               ptr = v.ptr; /* Set ptr on the error */
               goto http_msg_invalid;
       }
       if (h1m->err_pos == -1) /* capture the error pointer */
               h1m->err_pos = v.ptr - start + skip; /* >= 0 now */
}

```
with simply

```
if (authority.len)
        v = authority;
```

I don't think that's right, HAProxy is a "gateway" ("reverse-proxy") according to the RFC, not a "proxy".

I don't think that's right, HAProxy is a "gateway" ("reverse-proxy") according to the RFC, not a "proxy".

See https://datatracker.ietf.org/doc/html/rfc7230#section-2.3



Good point, I missed that the RFC defines "proxy" as forward only in section 2.3. The gateway is not explicitly mentioned in section 5.4, so that leaves the final paragraph of section 5.4 to respond with a 400.

Guess that invalidates this bug report.

Although it still feels wrong to respond with a 400 to a request like this (note the missing :443 on the Host header)

POST https://some.host.name:443/foo HTTP/1.1
Host: some.host.name
...

Note that you've not specified what exact version you used, we've added specific code to compare them after  scheme-based normalization that drops the port.
