Add an option to skip checks on `Sec-WebSocket-*` header fields

### Detailed Description of the Problem

fail to pass websocket connections as reverse proxy
nginx will pass but haproxy make 400 errors with PR--

```
------------------------------------------------------------------
HAPROXY as reverse proxy result:
curl -v -H "Upgrade: websocket" -H "Connection: Upgrade" http://127.0.0.1:80/cgws
*   Trying 127.0.0.1:80...
* Connected to 127.0.0.1 (127.0.0.1) port 80 (#0)
> GET /cgws HTTP/1.1
> Host: 127.0.0.1
> User-Agent: curl/7.76.1
> Accept: */*
> Upgrade: websocket
> Connection: Upgrade
>
* Mark bundle as not supporting multiuse
< HTTP/1.1 400 Bad request
< Content-length: 90
< Cache-Control: no-cache
< Connection: close
< Content-Type: text/html
<
<html><body><h1>400 Bad request</h1>
Your browser sent an invalid request.
</body></html>
* Closing connection 0


---------------------------------------------------------------------------------------------------
NGINX as reverse proxy result:
curl -v -H "Upgrade: websocket" -H "Connection: Upgrade" http://127.0.0.1:80/cgws
*   Trying 127.0.0.1:80...
* Connected to 127.0.0.1 (127.0.0.1) port 80 (#0)
> GET /cgws HTTP/1.1
> Host: 127.0.0.1
> User-Agent: curl/7.76.1
> Accept: */*
> Upgrade: websocket
> Connection: Upgrade
>
* Mark bundle as not supporting multiuse
< HTTP/1.1 101 Switching Protocols
< Server: nginx
< Date: Sat, 22 Feb 2025 09:55:15 GMT
< Connection: upgrade
< Upgrade: websocket
<
-----------------------------------------------------------------------------------

websocket service on port 180 is ok as you can see:
 curl -v -H "Upgrade: websocket" -H "Connection: Upgrade" http://127.0.0.1:180/cgws
*   Trying 127.0.0.1:180...
* Connected to 127.0.0.1 (127.0.0.1) port 180 (#0)
> GET /cgws HTTP/1.1
> Host: 127.0.0.1:180
> User-Agent: curl/7.76.1
> Accept: */*
> Upgrade: websocket
> Connection: Upgrade
>
* Mark bundle as not supporting multiuse
< HTTP/1.1 101 Switching Protocols
< Connection: upgrade
< Upgrade: websocket
< Date: Sat, 22 Feb 2025 10:19:18 GMT
<
^C
-----------------------------------------------------------------------------------
```

### Expected Behavior

nginx will correctly reverse proxy websocket connections but haproxy make 400 error

### Steps to Reproduce the Behavior

run you own websocket service and use my haproxy config to reverse proxy from port 80 to port 180 as my config or your own service port number

### Do you have any idea what may have caused this?

_No response_

### Do you have an idea how to solve the issue?

_No response_

### What is your configuration?

```haproxy
/etc/haproxy/haproxy.cfg
frontend http_front
    bind *:80
    mode http
    option http-server-close
#    option h2-workaround-bogus-websocket-clients
#    option h1-case-adjust-bogus-client
#    option http-use-htx
    log global
    option httplog
    option logasap

    # Define ACLs for WebSocket requests (Upgrade: websocket header)
    acl is_websocket hdr(Upgrade) -i websocket
    acl is_upgrade hdr(Connection) -i upgrade

    # WebSocket path routing
    use_backend service_cgws if path_cgws is_websocket is_upgrade

backend service_cgws
    mode http
    log global
    server cgws 127.0.0.1:180
    timeout connect 5s
    timeout server 1m
    option http-server-close
    option forwardfor
    http-request set-header X-Forwarded-For %[src]
```

### Output of `haproxy -vv`

```plain
HAProxy version 2.4.22-f8e3218 2023/02/14 - https://haproxy.org/
Status: long-term supported branch - will stop receiving fixes around Q2 2026.
Known bugs: http://www.haproxy.org/bugs/bugs-2.4.22.html
Running on: Linux 5.15.78-xm1.0.el9.x86_64 #1 SMP Sat Nov 12 16:11:03 UTC 2022 x86_64
Build options :
  TARGET  = linux-glibc
  CPU     = generic
  CC      = cc
  CFLAGS  = -O2 -g -Wall -Wextra -Wdeclaration-after-statement -fwrapv -Wno-address-of-packed-member -Wno-unused-label -Wno-sign-compare -Wno-unused-parameter -Wno-clobbered -Wno-missing-field-initializers -Wno-cast-function-type -Wtype-limits -Wshift-negative-value -Wshift-overflow=2 -Wduplicated-cond -Wnull-dereference
  OPTIONS = USE_PCRE2=1 USE_LINUX_TPROXY=1 USE_CRYPT_H=1 USE_GETADDRINFO=1 USE_OPENSSL=1 USE_LUA=1 USE_SLZ=1 USE_SYSTEMD=1 USE_PROMEX=1
  DEBUG   =

Feature list : -51DEGREES +ACCEPT4 +BACKTRACE -CLOSEFROM +CPU_AFFINITY +CRYPT_H -DEVICEATLAS +DL +EPOLL -EVPORTS +FUTEX +GETADDRINFO -KQUEUE +LIBCRYPT +LINUX_SPLICE +LINUX_TPROXY +LUA -MEMORY_PROFILING +NETFILTER +NS -OBSOLETE_LINKER +OPENSSL -OT -PCRE +PCRE2 -PCRE2_JIT -PCRE_JIT +POLL +PRCTL -PRIVATE_CACHE -PROCCTL +PROMEX -PTHREAD_PSHARED -QUIC +RT +SLZ -STATIC_PCRE -STATIC_PCRE2 +SYSTEMD +TFO +THREAD +THREAD_DUMP +TPROXY -WURFL -ZLIB

Default settings :
  bufsize = 16384, maxrewrite = 1024, maxpollevents = 200

Built with multi-threading support (MAX_THREADS=64, default=2).
Built with OpenSSL version : OpenSSL 3.2.2 4 Jun 2024
Running on OpenSSL version : OpenSSL 3.2.2 4 Jun 2024
OpenSSL library supports TLS extensions : yes
OpenSSL library supports SNI : yes
OpenSSL library supports : TLSv1.0 TLSv1.1 TLSv1.2 TLSv1.3
Built with Lua version : Lua 5.4.4
Built with the Prometheus exporter as a service
Built with network namespace support.
Built with libslz for stateless compression.
Compression algorithms supported : identity("identity"), deflate("deflate"), raw-deflate("deflate"), gzip("gzip")
Built with transparent proxy support using: IP_TRANSPARENT IPV6_TRANSPARENT IP_FREEBIND
Built with PCRE2 version : 10.40 2022-04-14
PCRE2 library supports JIT : no (USE_PCRE2_JIT not set)
Encrypted password support via crypt(3): yes
Built with gcc compiler version 11.5.0 20240719 (Red Hat 11.5.0-2)

Available polling systems :
      epoll : pref=300,  test result OK
       poll : pref=200,  test result OK
     select : pref=150,  test result OK
Total: 3 (3 usable), will use epoll.

Available multiplexer protocols :
(protocols marked as <default> cannot be specified using 'proto' keyword)
              h2 : mode=HTTP       side=FE|BE     mux=H2       flags=HTX|CLEAN_ABRT|HOL_RISK|NO_UPG
            fcgi : mode=HTTP       side=BE        mux=FCGI     flags=HTX|HOL_RISK|NO_UPG
              h1 : mode=HTTP       side=FE|BE     mux=H1       flags=HTX|NO_UPG
       <default> : mode=HTTP       side=FE|BE     mux=H1       flags=HTX
            none : mode=TCP        side=FE|BE     mux=PASS     flags=NO_UPG
       <default> : mode=TCP        side=FE|BE     mux=PASS     flags=

Available services : prometheus-exporter
Available filters :
        [SPOE] spoe
        [CACHE] cache
        [FCGI] fcgi-app
        [COMP] compression
        [TRACE] trace
```

### Last Outputs and Backtraces

```
[root@~]# curl -v -H "Upgrade: websocket" -H "Connection: Upgrade" http://127.0.0.1:80/cgws
*   Trying 127.0.0.1:80...
* Connected to 127.0.0.1 (127.0.0.1) port 80 (#0)
> GET /cgws HTTP/1.1
> Host: 127.0.0.1
> User-Agent: curl/7.76.1
> Accept: */*
> Upgrade: websocket
> Connection: Upgrade
>
* Mark bundle as not supporting multiuse
< HTTP/1.1 400 Bad request
< Content-length: 90
< Cache-Control: no-cache
< Connection: close
< Content-Type: text/html
<
<html><body><h1>400 Bad request</h1>
Your browser sent an invalid request.
</body></html>
* Closing connection 0

[root@~]# echo "show errors" | socat /var/run/haproxy.sock stdio
Total events captured on [22/Feb/2025:13:56:51.663] : 59

[22/Feb/2025:13:56:43.531] frontend http_front (#2): invalid request
  backend <NONE> (#-1), server <NONE> (#-1), event #58, src 127.0.0.1:8574
  buffer starts at 0 (including 0 out), 32651 free,
  len 117, wraps at 32720, error at position 117
  H1 connection flags 0x00000100, H1 stream flags 0x00000810
  H1 msg state MSG_DONE(30), H1 msg flags 0x00009590
  H1 chunk len 0 bytes, H1 body len 0 bytes :

  00000  GET /cgws HTTP/1.1\r\n
  00019  Host: 127.0.0.1\r\n
  00036  User-Agent: curl/7.76.1\r\n
  00061  Accept: */*\r\n
  00074  Upgrade: websocket\r\n
  00094  Connection: Upgrade\r\n
  00115  \r\n


```

### Additional Information

_No response_

Your request is invalid. You must set  a `Sec-WebSocket-Key` header. In return, the server must set a valid `Sec-WebSocket-Accept` header. For instance:
```
 curl -v -H "Upgrade: websocket" -H "Connection: Upgrade" -H "Sec-WebSocket-Key: dGhlIHNhbXBsZSBub25jZQ==" http://127.0.0.1:8889/cgws
* processing: http://127.0.0.1:8889/cgws
*   Trying 127.0.0.1:8889...
* Connected to 127.0.0.1 (127.0.0.1) port 8889
> GET /cgws HTTP/1.1
> Host: 127.0.0.1:8889
> User-Agent: curl/8.3.0-DEV
> Accept: */*
> Upgrade: websocket
> Connection: Upgrade
> Sec-WebSocket-Key: dGhlIHNhbXBsZSBub25jZQ==
> 
< HTTP/1.1 101 Switching Protocols
< server: nginx
< date: Sat, 22 Feb 2025 09:55:15 GMT
< connection: upgrade
< upgrade: websocket
< sec-websocket-accept: dGhlIHNhbXBsZSBub25jZQ==258EAFA5-E914-47DA-95CA-C5AB0DC85B11
< 
```

@capflam as in reverse proxing most of time we prefer less overhead and need lower latency 
its better give us an option:

option websocket-no-seckey

@capflam also latency for LB need to be lower because of it even some one will prefer to use xdp/bpf instead haproxy or nginx
so for holding more community its better take care of all aspects for example haproxy is taking care of security that is OVERHEAD for it because the service that i reverse proxing to it by haproxy is taking care of security in it all aspects

> [@capflam](https://github.com/capflam) as in reverse proxing most of time we prefer less overhead and need lower latency its better give us an option:
> 
> option websocket-no-seckey

But when you look into the [RFC 6455 Section 4.1](https://datatracker.ietf.org/doc/html/rfc6455#section-4.1) is there, afaik is this a required header, imho.

> 7.   The request MUST include a header field with the name
>        |Sec-WebSocket-Key|.  The value of this header field MUST be a
>        nonce consisting of a randomly selected 16-byte value that has
>        been base64-encoded (see [Section 4 of [RFC4648]](https://datatracker.ietf.org/doc/html/rfc4648#section-4)).  The nonce
>        MUST be selected randomly for each connection.
>
>        NOTE: As an example, if the randomly selected value was the
>        sequence of bytes 0x01 0x02 0x03 0x04 0x05 0x06 0x07 0x08 0x09
>        0x0a 0x0b 0x0c 0x0d 0x0e 0x0f 0x10, the value of the header
>        field would be "AQIDBAUGBwgJCgsMDQ4PEC=="

If there is still the need for `option websocket-no-seckey` , patches are Welcome on the Mailing list https://www.haproxy.org/#tact .

As @git001 said, these headers are indeed required by the RFC. 

Technically speaking,  it is of course possible to add an option to skip checks. However, I would be surprised you are able to observe any latency overhead because the checks performed on `Sec-WebSocket-Key` and `Sec-WebSocket-Accept` header fields. Especially because WebSocket connections are long-lived connections. So, IMHO, it is not really a good reason to add such option. And outside the tests performed by hand, I guess any serious client or server apps will rely on these headers, if only, for compatibility reasons.

But, on the other hand, I can understand that at some point, it is not the HAProxy job to perform these checks, especially because they should be handled by the client and the server applications. So,  I would say, why not :)

I'm updating the issue to make it a feature request.

If you configured nginx to ignore the header, isn't it possible to add a fake one in haproxy to validate the checks that would allow your non-compliant application to work ?

I forked haproxy  and tried to add that option by ai but it seems a lot of refactoring is needed

My compiler is not ready yet i installed centos localy to test it on final environment can someone help me ? Check forked repo commits

https://github.com/netsupcloud/haproxy/

Thanks in advance

Seriously, no, reading code is much more difficult and cumbersome than writing it, and in your case you have a tens of commits changing random text anywhere which will not even compile. There's no way anyone could restart from this, it consists in adding random noise to existing code for no purpose, thus taking you away from anything looking like a solution.

its just an if

But code has deps that on time i try to

With the following patch it could work in combination with the `option accept-unsafe-violations-in-http-request` directive, and it could make sense. @capflam what do you think ?
```diff
diff --git a/src/mux_h1.c b/src/mux_h1.c
index c355edd0b1..154114ad31 100644
--- a/src/mux_h1.c
+++ b/src/mux_h1.c
@@ -1901,7 +1901,9 @@ static int h1_search_websocket_key(struct h1s *h1s, struct h1m *h1m, struct htx
        }
 
        /* missing websocket key, reject the message */
-       if (!ws_key_found) {
+       if (!ws_key_found &&
+           ((!(h1m->flags & H1_MF_RESP) && !(h1s->h1c->px->options2 & PR_O2_REQBUG_OK)) ||
+            ((h1m->flags & H1_MF_RESP) && !(h1s->h1c->px->options2 & PR_O2_RSPBUG_OK)))) {
                htx->flags |= HTX_FL_PARSING_ERROR;
                return 0;
        }

```

> With the following patch it could work in combination with the `option accept-unsafe-violations-in-http-request` directive, and it could make sense. [@capflam](https://github.com/capflam) what do you think ?
> 
> diff --git a/src/mux_h1.c b/src/mux_h1.c
> index c355edd0b1..154114ad31 100644
> --- a/src/mux_h1.c
> +++ b/src/mux_h1.c
> @@ -1901,7 +1901,9 @@ static int h1_search_websocket_key(struct h1s *h1s, struct h1m *h1m, struct htx
>         }
>  
>         /* missing websocket key, reject the message */
> -       if (!ws_key_found) {
> +       if (!ws_key_found &&
> +           ((!(h1m->flags & H1_MF_RESP) && !(h1s->h1c->px->options2 & PR_O2_REQBUG_OK)) ||
> +            ((h1m->flags & H1_MF_RESP) && !(h1s->h1c->px->options2 & PR_O2_RSPBUG_OK)))) {
>                 htx->flags |= HTX_FL_PARSING_ERROR;
>                 return 0;
>         }

@capflam @wtarreau it seems it will active all unsafe violations and also it is not easy for new users to find it its better to be more targeted this is my patch:

`diff --git a/include/haproxy/global-t.h b/include/haproxy/global-t.h
index e3a078b28..9437fab00 100644
--- a/include/haproxy/global-t.h
+++ b/include/haproxy/global-t.h
@@ -87,6 +87,7 @@
 #define GTUNE_LISTENER_MQ_ANY    (GTUNE_LISTENER_MQ_FAIR | GTUNE_LISTENER_MQ_OPT)
 #define GTUNE_QUIC_CC_HYSTART    (1<<29)
 #define GTUNE_QUIC_NO_UDP_GSO    (1<<30)
+#define GTUNE_DISABLE_H1_WEBSOCKET_SECKEY (1<<31)  // New flag for skipping WebSocket key valid
 
 #define NO_ZERO_COPY_FWD             0x0001 /* Globally disable zero-copy FF */
 #define NO_ZERO_COPY_FWD_PT          0x0002 /* disable zero-copy FF for PT (recv & send are disabled automatically) */
diff --git a/src/cfgparse-global.c b/src/cfgparse-global.c
index 8e698ba1e..306f13fe7 100644
--- a/src/cfgparse-global.c
+++ b/src/cfgparse-global.c
@@ -109,6 +109,14 @@ int cfg_parse_global(const char *file, int linenum, char **args, int kwm)
                else
                        global.tune.options |=  GTUNE_DISABLE_H2_WEBSOCKET;
        }
+       else if (strcmp(args[0], "h1-websocket-skip-seckey") == 0) { /* "no h1-websocket-skip-seckey" or "h1-websocket-skip-seckey" */
+               if (alertif_too_many_args(0, file, linenum, args, &err_code))
+                       goto out;
+               if (kwm == KWM_NO)
+                       global.tune.options &= ~GTUNE_DISABLE_H1_WEBSOCKET_SECKEY;
+               else
+                       global.tune.options |= GTUNE_DISABLE_H1_WEBSOCKET_SECKEY;
+       }
        else if (strcmp(args[0], "insecure-fork-wanted") == 0) { /* "no insecure-fork-wanted" or "insecure-fork-wanted" */
                if (alertif_too_many_args(0, file, linenum, args, &err_code))
                        goto out;
diff --git a/src/mux_h1.c b/src/mux_h1.c
index c355edd0b..80bd7ad02 100644
--- a/src/mux_h1.c
+++ b/src/mux_h1.c
@@ -1859,6 +1859,11 @@ static int h1_search_websocket_key(struct h1s *h1s, struct h1m *h1m, struct htx
        struct ist n, v;
        int ws_key_found = 0, idx;
 
+       if (global.tune.options & GTUNE_DISABLE_H1_WEBSOCKET_SECKEY) {
+        // Skip WebSocket key validation if the option is enabled
+        return 1;
+    }
+
        idx = htx_get_head(htx); // returns the SL that we skip
        while ((idx = htx_get_next(htx, idx)) != -1) {
                blk = htx_get_blk(htx, idx);`



@capflam @wtarreau it seems it will active all unsafe violations and also it is not easy for new users to find it its better to be more targeted this is my patch:

```
diff --git a/include/haproxy/global-t.h b/include/haproxy/global-t.h
index e3a078b28..9437fab00 100644
--- a/include/haproxy/global-t.h
+++ b/include/haproxy/global-t.h
@@ -87,6 +87,7 @@
 #define GTUNE_LISTENER_MQ_ANY    (GTUNE_LISTENER_MQ_FAIR | GTUNE_LISTENER_MQ_OPT)
 #define GTUNE_QUIC_CC_HYSTART    (1<<29)
 #define GTUNE_QUIC_NO_UDP_GSO    (1<<30)
+#define GTUNE_DISABLE_H1_WEBSOCKET_SECKEY (1<<31)  // New flag for skipping WebSocket key valid
 
 #define NO_ZERO_COPY_FWD             0x0001 /* Globally disable zero-copy FF */
 #define NO_ZERO_COPY_FWD_PT          0x0002 /* disable zero-copy FF for PT (recv & send are disabled automatically) */
diff --git a/src/cfgparse-global.c b/src/cfgparse-global.c
index 8e698ba1e..306f13fe7 100644
--- a/src/cfgparse-global.c
+++ b/src/cfgparse-global.c
@@ -109,6 +109,14 @@ int cfg_parse_global(const char *file, int linenum, char **args, int kwm)
                else
                        global.tune.options |=  GTUNE_DISABLE_H2_WEBSOCKET;
        }
+       else if (strcmp(args[0], "h1-websocket-skip-seckey") == 0) { /* "no h1-websocket-skip-seckey" or "h1-websocket-skip-seckey" */
+               if (alertif_too_many_args(0, file, linenum, args, &err_code))
+                       goto out;
+               if (kwm == KWM_NO)
+                       global.tune.options &= ~GTUNE_DISABLE_H1_WEBSOCKET_SECKEY;
+               else
+                       global.tune.options |= GTUNE_DISABLE_H1_WEBSOCKET_SECKEY;
+       }
        else if (strcmp(args[0], "insecure-fork-wanted") == 0) { /* "no insecure-fork-wanted" or "insecure-fork-wanted" */
                if (alertif_too_many_args(0, file, linenum, args, &err_code))
                        goto out;
diff --git a/src/mux_h1.c b/src/mux_h1.c
index c355edd0b..80bd7ad02 100644
--- a/src/mux_h1.c
+++ b/src/mux_h1.c
@@ -1859,6 +1859,11 @@ static int h1_search_websocket_key(struct h1s *h1s, struct h1m *h1m, struct htx
        struct ist n, v;
        int ws_key_found = 0, idx;
 
+       if (global.tune.options & GTUNE_DISABLE_H1_WEBSOCKET_SECKEY) {
+        // Skip WebSocket key validation if the option is enabled
+        return 1;
+    }
+
        idx = htx_get_head(htx); // returns the SL that we skip
        while ((idx = htx_get_next(htx, idx)) != -1) {
                blk = htx_get_blk(htx, idx);
```

> With the following patch it could work in combination with the `option accept-unsafe-violations-in-http-request` directive, and it could make sense. [@capflam](https://github.com/capflam) what do you think ?
> 
> diff --git a/src/mux_h1.c b/src/mux_h1.c
> index c355edd0b1..154114ad31 100644
> --- a/src/mux_h1.c
> +++ b/src/mux_h1.c
> @@ -1901,7 +1901,9 @@ static int h1_search_websocket_key(struct h1s *h1s, struct h1m *h1m, struct htx
>         }
>  
>         /* missing websocket key, reject the message */
> -       if (!ws_key_found) {
> +       if (!ws_key_found &&
> +           ((!(h1m->flags & H1_MF_RESP) && !(h1s->h1c->px->options2 & PR_O2_REQBUG_OK)) ||
> +            ((h1m->flags & H1_MF_RESP) && !(h1s->h1c->px->options2 & PR_O2_RSPBUG_OK)))) {
>                 htx->flags |= HTX_FL_PARSING_ERROR;
>                 return 0;
>         }

@capflam @wtarreau it seems it will active all unsafe violations and also it is not easy for new users to find it its better to be more targeted this is my patch:

```
diff --git a/include/haproxy/global-t.h b/include/haproxy/global-t.h
index e3a078b28..9437fab00 100644
--- a/include/haproxy/global-t.h
+++ b/include/haproxy/global-t.h
@@ -87,6 +87,7 @@
 #define GTUNE_LISTENER_MQ_ANY    (GTUNE_LISTENER_MQ_FAIR | GTUNE_LISTENER_MQ_OPT)
 #define GTUNE_QUIC_CC_HYSTART    (1<<29)
 #define GTUNE_QUIC_NO_UDP_GSO    (1<<30)
+#define GTUNE_DISABLE_H1_WEBSOCKET_SECKEY (1<<31)  // New flag for skipping WebSocket key valid
 
 #define NO_ZERO_COPY_FWD             0x0001 /* Globally disable zero-copy FF */
 #define NO_ZERO_COPY_FWD_PT          0x0002 /* disable zero-copy FF for PT (recv & send are disabled automatically) */
diff --git a/src/cfgparse-global.c b/src/cfgparse-global.c
index 8e698ba1e..306f13fe7 100644
--- a/src/cfgparse-global.c
+++ b/src/cfgparse-global.c
@@ -109,6 +109,14 @@ int cfg_parse_global(const char *file, int linenum, char **args, int kwm)
                else
                        global.tune.options |=  GTUNE_DISABLE_H2_WEBSOCKET;
        }
+       else if (strcmp(args[0], "h1-websocket-skip-seckey") == 0) { /* "no h1-websocket-skip-seckey" or "h1-websocket-skip-seckey" */
+               if (alertif_too_many_args(0, file, linenum, args, &err_code))
+                       goto out;
+               if (kwm == KWM_NO)
+                       global.tune.options &= ~GTUNE_DISABLE_H1_WEBSOCKET_SECKEY;
+               else
+                       global.tune.options |= GTUNE_DISABLE_H1_WEBSOCKET_SECKEY;
+       }
        else if (strcmp(args[0], "insecure-fork-wanted") == 0) { /* "no insecure-fork-wanted" or "insecure-fork-wanted" */
                if (alertif_too_many_args(0, file, linenum, args, &err_code))
                        goto out;
diff --git a/src/mux_h1.c b/src/mux_h1.c
index c355edd0b..80bd7ad02 100644
--- a/src/mux_h1.c
+++ b/src/mux_h1.c
@@ -1859,6 +1859,11 @@ static int h1_search_websocket_key(struct h1s *h1s, struct h1m *h1m, struct htx
        struct ist n, v;
        int ws_key_found = 0, idx;
 
+       if (global.tune.options & GTUNE_DISABLE_H1_WEBSOCKET_SECKEY) {
+        // Skip WebSocket key validation if the option is enabled
+        return 1;
+    }
+
        idx = htx_get_head(htx); // returns the SL that we skip
        while ((idx = htx_get_next(htx, idx)) != -1) {
                blk = htx_get_blk(htx, idx);
```

@capflam @wtarreau it seems it will active all unsafe violations and also it is not easy for new users to find it its better to be more targeted this is my patch:

```
diff --git a/include/haproxy/global-t.h b/include/haproxy/global-t.h
index e3a078b28..9437fab00 100644
--- a/include/haproxy/global-t.h
+++ b/include/haproxy/global-t.h
@@ -87,6 +87,7 @@
 #define GTUNE_LISTENER_MQ_ANY    (GTUNE_LISTENER_MQ_FAIR | GTUNE_LISTENER_MQ_OPT)
 #define GTUNE_QUIC_CC_HYSTART    (1<<29)
 #define GTUNE_QUIC_NO_UDP_GSO    (1<<30)
+#define GTUNE_DISABLE_H1_WEBSOCKET_SECKEY (1<<31) 
 
 #define NO_ZERO_COPY_FWD             0x0001 /* Globally disable zero-copy FF */
 #define NO_ZERO_COPY_FWD_PT          0x0002 /* disable zero-copy FF for PT (recv & send are disabled automatically) */
diff --git a/src/cfgparse-global.c b/src/cfgparse-global.c
index 8e698ba1e..306f13fe7 100644
--- a/src/cfgparse-global.c
+++ b/src/cfgparse-global.c
@@ -109,6 +109,14 @@ int cfg_parse_global(const char *file, int linenum, char **args, int kwm)
                else
                        global.tune.options |=  GTUNE_DISABLE_H2_WEBSOCKET;
        }
+       else if (strcmp(args[0], "h1-websocket-skip-seckey") == 0) { /* "no h1-websocket-skip-seckey" or "h1-websocket-skip-seckey" */
+               if (alertif_too_many_args(0, file, linenum, args, &err_code))
+                       goto out;
+               if (kwm == KWM_NO)
+                       global.tune.options &= ~GTUNE_DISABLE_H1_WEBSOCKET_SECKEY;
+               else
+                       global.tune.options |= GTUNE_DISABLE_H1_WEBSOCKET_SECKEY;
+       }
        else if (strcmp(args[0], "insecure-fork-wanted") == 0) { /* "no insecure-fork-wanted" or "insecure-fork-wanted" */
                if (alertif_too_many_args(0, file, linenum, args, &err_code))
                        goto out;
diff --git a/src/mux_h1.c b/src/mux_h1.c
index c355edd0b..80bd7ad02 100644
--- a/src/mux_h1.c
+++ b/src/mux_h1.c
@@ -1859,6 +1859,11 @@ static int h1_search_websocket_key(struct h1s *h1s, struct h1m *h1m, struct htx
        struct ist n, v;
        int ws_key_found = 0, idx;
 
+       if (global.tune.options & GTUNE_DISABLE_H1_WEBSOCKET_SECKEY) {
+        // Skip WebSocket key validation if the option is enabled
+        return 1;
+    }
+
        idx = htx_get_head(htx); // returns the SL that we skip
        while ((idx = htx_get_next(htx, idx)) != -1) {
                blk = htx_get_blk(htx, idx);
```

> @capflam @wtarreau it seems it will active all unsafe violations

Yes, because it **is** a protocol violation caused by a bogus client.

> and also it is not easy for new users

New users rarely face protocol violations that require to set an option, and usually when they ask about a 400 or a 502, they're quickly directed towards the option that is needed to knowingly accept such violations.

> to find it its better to be more targeted this is my patch:

In no way this would be global. Protocol violations at best could be per proxy so that users are not forced to expose all their services for a single faulty client. In addition, it is important that the config key name clearly mentions the notion of protocol violation so that users don't blindly copy-paste it from stack-overflow without understanding the possible consequences.

And I'm still not convinced at all that a separate option is needed for this. This is an invalid request as per the standard, it can be covered by the existing option since anyway this service will never be exposed to the net.

First I agree with Willy. I'm tempted to think it should be include in `accept-unsafe-violations-in-http-request/accept-unsafe-violations-in-http-response` options. It is a protocol violation. All other violations are handled in the same way. There is no obvious reason to have an exception for this one. It is probably not so easy for new users to find the right option to make it works. But in that case, it is a good thing. Because at least, this will be a good way to think about it twice.

Then as Willy, said, it must be a per-proxy option and you must have oriented options too, one for the client side and one for the server side.  But honestly, it seems preferable to not add dedicated options for that.

@wtarreau, your patch seems good to me. However, I guess it could be good to capture the error too.


> it could be good to capture the error too.

Good point. Here's a better version then:
```diff
diff --git a/src/mux_h1.c b/src/mux_h1.c
index c355edd0b1..bf7fbaca5e 100644
--- a/src/mux_h1.c
+++ b/src/mux_h1.c
@@ -1850,7 +1850,7 @@ static void h1_set_tunnel_mode(struct h1s *h1s)
  * responsible for the generation of a key. This happens when a h2 client is
  * interfaced with a h1 server.
  *
- * Returns 0 if no key found or invalid key
+ * Returns 0 if no key found or invalid key. The message is not modified.
  */
 static int h1_search_websocket_key(struct h1s *h1s, struct h1m *h1m, struct htx *htx)
 {
@@ -1900,11 +1900,9 @@ static int h1_search_websocket_key(struct h1s *h1s, struct h1m *h1m, struct htx
                }
        }
 
-       /* missing websocket key, reject the message */
-       if (!ws_key_found) {
-               htx->flags |= HTX_FL_PARSING_ERROR;
+       /* missing websocket key, invalid message */
+       if (!ws_key_found)
                return 0;
-       }
 
        return 1;
 }
@@ -1986,13 +1984,24 @@ static size_t h1_handle_headers(struct h1s *h1s, struct h1m *h1m, struct htx *ht
        if ((h1m->flags & (H1_MF_CONN_UPG|H1_MF_UPG_WEBSOCKET)) ==
            (H1_MF_CONN_UPG|H1_MF_UPG_WEBSOCKET)) {
                int ws_ret = h1_search_websocket_key(h1s, h1m, htx);
+
                if (!ws_ret) {
-                       h1s->flags |= H1S_F_PARSING_ERROR;
-                       TRACE_ERROR("missing/invalid websocket key, reject H1 message", H1_EV_RX_DATA|H1_EV_RX_HDRS|H1_EV_H1S_ERR, h1s->h1c->conn, h1s);
                        h1_capture_bad_message(h1s->h1c, h1s, h1m, buf);
 
-                       ret = 0;
-                       goto end;
+                       if ((!(h1m->flags & H1_MF_RESP) && !(h1s->h1c->px->options2 & PR_O2_REQBUG_OK)) ||
+                           ((h1m->flags & H1_MF_RESP) && !(h1s->h1c->px->options2 & PR_O2_RSPBUG_OK))) {
+                               htx->flags |= HTX_FL_PARSING_ERROR;
+                               h1s->flags |= H1S_F_PARSING_ERROR;
+                               TRACE_ERROR("missing/invalid websocket key, reject H1 message",
+                                           H1_EV_RX_DATA|H1_EV_RX_HDRS|H1_EV_H1S_ERR, h1s->h1c->conn, h1s);
+
+                               ret = 0;
+                               goto end;
+                       } else {
+                               TRACE_ERROR("missing/invalid websocket key, but accepting this "
+                                           "violation according to configuration",
+                                           H1_EV_RX_DATA|H1_EV_RX_HDRS|H1_EV_H1S_ERR, h1s->h1c->conn, h1s);
+                       }
                }
        }
```

It now properly produces a trace when accepted:
```
[00|h1|0|mux_h1.c:2001] missing/invalid websocket key, but accepting this violation according to configuration : [F,EMB] [MSG_DONE, MSG_RPBEFORE]
```

And `show errors` at least reports a copy of the request:
```
Total events captured on [28/Feb/2025:16:15:21.473] : 1
 
[28/Feb/2025:16:15:20.483] frontend http_front (#2): invalid request
  backend <NONE> (#-1), server <NONE> (#-1), event #0, src 127.0.0.1:28000
  buffer starts at 0 (including 0 out), 16261 free,
  len 123, wraps at 16336, error at position 123
  H1 connection flags 0x00000000, H1 stream flags 0x00000010
  H1 msg state MSG_DONE(30), H1 msg flags 0x00009580
  H1 chunk len 0 bytes, H1 body len 0 bytes :
  
  00000  GET / HTTP/1.0\r\n
  00016  Host: 127.0.0.1:8001\r\n
  00038  User-Agent: curl/7.88.1-DEV\r\n
  00067  Accept: */*\r\n
  00080  connection: upgrade\r\n
  00101  upgrade: websocket\r\n
  00121  \r\n

```
I can commit that one once we all agree on it.

Oh, and it wil deserve a doc update to mention this special case with the option!

Cool, it seems good to me. Thanks ! 

I'll wait for @netsupcloud to confirm first, as I'd rather not merge anything if they're not going to use it!

@wtarreau @capflam its ok.

OK, now committed as fd5d59967a.

Note, for now there are no plans for backporting this, but if you'd prefer not to keep a local patch, we could consider backporting it to 3.1. Just let us know!

i can use 3.1 and compile from source but as almalinux9.5 or centos9stream repo-install will use 2.4.22 currently its better to be accessible there maybe

It will not be backported there (these versions are in critical fixes only status now), and anyway even if we did, distros do not backport features, so you will never get it from a distro. If you want, however, other community users are producing packages for distros, please have a look here in the wiki: https://github.com/haproxy/wiki/wiki/Packages
You could have the feature in the next 3.1 once it's backported.

@capflam @wtarreau now it returns error 502:

```
[ ~]# curl -v   -H "Upgrade: websocket"   -H "Connection: Upgrade"   -H "Sec-WebSocket-Key: $(openssl rand -base64 16)"   -H "Sec-WebSocket-Version: 13"   http://127.0.0.1:280/cgws
*   Trying 127.0.0.1:280...
* Connected to 127.0.0.1 (127.0.0.1) port 280 (#0)
> GET /cgws HTTP/1.1
> Host: 127.0.0.1:280
> User-Agent: curl/7.76.1
> Accept: */*
> Upgrade: websocket
> Connection: Upgrade
> Sec-WebSocket-Key: iWB2MtdZpUs67YfeSJcAXQ==
> Sec-WebSocket-Version: 13
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 101 Switching Protocols
< Upgrade: websocket
< Connection: Upgrade
< Sec-WebSocket-Accept: wJZNK4Ci9STl50nahoxpE915H5A=
< 
^C
[ ~]# 
[ ~]# 
[ ~]# 
[ ~]# 
[ ~]# 
[ ~]# 
[ ~]# 
[ ~]# 
[ ~]# 
[ ~]# 
[ ~]# curl -v   -H "Upgrade: websocket"   -H "Connection: Upgrade"   -H "Sec-WebSocket-Key: $(openssl rand -base64 16)"   -H "Sec-WebSocket-Version: 13"   http://127.0.0.1:80/cgws
*   Trying 127.0.0.1:80...
* Connected to 127.0.0.1 (127.0.0.1) port 80 (#0)
> GET /cgws HTTP/1.1
> Host: 127.0.0.1
> User-Agent: curl/7.76.1
> Accept: */*
> Upgrade: websocket
> Connection: Upgrade
> Sec-WebSocket-Key: TDk+0VwynrGk1p2G6ZlFWw==
> Sec-WebSocket-Version: 13
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 502 Bad Gateway
< content-length: 107
< cache-control: no-cache
< content-type: text/html
< 
<html><body><h1>502 Bad Gateway</h1>
The server returned an invalid or incomplete response.
</body></html>
* Connection #0 to host 127.0.0.1 left intact
```

To be more precise, what did you change between the two tests ? Also, what options are you using now ?

    option accept-unsafe-violations-in-http-request
    option accept-unsafe-violations-in-http-response 

i did add these options to frontend port 80 and also to backend service on port 280

Strange. In your request and response you already had the headers that the options are supposed to accept even if invalid or missing. So what differentiates the first test that worked  ? Was it without the options ? What I don't understand is what causes the 502 in any case.

i did test as first time wihtout necessary headers(Sec-WebSocket-Key) and response was 502 instead 400 so i tried with necessary headers and again response is 502

But I'm seeing them in the output, and the connection worked since you got the 101. Sorry, but I'm very confused by your tests and the very little amount of information you share about what you're trying.

I performed a quick test with the options set on frontend/backend. No Sec headers set on both sides, and it works as expected. Could you give more details please ?

That was the same for me. I thought I was getting crazy.

now i got it this response was even before the new patch so i disabled unsafe violations now and haproxy now gives 400 if we dont set sec-websocket-key and give 502 if we set it:

this is my test service server :
node s2.js
```
const http = require('http');
const WebSocket = require('ws');

// Create an HTTP server
const server = http.createServer((req, res) => {
    res.writeHead(200, { 'Content-Type': 'text/plain' });
    res.end('HTTP server is running\n');
});

// Create a WebSocket server by passing the HTTP server instance
const wss = new WebSocket.Server({ noServer: true }); // Use `noServer: true` to handle upgrades manually

// Handle WebSocket upgrade requests
server.on('upgrade', (request, socket, head) => {
    const pathname = new URL(request.url, `http://${request.headers.host}`).pathname;

    if (pathname === '/cgws') {
        wss.handleUpgrade(request, socket, head, (ws) => {
            wss.emit('connection', ws, request);
        });
    } else {
        socket.destroy(); // Close the connection if the path is not `/cgws`
    }
});

wss.on('connection', (socket) => {
    console.log('Client connected');
    socket.send('Hello from WebSocket server');
    socket.on('message', (message) => {
        console.log(`Received: ${message}`);
    });
});

// Start the server on port 280
server.listen(280, () => {
    console.log('Server is running on http://localhost:280 and ws://localhost:280/cgws');
});

haproxy:
frontend http_front
    bind *:80
    mode http
    option accept-unsafe-violations-in-http-request
    log global
    option httplog
    option logasap  # Log requests immediately (before waiting for the response)
    option http-server-close
    option http-no-delay
#    capture request header Host len 64
#    capture request header Upgrade len 64
#    capture request header Connection len 64
#    capture request header Sec-WebSocket-Key len 64
#    capture request header Sec-WebSocket-Version len 64

    # Define ACLs for WebSocket requests (Upgrade: websocket header)
    acl is_websocket hdr(Upgrade) -i websocket
    acl is_upgrade hdr(Connection) -i upgrade

    acl path_cgws path_beg /cgws

    use_backend service_cgws if path_cgws is_websocket is_upgrade

backend service_cgws
    mode http
    log global
    server cgws 127.0.0.1:280
    timeout connect 5s
    timeout server 1m
    option accept-unsafe-violations-in-http-response

```


OK so port 280 is the server itself, that we saw in the first capture. So this means we can try to replay the request+response through haproxy and see.

So I retried with both your config and your capture, and for me both work equally both with and without the options since the headers are present. You're facing another error I'm afraid.

try this one maybe whole config can make some issues:

```
global
    nbthread 2
    stats socket /var/run/haproxy.sock mode 600 level admin expose-fd listeners
    #socat /var/run/haproxy.sock stdio
    #show errors
#echo "show errors" | socat /var/run/haproxy.sock stdio

    # request limit is (bufsize - maxrewrite), our desired limit is 16k (8k is default)
    # Set global parameters for buffer size and max rewrite size
    tune.maxrewrite 16384
    tune.bufsize 32768
#    tune.http.maxhdr 151 # default 101
#    tune.http.logurilen 2048 #default 1024
#    log /dev/log local0
#    log /var/log/haproxy.log format raw local0 debug  # Log to a file
    log stdout format raw local0 debug
    maxconn 65535
    user haproxy
    group haproxy
    daemon
#    tune.ssl.default-dh-param 2048
#    h1-websocket-skip-seckey

defaults
    log global
    option httplog
    option http-server-close
    option tcp-smart-accept
    option tcp-smart-connect
    timeout tunnel 1h
#    option tcplog
    option dontlognull
#    option forwardfor       except 127.0.0.0/8
#    option  splice-auto
#    option  tcp-smart-connect
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout client-fin      1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    http-reuse always  # Reuse connections for better performance

frontend http_front
    bind *:80
    mode http
    option accept-unsafe-violations-in-http-request
    log global
    option httplog
    option logasap  # Log requests immediately (before waiting for the response)
    stats enable
    stats uri /ha?s
    stats auth adminrt:h0.131232
    stats hide-version       # Hide the version of HAProxy
    stats refresh 30s        # HAProxy refresh time
    stats show-node
    option http-server-close
    option http-no-delay
#    capture request header Host len 64
#    capture request header Upgrade len 64
#    capture request header Connection len 64
#    capture request header Sec-WebSocket-Key len 64
#    capture request header Sec-WebSocket-Version len 64

    # Define ACLs for WebSocket requests (Upgrade: websocket header)
    acl is_websocket hdr(Upgrade) -i websocket
    acl is_upgrade hdr(Connection) -i upgrade

    acl path_cgws path_beg /cgws
    acl path_de1 path_beg /de1
    acl path_de2 path_beg /de2
    acl path_dec path_beg /dei
    acl path_uuid path_beg /8a79cbed-7950-49be-a3f7-5301efa797f3
    acl path_dee path_beg /dee
    acl path_dev path_beg /dev
    acl path_deh path_beg /deh
    acl path_de11 path_beg /de11

    # WebSocket path routing
    use_backend service_cgws if path_cgws is_websocket is_upgrade

    # Regular HTTP path routing
#    use_backend service_cgws if path_cgws
    use_backend service_de1 if path_de1
    use_backend service_de2 if path_de2
    use_backend service_dei if path_dei
    use_backend service_uuid if path_uuid
    use_backend service_dee if path_dee
    use_backend service_dev if path_dev
    use_backend service_deh if path_deh
    use_backend service_de11 if path_de11

    default_backend euronews

backend euronews
    mode http
    server euronews_server euronews.com:443 ssl verify none
    http-request set-header Host euronews.com
    http-request set-header Referer %[hdr(Referer)]
    http-request set-header X-Real-IP %[src]
    http-request set-header User-Agent %[hdr(User-Agent)]
    http-request set-header X-Forwarded-For %[src]
    http-request set-header X-Forwarded-Proto https
    http-request del-header Accept-Encoding
    http-request set-header Accept-Language de-DE

backend service_cgws
    mode http
    log global
    server cgws 127.0.0.1:280
    timeout connect 5s
    timeout server 1m
    option accept-unsafe-violations-in-http-request
backend service_de1
    mode http
    log global
    server de1 127.0.0.1:180
    timeout connect 5s
    timeout server 1m
backend service_de2
    mode http
    server de2 127.0.0.1:22052
backend service_dei
    mode http
    log global
    server dei 127.0.0.1:47206
    timeout connect 5s
    timeout server 1m
backend service_uuid
    mode http
    server uuid 127.0.0.1:28880
backend service_dee
    mode http
    server dee 127.0.0.1:22095
backend service_dev
    mode http
    server dev 127.0.0.1:28080
backend service_deh
    mode http
    server deh 127.0.0.1:22082
backend service_de11
    mode http
    server de11 127.0.0.1:22086

frontend https_front
    bind *:443
    mode tcp
    option tcplog
#    option tcp-smart-connect  # Optimize TCP connections
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    use_backend sni_ccn0 if { req.ssl_sni -i ccn0.example.com }
    use_backend sni_ccn1 if { req.ssl_sni -i ccn1.example.com }
    use_backend sni_ccn2 if { req.ssl_sni -i ccn2.example.com }
    use_backend sni_ccn3 if { req.ssl_sni -i ccn3.example.com }
    use_backend sni_w if { req.ssl_sni -i w.example.com }
    default_backend sni_default

backend sni_ccn0
    mode tcp
    server ccn0 127.0.0.1:41761
backend sni_ccn1
    mode tcp
    server ccn1 127.0.0.1:4443
backend sni_ccn2
    mode tcp
    server ccn2 127.0.0.1:22053
backend sni_ccn3
    mode tcp
    server ccn3 127.0.0.1:43574
backend sni_w
    mode tcp
    server w 127.0.0.1:6443
backend sni_default
    mode tcp
    server default 127.0.0.1:80
```



Why ` option http-server-close` in your defaults section ? I sense it could come from there, with the server closing immediately upon the 101, if responding at all. Also it generates a huge load on your servers by closing and reconnecting all the time, and is contrary to the `http-reuse always` a few lines later. You're asking to reuse persistent connections but you're closing them. I'd try again without that one first.

It may be a typo but in your last conf, the cgws server is configured to connect to the port 180, not 280.

no its not typo in real config it is 280 i just edited it to make some test env for here

Anyway it's worth double-checking that it properly responds, because it's true that without health checks, a wrong port will definitely lead to a 502.

You may also need to emit "show errors" on the stats socket to verify that there is no other invalid stuff in your server's response that would be blocked by the way.

Going to bed now, good night and good luck.

ok the test service is ok based on RFC standard but my non-standard service that nginx can reverse proxy to it will fail here this is service cg2 that as you can see direct call to it is ok and nginx also will reverse proxy to it but haproxy will fail:

```
curl -v   -H "Upgrade: websocket"   -H "Connection: Upgrade"  http://127.0.0.1:180/cg2
*   Trying 127.0.0.1:180...
* Connected to 127.0.0.1 (127.0.0.1) port 180 (#0)
> GET /cg2 HTTP/1.1
> Host: 127.0.0.1:180
> User-Agent: curl/7.76.1
> Accept: */*
> Upgrade: websocket
> Connection: Upgrade
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 101 Switching Protocols
< Connection: upgrade
< Upgrade: websocket
< Date: Fri, 28 Feb 2025 21:55:36 GMT
< 
^C


 curl -v   -H "Upgrade: websocket"   -H "Connection: Upgrade"  http://127.0.0.1:80/cg2
*   Trying 127.0.0.1:80...
* Connected to 127.0.0.1 (127.0.0.1) port 80 (#0)
> GET /cg2 HTTP/1.1
> Host: 127.0.0.1
> User-Agent: curl/7.76.1
> Accept: */*
> Upgrade: websocket
> Connection: Upgrade
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 502 Bad Gateway
< content-length: 107
< cache-control: no-cache
< content-type: text/html
< 
<html><body><h1>502 Bad Gateway</h1>
The server returned an invalid or incomplete response.
</body></html>
* Connection #0 to host 127.0.0.1 left intact
[~]# echo "show errors" | socat /var/run/haproxy.sock stdio
Total events captured on [] : 9
 
[] frontend http_front (#2): invalid request
  backend <NONE> (#-1), server <NONE> (#-1), event #8, src 127.0.0.1:42808
  buffer starts at 0 (including 0 out), 32651 free,
  len 117, wraps at 32720, error at position 117
  H1 connection flags 0x00000000, H1 stream flags 0x00000010
  H1 msg state MSG_DONE(30), H1 msg flags 0x00009590
  H1 chunk len 0 bytes, H1 body len 0 bytes :
  
  00000  GET /cg2 HTTP/1.1\r\n
  00019  Host: 127.0.0.1\r\n
  00036  User-Agent: curl/7.76.1\r\n
  00061  Accept: */*\r\n
  00074  Upgrade: websocket\r\n
  00094  Connection: Upgrade\r\n
  00115  \r\n
```

```
    acl is_websocket hdr(Upgrade) -i websocket
    acl is_upgrade hdr(Connection) -i upgrade
    acl path_cg2 path_beg /cg2
    use_backend service_cg2 if path_cg2 is_websocket is_upgrade

backend service_cg2
    mode http
    log global
    server cg2 127.0.0.1:180
    timeout connect 5s
    timeout server 1m
    option accept-unsafe-violations-in-http-request
```

    acl is_websocket hdr(Upgrade) -i websocket
    acl is_upgrade hdr(Connection) -i upgrade
    acl path_cg2 path_beg /cg2
    use_backend service_cg2 if path_cg2 is_websocket is_upgrade

backend service_cgws
    mode http
    log global
    server cgws 127.0.0.1:180
    timeout connect 5s
    timeout server 1m
    option accept-unsafe-violations-in-http-request

if you need i try to run a test service server and give you public IP for test @wtarreau @capflam 

There is definitely something we missed. You may eventually enable the H1 traces on haproxy.  On the 3.2, it is quite simple. You should add the following sections in your configuration file:

```
ring buf1
        size 10485760 
        format timed
        backing-file /tmp/blah

traces
     trace h1 sink buf1 level developer verbosity complete start now
```

This will dump the traces in `/tmp/blah`. The content can then be explored with `dev/haring/haring` tool (use `make dev/haring/haring` command to compile it). You can also dump the traces on stderr, by changing `buf1` by `stderr`.

Thanks for the trace ! So here we can see the server closed the connection just after the request was sent:

```
<0>2025-03-02T09:27:07.158248+xx:xx [00|h1|5|mux_h1.c:3855] h1_recv(): entering : [B,RUN] - h1c=0x20a7b70(0x80000000) conn=0x20a7950(0x00000300) .task=0x20a7c90 .exp=<NEVER> .idle_exp=<NEVER> ibuf=0@(nil)+0/0 obuf=0@(nil)+0/0
<0>2025-03-02T09:27:07.158260+xx:xx [00|h1|5|mux_h1.c:3920] h1_recv(): read0 on connection : [B,RUN] - h1c=0x20a7b70(0x80000000) conn=0x20a7950(0x00040300) .task=0x20a7c90 .exp=<NEVER> .idle_exp=<NEVER> ibuf=0@0x2096200+48/32768 obuf=0@(nil)+0/0
<0>2025-03-02T09:27:07.158264+xx:xx [00|h1|5|/mux_h1.c:526] h1_recv_allowed(): recv not allowed because of (eos|error) on h1c : [B,RUN] - h1c=0x20a7b70(0x80000100) conn=0x20a7950(0x00040300) .task=0x20a7c90 .exp=<NEVER> .idle_exp=<NEVER> ibuf=0@0x2096200+48/32768 obuf=0@(nil)+0/0
<0>2025-03-02T09:27:07.158268+xx:xx [00|h1|4|mux_h1.c:3933] data received or pending or connection error : [B,RUN] - VAL=0 - h1c=0x20a7b70(0x80000100) conn=0x20a7950(0x00040300) .task=0x20a7c90 .exp=<NEVER> .idle_exp=<NEVER> ibuf=0@0x2096200+48/32768 obuf=0@(nil)+0/0
```

And it is reported as an abort, leading to a 502:

```
<0>2025-03-02T09:27:07.158360+xx:xx [00|h1|3|mux_h1.c:2324] report EOS to SE : [B,RUN] [MSG_DONE, MSG_RPBEFORE] - req=(.fl=0x00009591 .curr_len=0 .body_len=0)  res=(.fl=0x00001404 .curr_len=0 .body_len=0) - h1c=0x20a7b70(0x80000100) conn=0x20a7950(0x00040300) .task=0x20a7c90 .exp=<NEVER> .idle_exp=<NEVER> h1s=0x20a7d20(0x0001c010) sd=0x20a7340(0x50408001) sc=0x20a72e0(0x00001411) ibuf=0@(nil)+0/0 obuf=0@(nil)+0/0 iobuf(.pipe=0, .data=0+0, .flags=0x0)
<0>2025-03-02T09:27:07.158364+xx:xx [00|h1|0|mux_h1.c:2335] message aborted, set error on SC : [B,RUN] [MSG_DONE, MSG_RPBEFORE] - req=(.fl=0x00009591 .curr_len=0 .body_len=0)  res=(.fl=0x00001404 .curr_len=0 .body_len=0) - h1c=0x20a7b70(0x80000100) conn=0x20a7950(0x00040300) .task=0x20a7c90 .exp=<NEVER> .idle_exp=<NEVER> h1s=0x20a7d20(0x0001c010) sd=0x20a7340(0x50418001) sc=0x20a72e0(0x00001411) ibuf=0@(nil)+0/0 obuf=0@(nil)+0/0 iobuf(.pipe=0, .data=0+0, .flags=0x0)
```

So your server is not happy with the request. There is no  `Sec-Websocket-Key` header in your request and it is forwarded to the server. So `accept-unsafe-violations-in-http-request` option was properly handled.  However, this header will be added by HAProxy. So your server will receive this header in the request with a random key. I don't know if it could be an issue for your server. Do you have some logs on your server side ? 

@capflam yes server makes error its better to avoid adding header and transfer it without manipulation because service is a secure service and will take care of connection

@capflam @wtarreau and client and server will negotiate togather for headers and type of connection so manipulation between them is some type of MITM attack

But when you test manually with curl, it doesn't error. I'm sorry, but everything looks completely hacked in your situation. There's nothing standards-compliant and it's extremely hard to debug because no assumption can be made at any stage of the chain. Yet for you this seems normal and you're reporting some "it doesn't work" that takes us a lot of time to diagnose while it's in fact the rest of the chain that doesn't work. If at least we knew how each components is expected to behave we could help you a bit, but every observation tends to contradict previous assumptions, that's particularly difficult.

I don't understand why your server is rejecting this header. It may ignore it. It is not RFC compliant, but at least it is consistant. But returning an error when the WebSocket protocol is respected, It is just a non-sense. At this stage, I think you should consider to perform a protocol upgrade with a custom protocol and avoid to use the WebSocket. If the client and the server agree to not respect the RFC, it is probably good to use something else.

And here there is no MITM attack, these headers are added on purpose by HAProxy, to be able to establish a WebSocket connection between a H2 client and a H1 server or the opposite. Adding another directive to deal with non-RFC compliant apps, at this stage, is not an option.

Actually I'm even thinking about reverting the patch. We did it to help non-compliant stacks, but here it's getting too far, it's not even a non-compliant stack, it's just a hack.

and why nginx reverse proxing it without problem ?

you guys at first need to think its a configurable reverse proxying and load balancer or is dedicated to only some services

community or not ?

Another option for @netsupcloud could be to consider that HAProxy isn't just the right tool and stay to nginx or any other reverse proxy and load balancer which fulfill the requirement .

> why nginx is working ?

 That's exactly what we'd like to know. Till now all you've shown are the cases where connecting directly works, you're saying that your server rejects the header, which is proven wrong by your own captures, and you've shown that connecting via haproxy fails despite producing similar traces as the ones you were supposed to have in your direct test. I'm sorry but there's nothing that fits in this issue. All the explanations you've given for now are incompatible with observations. We don't know what your server is doing but we can't guess what secret sauce it's applying.

If nginx is working fine, why don't you use nginx instead ? Why are you insisting on modifying haproxy to accommodate your bogus components ?

About Nginx, I guess it is a choice. But there is something I don't understand. At the beginning, the feature request was to add an option to bypass checks about websockets headers because it was not set by the client and the server. Now, it seems these headers are not set but also explicitly rejected. At the end, why are you using websocket ? It seems obvious you are not relying on standard stack, so you can just perform a simple HTTP protocol upgrade using a custom protocol. There is nothing wrong to use your own protocol

why i try to use haproxy? because it has monitoring options and from start is defined for reverse proxing and balancing 
nginx is a web server from start!

and why its not acceptable haproxy must be in somewhere(some admins) just (balancer) not manipulator ?

> why i try to use haproxy? because it has monitoring options and from start is defined for reverse proxing and balancing nginx is a web server from start!
> 
> and why its not acceptable haproxy must be in somewhere(some admins) just (balancer) not manipulator ?

You can use always the `mode tcp` instead of `mode http`, see [mode](http://docs.haproxy.org/dev/configuration.html#4.2-mode) in the doc.

Maybe you have configured the [ngx_stream_core_module](https://nginx.org/en/docs/stream/ngx_stream_core_module.html) that's the reason why the nginx works.

What's your working nginx config?

> and why its not acceptable haproxy must be in somewhere(some admins) just (balancer) not manipulator ?

By being in the middle, an intermediary must adapt to both ends and take extreme care not to become the one that desynchronizes with either of them, introducing vulnerabilities. When you start to support 4 different versions of HTTP (not counting the fcgi variant), you are forced to "manipulate" meta-data just because the connection-level indications vary from one version to the other. We still take extreme care to touch the least possible, and as you've seen, we even added an option to relax some security checks for situations like yours where both the client and the server are broken.

But that still doesn't tell us why the test you showed before with the headers managed to pass while now you're claiming that the server stops immediately when seeing the header.

For me all of this makes absolutely no sense. My impression is that you're testing on different components or maybe you're even adjusting some configuration all the time to make the server behave differently. We still have no idea what the server is, what the client is, nor what they accept. All we know is that according to you, they are not really compatible with websocket nor HTTP. Yet we're trying to help you set them up but you're not even helping us help you.

At that point I'm not convinced we'll make any progress and I already regret having merged that patch which in the end seems useless. All I can say is that it would be nice that you try again with curl directly to the server like you did a few comments above with the header, when it worked, to see if the server continues to reject it. I suspect that in fact the server does not reject it, it's just crashing because it's receiving something it was not supposed to receive. But at least it will give us an indication about how to proceed next.

can you exactly give header that haproxy will add to ? i want add it in curl for test

It is *exactly* what you had in your curl request. For example here I'm getting that:
```
GET / HTTP/1.1
host: 127.0.0.1:8002
user-agent: curl/7.88.1-DEV
accept: */*
connection: upgrade
upgrade: websocket
sec-websocket-key: bBlTk1nMkzOUaazJlCzlhA==
```

Oh and on the curl side I had this:
```
$ curl -i -H "connection: upgrade" -H "upgrade: websocket" 127.0.0.1:8002
HTTP/1.1 101 Switching Protocols
connection: upgrade
upgrade: websocket
sec-websocket-accept: VrAOUrF23Zm1GnS6mpbDuW3FERU=
```

Well, `sec-websocket-key` header will be added in the request sent to the server if not set by the client. And `sec-websocket-accept` will be added in the response sent back to the client if not set by the server. In that case, the client key is used to produce the correct hash or the one generated internally during the request processing if none was provided by the client. 

It means that by adding `accept-unsafe-violations-in-http-request` and `accept-unsafe-violations-in-http-response` options this will skip the checks on the headers and this should work with clients and servers that not rely on these headers. But the server must not silently reject the request if `sec-websocket-key` header is found. If it is not acceptable, just don't use websocket protocol. because this just means you are not doing websocket at all.

this is nginx conf

 ```
server {
        listen 0.0.0.0:80;
        location /cg2 {proxy_pass http://127.0.0.1:180;}
        location / {
            proxy_pass https://euronews.com;
            proxy_redirect off;
            proxy_ssl_server_name on;
            sub_filter_once off;
            sub_filter "euronews.com" $server_name;
            proxy_set_header Host "euronews.com";
            proxy_set_header Referer $http_referer;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header User-Agent $http_user_agent;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto https;
            proxy_set_header Accept-Encoding "";
            proxy_set_header Accept-Language "de-DE";
            proxy_cache proxy_cache;
            proxy_cache_revalidate on;
            proxy_cache_min_uses 3;
            proxy_cache_lock on;
        }
	proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $http_host;
#        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_buffering off;
 #       proxy_buffers 128 256k;
#        proxy_buffer_size 256k;
#        proxy_busy_buffers_size 256k;
        proxy_max_temp_file_size 0;  # Disable disk buffering (keeps everything in memory)
        proxy_read_timeout 30s;
        proxy_connect_timeout 10s;
        proxy_send_timeout 30s;
    }

stream {
    log_format stream_debug '$remote_addr:$remote_port -> $proxy_protocol_addr:$proxy_pass_target '
                            'sni="$ssl_preread_server_name" bytes_sent=$bytes_sent bytes_received=$bytes_received '
                            'status=$status session_time=$session_time';

    access_log /var/log/nginx/stream.log stream_debug;
    map $ssl_preread_server_name $proxy_pass_target {
        "ccn0.example.com" 127.0.0.1:41761;
        "ccn1.example.com" 127.0.0.1:4443;
        "ccn2.example.com" 127.0.0.1:22053;
        "ccn3.example.com" 127.0.0.1:43574;
        "w.example.com" 127.0.0.1:6443;
        default 127.0.0.1:80;
    }
    server {
        listen 443;
        listen [::]:443;
        ssl_preread on;
        proxy_pass $proxy_pass_target;
    }
}
```

@capflam no i mean after adding unsafe violations option if haproxy passed unsafe websocket will add some additional header to it ?

The websockets headers will be added in all cases. It is unrelated to the unsafe parsing options. It is performed to be compatible with H2 websocket apps. For instance, to be able to open a websocket connection from a H2 client on a H1 server. 

And in any case your previous test with curl proved that the server accepts them pretty fine.

As far as I understand this nginx doc [WebSocket proxying](https://nginx.org/en/docs/http/websocket.html) will nginx switch to tunnel mode, which was also the case before HAProxy 2.4.

> Since version 1.3.13, nginx implements special mode of operation that allows setting up a tunnel between a client and proxied server if the proxied server returned a response with the code 101 (Switching Protocols), and the client asked for a protocol switch via the “Upgrade” header in a request. 

With 2.4 , maybe earlier, was the [Websocket](https://www.haproxy.com/blog/announcing-haproxy-2-4#http2-websockets) handling implemented.

Maybe this explains what the proxying via nginx "just works".
My suggestion is, if you don't need to manipulate the http header just use the `mode tcp` and see if it fixes your requirements.

> As far as I understand this nginx doc [WebSocket proxying](https://nginx.org/en/docs/http/websocket.html) will nginx switch to tunnel mode, which was also the case before HAProxy 2.4.
> 
> > Since version 1.3.13, nginx implements special mode of operation that allows setting up a tunnel between a client and proxied server if the proxied server returned a response with the code 101 (Switching Protocols), and the client asked for a protocol switch via the “Upgrade” header in a request.
> 
> With 2.4 , maybe earlier, was the [Websocket](https://www.haproxy.com/blog/announcing-haproxy-2-4#http2-websockets) handling implemented.
> 
> Maybe this explains what the proxying via nginx "just works". My suggestion is, if you don't need to manipulate the http header just use the `mode tcp` and see if it fixes your requirements.

TCP mode cannot do path-based routing because it doesn't inspect the payload.

HTTP mode is required for path-based routing.

@netsupcloud, try to reply to our questions please. Willy asked you why your server rejects requests with the `sec-websocket-key` header set while in a previous comment, you successfully performed a test with curl directly on your server with this header set ? Have you changed something ? If yes, why ?

We've added a way to support non-compliant app. You are now free to not set `sec-websocket-key` and `sec-websocket-accept` headers. The reason is a bit obscure for me, because I cannot imagine it has any impact on the latency.  But it is now possible. Right. But now, why your server rejects requests with such headers ? If your server doesn't rely on it, it may be simply ignored. There is absolutely no reason to consider the request as invalid. In addition, it is absolutely horrific to do so by brutally closing the connection. Honestly, more we move on this issue, more your server seems to be based an a terrible hack. 

So, now, the real question is: How can we help you more about this feature request ?

@capflam it was nodejs test server for your test i made that script but even i didnt know that it can not mimic my actual server response
my actual server is not compatible with sec key at all its optimized for speed not for RFC

 ```
curl -v   -H "Upgrade: websocket"   -H "Connection: Upgrade"   -H "Sec-WebSocket-Key: $(openssl rand -base64 16)"   -H "Sec-WebSocket-Version: 13"   http://127.0.0.1:180/cg2
*   Trying 127.0.0.1:180...
* Connected to 127.0.0.1 (127.0.0.1) port 180 (#0)
> GET /cg2 HTTP/1.1
> Host: 127.0.0.1:180
> User-Agent: curl/7.76.1
> Accept: */*
> Upgrade: websocket
> Connection: Upgrade
> Sec-WebSocket-Key: 3r5vDBS/p8wiCOCmZ0s0LQ==
> Sec-WebSocket-Version: 13
> 
* Empty reply from server
* Closing connection 0
curl: (52) Empty reply from server
[  ~]# 
[  ~]# 
[  ~]# 
[  ~]# 
[  ~]# 
[  ~]# 
[  ~]# 
[  ~]# 
[  ~]# curl -v   -H "Upgrade: websocket"   -H "Connection: Upgrade"  http://127.0.0.1:180/cg2
*   Trying 127.0.0.1:180...
* Connected to 127.0.0.1 (127.0.0.1) port 180 (#0)
> GET /cg2 HTTP/1.1
> Host: 127.0.0.1:180
> User-Agent: curl/7.76.1
> Accept: */*
> Upgrade: websocket
> Connection: Upgrade
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 101 Switching Protocols
< Connection: upgrade
< Upgrade: websocket
< Date: Mon, 03 Mar 2025 
< 
^C
```

Ok, thanks. So your server is rejecting  the request if `sec-websocket-key` header is set. So, you should remove any check on this header from your server. This will be an additional speedup and this should work like a charm. If you are not prepare to get the key to compute the hash for the response, there is no reason to look for this header to brutally close the connection if it was set.

For HAProxy, be reassured, you will be unable to see any difference on the latency. Especially if you consider the whole life of the websocket connection.

@capflam
already server can maintain a lot of protocols
that they work over haproxy like grpc wss quic

here(above test) server actively reject it because connection is oriented(client-server) based on its security measures!

but here i dont think server face with this problem
problem is when we do 


curl -v   -H "Upgrade: websocket"   -H "Connection: Upgrade"  http://127.0.0.1:80/cg2

what is happening to output of haporxy ?

infact server get call like: curl -v   -H "Upgrade: websocket"   -H "Connection: Upgrade" -H "????????????????" http://127.0.0.1:180/cg2

@capflam log of server:

http: panic serving 127.0.0.1:64726: runtime error: invalid memory address or nil pointer dereference
httpupgrade.(*Server).invalidRequest(0xc0000c0070, {0x23e12f8?, 0xc00e8fa460?}, 0xc00f158140?, 0x7f9a28d8ed78?, {0x23cc9a0, 0xc01205b680})

after this server is alive its only one go routine that failed and server is ready again for another request that if we send from nginx there is no error


Hum, honestly I'm surprised a junk header is injected in the request sent from haproxy to the server. At least, I'm unable to reproduce it. But a bug is possible. Here you provided the server error. To really know what happens, you should get a network capture between haproxy and your server. 

Just to be sure, please also specify the exact version of haproxy you are running and eventually the patches applied. Thanks 

@capflam  

```
haproxy -v
HAProxy version 3.2-dev6 2025/02/19 - https://haproxy.org/
Status: development branch - not safe for use in production.
Known bugs: https://github.com/haproxy/haproxy/issues?q=is:issue+is:open
Running on: Linux 5.15.78-xm1.0.el9.x86_64
```

@capflam 

```
dnf in -y --enablerepo=crb openssl-devel pcre2-devel libatomic zlib-devel systemd-devel lua-devel opentracing-cpp-devel
git clone https://github.com/opentracing/opentracing-cpp.git
cd opentracing-cpp
mkdir build
cd build
cmake ..
make
sudo make install
if failed to compile edit file:
nano 3rd_party/include/opentracing/catch2/catch.hpp line:6631
convert:
char FatalConditionHandler::altStackMem[SIGSTKSZ]
char FatalConditionHandler::altStackMem[8192]

git clone https://github.com/haproxytech/opentracing-c-wrapper.git
cd opentracing-c-wrapper
autoreconf -i
mkdir build
cd build
../configure --prefix=/usr/local
make
make install

sudo ldconfig
export PKG_CONFIG_PATH=/usr/local/lib/pkgconfig:$PKG_CONFIG_PATH
sudo pkg-config --cflags --libs opentracing-c-wrapper

git clone https://github.com/haproxy/haproxy.git
cd haproxy

  make -j$(nproc) TARGET=linux-glibc \
  USE_OPENSSL=1 \
  USE_PCRE2=1 \
  USE_PCRE2_JIT=1 \
  USE_ZLIB=1 \
#  USE_SLZ=1 \
  USE_LUA=1 \
  USE_THREAD=1 \
  USE_LINUX_TPROXY=1 \
  USE_LINUX_SPLICE=1 \
  USE_EPOLL=1 \
  USE_GETADDRINFO=1 \
  USE_CPU_AFFINITY=1 \
  USE_TFO=1 \
  USE_NS=1 \
  USE_BACKTRACE=1 \
  USE_PROMEX=1 \
#  USE_QUIC=1 \
  USE_MEMORY_PROFILING=1 \
  USE_THREAD_DUMP=1 \
  USE_ACCEPT4=1 \
  USE_CLOSEFROM=1 \
  USE_PRCTL=1 \
  USE_PROCCTL=1 \
  USE_DL=1 \
  USE_RT=1 \
  USE_MATH=1 \
  USE_LIBATOMIC=1 \
  USE_STATIC_PCRE2=1 \
  USE_WURFL=1 \
  USE_DEVICEATLAS=1 \
  USE_51DEGREES=1 \
  DEFINE="-DMAX_THREADS=2" \
  CFLAGS="-O2 -march=native -mtune=native -flto -fomit-frame-pointer $OT_CFLAGS" \
  LDFLAGS="-Wl,-O1,--sort-common,--as-needed,-z,now $OT_LDFLAGS"
```

> server actively reject it because connection is oriented(client-server) based on **its security measures**!

and:

>  my actual server is not compatible with sec key at all its **optimized for speed not for RFC**

See the result of this crappy combination below ?

> http: panic serving 127.0.0.1:64726: runtime error: invalid memory address or nil pointer dereference
> httpupgrade.(*Server).invalidRequest(0xc0000c0070, {0x23e12f8?, 0xc00e8fa460?}, 0xc00f158140?, 0x7f9a28d8ed78?, 
> {0x23cc9a0, 0xc01205b680})

That's exactly what comes out of "_servers optimized for speed not for RFC_": **a blatant vulnerability**. Respecting RFCs has a virtue that they make implementers discover protocol strangeness that need to be taken care of instead of relying on beliefs. Shortcuts done in the code in quest for a supposed speed improvement regularly result in such jokes when facing unexpected corner cases. So by the way I was right, the fact that the server abruptly closes is in fact because it crashes. Thus it's **all except security**, your super-fast server **is vulnerable and remotely attackable**.

In fact you need haproxy in front of it to prevent regular clients from crashing it (or even possibly worse, like remote code execution). It could be useful to figure what makes it crash. I don't know if you have access to the sources to fix it, or a contact with the vendor to report this vulnerability and get it fixed ASAP.

In the mean time you could possibly try to just send an empty header. As Christopher explained, haproxy will add the `sec-websocket-key` header on output to support websocket/H2 to H1 downgrades. But maybe you can just set an empty one like this to see if that changes anything:  `http-request set-header sec-websocket-key ""`. I'm not even sure we can send an empty header value this way, maybe you'll need to forge it using an expression like `http-request set-header sec-websocket-key %[str("")]`. At least it doesn't cost much to try.

But in any case you must be extremely careful about who has access to this server, and make sure it's in no way accessible from hostile networks!

@capflam @wtarreau @git001 

```
    acl path_cg2 path_beg /cg2
    http-request set-header sec-websocket-key     %[str("")]     if path_cg2
    use_backend service_cg2 if path_cg2
```

now it works even i dont need to take care that it is websocket or Upgrade just checking path is enough now

thanks you guys for all your efforts

now as gift because you guys are precise DevOps now i say why i dont doubt there is a bug and why i came here after a lot try and error 4 days wasnt another way just comming to here!>>>>

exactly same service by same config just different port number is accepted from haproxy:

- without adding sec-key null header!
- it was working even before patch and adding unsafe option and after patch working yet!

```
    acl path_cgi path_beg /cgi
    use_backend service_cgi if path_cgi

backend service_cgi
    mode http
    server cgi 127.0.0.1:22052   (all curl test we did before directly to cg2 here has same result on cgi  and cgi is just naming not related to cgi)

```



Fine! In any case you should be extremely careful about this server. If changing its port makes it work better and not crash anymore, that's scary. It might even be backdoored, explaining why it changes behavior when running as root and when not.

@wtarreau so you sure in all conditions haproxy for all ws services will add sec-websocket-key ?
Because my service in direct call all time rejects it

With a H1 server, for an websocket upgrade, a `sec-websocket-key` header will always be present in the request as sent to the server. It may be the client's one if provided, the one added by conf or the one injected automatically by HAProxy just before sending the request. But, by adding it with a `set-header` HTTP action, the value may be empty.

if request.Header.Get("Sec-WebSocket-Key") != "" {
		s.invalidRequest(writer, request, http.StatusNotFound, E.New("real websocket request received"))
		return
	}

based on source code of server it dosnt like real websocket connections also so client never add sec headers

so as i said for unknown reason haproxy sometimes will add sec headers and sometime doesnt

Why do you say "sometimes" ? Christopher explained the header addition mechanism. If you think you've seen cases where it was not added, please provide a network capture. No offense intended, but we have numerous reasons to doubt from the server's behavior before drawing conclusions about what's on the wire...

Well, I guess a tcpdump between haproxy and your server is required. Because for a H1 request with `connection: upgrade` and `upgrade: websocket` headers, this header must be present when the request is sent to the server, set  by the client or by haproxy. Reading the code,  I cannot see how it could be skipped, except if you are playing with the request headers in your configuration.
I really doubt there is a bug here, but I may have wrong. But a network capture must show it.

Note that in your code, there is probably no difference between no header and a header with an empty value. I'm not a go dev, it is just a guess. And in HAProxy no key is added if a header with an empty value is found.

@capflam @wtarreau @git001 
ok i found different behavior of haproxy for same conditions and config just different path

my service for different path has same behavior but haproxy has different behavior for path with 1 character and for path with 2 character
/w /ww

also if its possible i want stop producing security accept string to avoid wasting cpu time with haproxy
Sec-Websocket-Accept: X7sdFi1aZDLMcFz+yURsFmFjwvU=

```
frontend http_front
    bind *:80
    mode http
    option accept-unsafe-violations-in-http-request

    acl path_w path_beg /w
    http-request set-header sec-websocket-key %[str("")] if path_w
    acl path_ww path_beg /ww
    http-request set-header sec-websocket-key %[str("")] if path_ww

    use_backend service_w if path_w
    use_backend service_ww if path_ww

backend service_w
    mode http
    server w 127.0.0.1:48106
    option accept-unsafe-violations-in-http-response
backend service_ww
    mode http
    server ww 127.0.0.1:38106
    option accept-unsafe-violations-in-http-response

[ ~]# curl -v -H "Upgrade: websocket" -H "Connection: Upgrade" http://127.0.0.1:48106/w
*   Trying 127.0.0.1:48106...
* Connected to 127.0.0.1 (127.0.0.1) port 48106 (#0)
> GET /w HTTP/1.1
> Host: 127.0.0.1:48106
> User-Agent: curl/7.76.1
> Accept: */*
> Upgrade: websocket
> Connection: Upgrade
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 101 Switching Protocols
< Connection: upgrade
< Upgrade: websocket
< Date: Thu, 13 Mar 2025
< 
^C
[ ~]# curl -v -H "Upgrade: websocket" -H "Connection: Upgrade" http://127.0.0.1:80/w
*   Trying 127.0.0.1:80...
* Connected to 127.0.0.1 (127.0.0.1) port 80 (#0)
> GET /w HTTP/1.1
> Host: 127.0.0.1
> User-Agent: curl/7.76.1
> Accept: */*
> Upgrade: websocket
> Connection: Upgrade
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 101 Switching Protocols
< connection: upgrade
< upgrade: websocket
< date: Thu, 13 Mar 2025
< Sec-Websocket-Accept: X7sdFi1aZDLMcFz+yURsFmFjwvU=
< 
^C
[ ~]# curl -v -H "Upgrade: websocket" -H "Connection: Upgrade" http://127.0.0.1:38106/ww
*   Trying 127.0.0.1:38106...
* Connected to 127.0.0.1 (127.0.0.1) port 38106 (#0)
> GET /ww HTTP/1.1
> Host: 127.0.0.1:38106
> User-Agent: curl/7.76.1
> Accept: */*
> Upgrade: websocket
> Connection: Upgrade
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 101 Switching Protocols
< Connection: upgrade
< Upgrade: websocket
< Date: Thu, 13 Mar 2025
< 
^C
[ ~]# curl -v -H "Upgrade: websocket" -H "Connection: Upgrade" http://127.0.0.1:80/ww
*   Trying 127.0.0.1:80...
* Connected to 127.0.0.1 (127.0.0.1) port 80 (#0)
> GET /ww HTTP/1.1
> Host: 127.0.0.1
> User-Agent: curl/7.76.1
> Accept: */*
> Upgrade: websocket
> Connection: Upgrade
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 502 Bad Gateway
< content-length: 107
< cache-control: no-cache
< content-type: text/html
< 
<html><body><h1>502 Bad Gateway</h1>
The server returned an invalid or incomplete response.
</body></html>
* Connection #0 to host 127.0.0.1 left intact
```


@capflam @git001 @wtarreau 

and if i convert this:

```
    acl path_w path_beg /w
    http-request set-header sec-websocket-key %[str("")] if path_w
    acl path_ww path_beg /ww
    http-request set-header sec-websocket-key %[str("")] if path_ww

    use_backend service_w if path_w
    use_backend service_ww if path_ww

backend service_w
    mode http
    server w 127.0.0.1:48106
    option accept-unsafe-violations-in-http-response
backend service_ww
    mode http
    server ww 127.0.0.1:38106
    option accept-unsafe-violations-in-http-response
```

to this:

```
    acl path_w path_beg /w
    http-request set-header sec-websocket-key %[str("")] if path_w
    acl path_ww path_beg /ww
    http-request set-header sec-websocket-key %[str("")] if path_ww

#    use_backend service_w if path_w
    use_backend service_ww if path_ww

#backend service_w
#    mode http
#    server w 127.0.0.1:48106
#    option accept-unsafe-violations-in-http-response
backend service_ww
    mode http
    server ww 127.0.0.1:38106
    option accept-unsafe-violations-in-http-response
```

now it works correctly:

```
 ~]# curl -v -H "Upgrade: websocket" -H "Connection: Upgrade" http://127.0.0.1:80/ww
*   Trying 127.0.0.1:80...
* Connected to 127.0.0.1 (127.0.0.1) port 80 (#0)
> GET /ww HTTP/1.1
> Host: 127.0.0.1
> User-Agent: curl/7.76.1
> Accept: */*
> Upgrade: websocket
> Connection: Upgrade
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 101 Switching Protocols
< connection: upgrade
< upgrade: websocket
< date: Thu, 13 Mar 2025 12:29:31 GMT
< Sec-Websocket-Accept: X7sdFi1aZDLMcFz+yURsFmFjwvU=
< 
^C

```

@capflam @git001 @wtarreau 
it means if requested /ww from frontend haproxy thinks it is /w and wrongly will forward it to w server instead ww server so it doesn't check that it can be another path like /ww



The issue discussed in this ticket has been long solved.

You should use the mailing list or the discourse forum for general support, we use this issue tracker for bugs and feature request only.


@capflam @git001 @wtarreau did anyone check this bug? its easily reproduceable!!!! i must open new issue ? 

What you are saying in your latest messages is not a bug, you appear to misunderstand basic string matching.

Again, this is an issue tracker for bugs and features. There are mailing list and discourse forums for you to discuss configurations and get help with it.
