Log forwarding of non-RFC compliant syslog messages

### Your Feature Request

Hi.

I'm using HAProxy for log forwarding in certain setups to improve load balancing for TCP-based syslog. This is especially valuable when a very small number of high-volume streams account for most of the total traffic.

Good as it is, there is something about the *strictness* of the feature that is causing some headaches. I dug a bit into the code and it seems that current behavior for TCP logs starts with:

* The stream is split in messages (either newline delimited or using octet counting).
* For each message, if the first character is not a "<" then it is silently discarded.

If messages survive this first filter then several parsing attempts are done to extract RFC3164 or RFC5424 headers as *meta* fields.

The final step is to deliver those reconstructed messages conforming to a single chosen format –raw, rfc5424 or rfc5424, among others—.

The outcomes of this approach are:

* If we receive a mix of RFC3164 and RFC5424 syslog messages, one type will be coerced into another —presumably, we will chose RFC5424 to avoid loss of info—. This means a significative alteration of the original message.
* If we receive a non conformant RFC3164 and RFC5424 syslog starting with a PRIO field ("\<N\>") then HAproxy is going to try to build a conformant syslog message. This is, in most of cases, an overcorrection because non-conformancy is acceptable in many cases.
* If we receive a non conformant RFC3164 and RFC5424 syslog NOT starting with a PRIO field ("\<N\>") then the message is discarded. This is bad.     
 
For non RFC syslog messages, someone could suggest adding a fake PRI field from origin and use *raw* format to deliver. The problem is that, if we do this, then well formed messages will end up stripped off of the header part. 
 
I hope you understand what I mean.

### What are you trying to do?

My proposal is simple: let's have a *option dontparselog* for the log-forwarder proxy type. This way so we can have a "dumber" log loadbalancer, but very useful in cases where the structure of syslog messages is sloppy yet acceptable.    

I took a look to the code and I think that a PR shouldn't be too complex (famous last words 😅) because it's about choosing a code path that already exists. I will try to propose a PR in the next days.

Any thoughts about this?

Thanks a lot in advance.

Rob


### Output of `haproxy -vv`

```plain
HAProxy version 3.1.3-929bedf 2025/01/29 - https://haproxy.org/
Status: stable branch - will stop receiving fixes around Q1 2026.
Known bugs: http://www.haproxy.org/bugs/bugs-3.1.3.html
Running on: Linux 6.10.14-linuxkit #1 SMP Fri Nov 29 17:22:03 UTC 2024 x86_64
Build options :
  TARGET  = linux-glibc
  CC      = cc
  CFLAGS  = -O2 -g -fwrapv
  OPTIONS = USE_LINUX_TPROXY=1 USE_CRYPT_H=1 USE_GETADDRINFO=1 USE_OPENSSL=1 USE_LUA=1 USE_SLZ=1 USE_PROMEX=1 USE_PCRE2=1
  DEBUG   =

Feature list : -51DEGREES +ACCEPT4 +BACKTRACE -CLOSEFROM +CPU_AFFINITY +CRYPT_H -DEVICEATLAS +DL -ENGINE +EPOLL -EVPORTS +GETADDRINFO -KQUEUE -LIBATOMIC +LIBCRYPT +LINUX_CAP +LINUX_SPLICE +LINUX_TPROXY +LUA +MATH -MEMORY_PROFILING +NETFILTER +NS -OBSOLETE_LINKER +OPENSSL -OPENSSL_AWSLC -OPENSSL_WOLFSSL -OT -PCRE +PCRE2 -PCRE2_JIT -PCRE_JIT +POLL +PRCTL -PROCCTL +PROMEX -PTHREAD_EMULATION -QUIC -QUIC_OPENSSL_COMPAT +RT +SHM_OPEN +SLZ +SSL -STATIC_PCRE -STATIC_PCRE2 +TFO +THREAD +THREAD_DUMP +TPROXY -WURFL -ZLIB

Default settings :
  bufsize = 16384, maxrewrite = 1024, maxpollevents = 200

Built with multi-threading support (MAX_TGROUPS=16, MAX_THREADS=256, default=8).
Built with OpenSSL version : OpenSSL 3.2.2 4 Jun 2024
Running on OpenSSL version : OpenSSL 3.2.2 4 Jun 2024
OpenSSL library supports TLS extensions : yes
OpenSSL library supports SNI : yes
OpenSSL library supports : TLSv1.0 TLSv1.1 TLSv1.2 TLSv1.3
OpenSSL providers loaded : default
Built with Lua version : Lua 5.4.7
Built with the Prometheus exporter as a service
Built with network namespace support.
Built with libslz for stateless compression.
Compression algorithms supported : identity("identity"), deflate("deflate"), raw-deflate("deflate"), gzip("gzip")
Built with transparent proxy support using: IP_TRANSPARENT IPV6_TRANSPARENT IP_FREEBIND
Built with PCRE2 version : 10.40 2022-04-14
PCRE2 library supports JIT : no (USE_PCRE2_JIT not set)
Encrypted password support via crypt(3): yes
Built with gcc compiler version 11.5.0 20240719 (Red Hat 11.5.0-2)

Available polling systems :
      epoll : pref=300,  test result OK
       poll : pref=200,  test result OK
     select : pref=150,  test result OK
Total: 3 (3 usable), will use epoll.

Available multiplexer protocols :
(protocols marked as <default> cannot be specified using 'proto' keyword)
         h2 : mode=HTTP  side=FE|BE  mux=H2    flags=HTX|HOL_RISK|NO_UPG
         h1 : mode=HTTP  side=FE|BE  mux=H1    flags=HTX|NO_UPG
  <default> : mode=HTTP  side=FE|BE  mux=H1    flags=HTX
       fcgi : mode=HTTP  side=BE     mux=FCGI  flags=HTX|HOL_RISK|NO_UPG
       spop : mode=SPOP  side=BE     mux=SPOP  flags=HOL_RISK|NO_UPG
  <default> : mode=SPOP  side=BE     mux=SPOP  flags=HOL_RISK|NO_UPG
       none : mode=TCP   side=FE|BE  mux=PASS  flags=NO_UPG
  <default> : mode=TCP   side=FE|BE  mux=PASS  flags=

Available services : prometheus-exporter
Available filters :
	[BWLIM] bwlim-in
	[BWLIM] bwlim-out
	[CACHE] cache
	[COMP] compression
	[FCGI] fcgi-app
	[SPOE] spoe
	[TRACE] trace
```

A small precision:

haproxy log forward listener strictly follows RFC6587 regarding octet count or non-transparent framing transport when receiving logs over TCP.

As stated in the rfc, non-transparent framing expects that the log message starts with `<`  and ends with a '\n', and optionally a carriage return before the line feed. So it means non-transparent framing expects syslog priority indeed, as it is probably designed to be used in conjunction with RFC3164 or RFC5424 compliant message.

Regarding octet-count method, it isn't specified that the log message should start with a specific character, so haproxy will accept anything as input. (if output format is raw, then it means non-rfc compliant syslog message, ie: neither RFC3164 nor RFC5424 compliant , can be forwarded through haproxy over tcp)

In essence, all haproxy needs is to be able to split individual log messages in a TCP stream, and for that it relies on RFC6587 for the message transmission.

For UDP log listener, the message boundary is provided by UDP itself (log message is the datagram's payload)

Also, when a log message leaves haproxy over TCP (ie: using log backend with TCP servers), haproxy uses non-transparent framing by default (also referred to as "legacy"). But octet-count can be enforced using the "log-proto" server keyword:
https://docs.haproxy.org/dev/configuration.html#5.2-log-proto


Hope this helps

Hi, @darlelet.

Thank you for the clarification on framing. This is what I referred to as "the stream is split in messages" 😊.

I see the TCP framing is implemented in [syslog_io_handler](https://github.com/haproxy/haproxy/blob/eced1d6d8a1cca7748ad71e308ceb8faf5d55880/src/log.c#L5763). There you can see that anything that doesn't start with "<" or "1-9" is silently discarded —I didn't mention the *non-zero number* possibility, sorry about that—.

To make clearer the problem I've setup a small lab with HAproxy server configured like this:

```
log-forward foo
  bind *:10080
  dgram-bind *:10080
  maxconn 1000
  log backend@be.foo format rfc5424 local0

backend be.foo
  mode log
  log global
  balance roundrobin
  server foo01 127.0.0.1:10081
  server foo02 127.0.0.1:10082
```

Say that you have a bunch of different devices, different brands and varying "interpretations" of what a syslog message is 😊. These are examples of syslog messages inspired in real scenarios:

| Message sent to HAproxy | Message received by backends | Comments|
|:--|:--|:--|
| <13>1 2025-02-10T21:54:53+01:00 myhostname myapp 12345 ID47 [exampleSDID@32473 iut="3" eventSource="Application" eventID="1001"] An example syslog message in RFC5424 format | <13>1 2025-02-10T21:54:53+01:00 myhostname myapp 12345 ID47 [exampleSDID@32473 iut="3" eventSource="Application" eventID="1001"] An example syslog message in RFC5424 format | All good |
| <13>Feb 10 21:58:56 myhostname myapp[12345]: Another example message using BSD/RFC3164 format. | <13>1 2025-02-10T21:58:56-00:00 myhostname myapp 12345 - - Another example message using BSD/RFC3164 format | Message is "translated" to RFC5424 |
| <13> 2025-02-10T21:57:58 GMT This is an illformed syslog message | <13>1 2025-02-10T21:11:32.128777+00:00 - - - - -  2025-02-10T21:57:58 GMT This is an illformed syslog message | New header is added |
| 42 This is a terrible syslog message foo=bar {"bar": "baridad"} | <128>1 2025-02-10T21:14:39.891646+00:00 - - - - - This is a terrible syslog message foo=bar | Header is added and message is cut |
| This is a terrible syslog message foo=bar {"bar": "baridad"} |  | Message is silently discarded |

If we use this configuration (see that I changed the output format to *raw*):

```
log-forward foo
  bind *:10080
  dgram-bind *:10080
  maxconn 1000
  log backend@be.foo format raw local0

backend be.foo
  mode log
  log global
  balance roundrobin
  server foo01 127.0.0.1:10081
  server foo02 127.0.0.1:10082
```

then these are the results:

| Message sent to HAproxy | Message received by backends | Comments|
|:--|:--|:--|
| <13>1 2025-02-10T21:54:53+01:00 myhostname myapp 12345 ID47 [exampleSDID@32473 iut="3" eventSource="Application" eventID="1001"] An example syslog message in RFC5424 format | An example syslog message in RFC5424 format | All headers are stripped |
| <13>Feb 10 21:58:56 myhostname myapp[12345]: Another example message using BSD/RFC3164 format | Another example message using BSD/RFC3164 format | All headers are stripped |
| <13>2025-02-10T21:57:58 GMT This is an illformed syslog message | 2025-02-10T21:57:58 GMT This is an illformed syslog message | Only the "text" part is sent |
| 42 This is a terrible syslog message foo=bar {"bar": "baridad"} | This is a terrible syslog message foo=bar | Message is cut |
| This is a terrible syslog message foo=bar {"bar": "baridad"} |  | Message is silently discarded |

... if we were in a pure RFC5424, then everything would be perfect, but, alas, reality is messy. I do know that all the results with non-conformant messages are explainable, but the result is confusing in a real setup (this is what led me to read the code). 

As I commented in my previous post, my proposal is to implement an option to disable all attempt to parse a message once it is "split" from the stream (no matter the type of framing). This way we could use the output raw format to send it "as it came" to the backend servers.

Pending from having more time to write a PR, I think that the two key points to "divert" from the current behaviour using that option are [this](https://github.com/haproxy/haproxy/blob/eced1d6d8a1cca7748ad71e308ceb8faf5d55880/src/log.c#L5861) and [this](https://github.com/haproxy/haproxy/blob/eced1d6d8a1cca7748ad71e308ceb8faf5d55880/src/log.c#L5749).

I hope this helps to clarify what I meant in my first post.

Thanks a lot in advance.

  Rober



Thanks

Indeed, it could make sense to have an option on the log-forward section to disable de-serialization of input messages.
(as you guessed haproxy tries to automatically recognize the log format to extract relevant RFC3164 or RFC5424 metadata, that are then used to re-build the log header according to format options.)

But if we implement this kind of option, it would only make sense when used in combination with `log` statements making use of the `raw` format, this is something we need to keep in mind.

I'll take your examples to provide some answers:

| Message sent to HAproxy | Message received by backends | Comments|
|:--|:--|:--|
| <13>Feb 10 21:58:56 myhostname myapp[12345]: Another example message using BSD/RFC3164 format. | <13>1 2025-02-10T21:58:56-00:00 myhostname myapp 12345 - - Another example message using BSD/RFC3164 format | Message is "translated" to RFC5424 |

I think this one should be working by omitting the "format" keyword on `log` statement: it is not mandatory for log-forward section, and the result is that haproxy will not enforce a given format, it will try to preserve the input one (provided that it is a format that haproxy recognizes)
Like this:
```
log-forward foo
  bind *:10080
  dgram-bind *:10080
  maxconn 1000
  log backend@be.foo local0
```

| Message sent to HAproxy | Message received by backends | Comments|
|:--|:--|:--|
| <13> 2025-02-10T21:57:58 GMT This is an illformed syslog message | <13>1 2025-02-10T21:11:32.128777+00:00 - - - - -  2025-02-10T21:57:58 GMT This is an illformed syslog message | New header is added |

This could indeed be solved by adding an option to disable input log message processing (framing apart), so that the log is re-emitted as-is to preserve original content in case haproxy is unable to properly decode it. I think it would really make sense for that kind of properly framed messages but with non standard or invalid log header

| Message sent to HAproxy | Message received by backends | Comments|
|:--|:--|:--|
42 This is a terrible syslog message foo=bar {"bar": "baridad"} 	|This is a terrible syslog message foo=bar 	|Message is cut
This is a terrible syslog message foo=bar {"bar": "baridad"} 	||	Message is silently discarded

Unfortunately, both of these messages are invalid from a framing point of view:
- The first one: since the log's message length is announced as 42, we only consider 42 bytes as message content and we process the log as soon as 42 bytes are available (expected sequence). all bytes found after that are simply considered as garbage data until a new "valid" sequence is found. If we wanted to consider that those "garbage" characters should be part of the previous message, then it means we would need to wait for the following message header to come over the wire to properly detect the end of the previous one... So if logs are sent sporadically, it means we wouldn't be able to process logs in real time, which is bad.

- second one: I think we can only consider it is garbage data, because we have no way to tell when the message starts nor when it stops, and since TCP stream doesn't give us any boundary, we're left with RFC6587 non-transparent framing logic for that. For receiving such kind of messages (only raw payload over the wire), I think UDP is the only reliable solution. Now if it's only about relaying the TCP stream and no per-message balancing is required, a simple TCP frontend+backend with a single server should do the trick.



Nice one about avoiding the format specification. Indeed, that solves the inter-RFC translation. Thx for the tip 😊. 

Now, for the rest, I agree with you that framing itself has to be addressed. Let's be clear that **the main goal is to be able to manage load balancing at message level with non-transparent-framing** even in extreme cases of malformed messages. For this, we could extend the normal behavior with two options:

* disable octet counting framing —_option noocframing_—
* disable all message parsing —_option dontparselog_—

Again, I know that syslog messages that are non-RFC conformant should be treated as garbage, but by giving them a chance, it broadens the possibilities of HAProxy a lot.

The per-message balancing is a must in situations where a couple TCP streams amount for most of the messages. Precisely **this could set apart HAproxy from other only L3 load balancing solutions**. 

You're welcome

I understand the need, however when talking about message compliance let's not mix between the message framing (for TCP stream) and the content itself:

I totally agree that we should provide an option to preserve the content in case of malformed message (either UDP or TCP but yet properly framed: some kind of content bypass option like "dontparselog" as you suggested looks good), now regarding the framing itself, I don't see any technical possibility to relax the checks as you say because then how do we proceed with per-message balancing when there is no message delimiter within the stream? In a log-oriented stream, RFC6587 spec is mandatory as it is part of the transport layer: It's like if you were asking to receive a TCP packet with broken header, the best thing we can do is to keep searching for the next valid sequence (ie: identified as message) in the stream.

Another possibility would be to support another framing specification that could be used instead of RFC6587 (to split the stream in distinct messages with different parsing rules, I don't know if there are alternatives to RFC6587 used in the field), but again this implies that the logs received by haproxy comply with this specification. If haproxy and the TCP log producer cannot agree on a common protocol to split messages, then there's nothing that can be done at haproxy level, except relaying the stream as-is (without any log oriented processing) using a regular TCP backend (but then I don't see how the end log consuming application is going to deal with a TCP stream without usable message boundaries, it's like moving the issue away from haproxy to the end server)

First of all, thank you for considering the *dontparselog* option. That helps a lot in many scenarios.

Regarding the framing, I agree that we should not mix framing with content parsing —actually they are clearly separated in the code—. For this reason, I suggest another *noocframing* option that will make non-transparent framing the only path. AFAIK, there are no  alternatives to RFC6587 for framing, but what I'm pursuing is to have the option to disable octet framing support for a useful purpose. 

This two options combined, effectively address all the requirements of a (very) useful dumb log forwarder:

* Parsing consistency in scenarios of lousy syslog messages —i.e. no parsing—. 
* Dumbed-down criteria for message framing, so we will have consistent results even if a malformed message begins with a non-zero digit.

As a proof of tested some minimal code to simulate these two options, and it works as expected. See diff attached.

```diff
diff --git a/src/log.c b/src/log.c
index 90b5645cb..c3b9f2c5e 100644
--- a/src/log.c
+++ b/src/log.c
@@ -5399,6 +5399,11 @@ void parse_log_message(char *buf, size_t buflen, int *level, int *facility,
 
        memset(metadata, 0, LOG_META_FIELDS*sizeof(struct ist));
 
+       /* WIP: if option dontparselog then assume is bad_format */
+       if (1) {
+               goto bad_format;
+       }
+
        p = buf;
        if (*size < 2 || *p != '<')
                return;
@@ -5794,7 +5799,8 @@ static void syslog_io_handler(struct appctx *appctx)
                else if (to_skip < 0)
                        goto cli_abort;
 
-               if (c == '<') {
+               /* WIP: if c == '<' or option noocframing then do NTF */
+               if (c == '<' || 1) {
                        /* rfc-6587, Non-Transparent-Framing: messages separated by
                         * a trailing LF or CR LF
                         */

```


If you see some sense in this, I'd be happy to provide a PR with the implementation of the options and corresponding doc.

Thx a lot in advance.

  Rober

Then I think it should be turned the other way around: not an option to disable octet-count, but instead an option to explicitly tell haproxy that we assume that the input is non-transparent framing, even if the message lacks `<` starting character which normally tells non-transparent framing is used. The result is the same, but I think it would be less confusing

example:
```
log-forward test
option assume-rfc6587-ntf
```
or something similar.

Regarding the `dontparselog` option I think you can completely bypass the `parse_log_message()` call so that `process_send_log()` is called with the unprocessed/raw log message.
 
We'll be glad to assist you if you're motivated to write the patches yourself. Please read https://github.com/haproxy/haproxy/blob/master/CONTRIBUTING first, then you can send the patches on the mailing list for review. If you have any question feel free to ask us

Thanks!

Makes sense: it's much clearer as you suggest. 

On where in the code to implement the "path diversion", bypassing the two *parse_log_message()* calls leaves variables like *level* and *facility* undefined —can be solved, but it is unplanned refactoring—. Also, I would prefer to make the switch to the new behaviour in a single point.

Having an option called *dontparselog* and execution path that actually goes to *parse_log_message()* could be confusing, so what do you think about *option assume-bad-format*? Actually, what we do is exactly that.      

If you agree, I'll work to implement these two options:

```
log-forward test
  option assume-rfc6587-ntf
  option assume-bad-format 
```

On a side note, the explicit mention to *bad format* could be a reminder that bad practices are around in the ecosystem 😊 

> On a side note, the explicit mention to bad format could be a reminder that bad practices are around in the ecosystem 😊

While I like that idea, I think it would be a bit misleading because it's not that the format is necessarily bad (even though your use case is to be able to handle such messages with formats that haproxy don't know about), the initial intention is to tell haproxy not to analyze messages so that they are relayed as-is. I think the option name must be close to the user-intent, not describing how we handle it internally.

To make the code more easier to maintain and to read, perhaps existing `parse_log_message()` function needs to be split into `prepare_log_message()`  (to initialize message, size, level and facility) and `parse_log_message()` (to try to extract metadata from the message and strip the message accordingly), so that only `prepare_log_message()` is called when the option "dontparselog" is set, and both are called when the option is missing. Also, it should be clearly documented that this option is only relevant when using "format raw" on destination log targets.

Hope it makes sense to you as well

> I think the option name must be close to the user-intent, not describing how we handle it internally

I agree. I was in the "non-refactoring and minimal-patch" mindset. Ok, I'll see what I can do this weekend.
Thx a lot for your support. 

Hi, @Darlelet. 

I couldn't make it earlier, but this weekend (finally) I went into it. The PR is proposed after some test drive of the code and some decisions that could be debatable.

To note:

*  I followed your suggestion about separating parsing and framing options.
*  I created `options_log` to avoid stressing the bit space of `options2`. I think it makes sense because of the complete different nature of the log-forward config.
* I tried to adjust to the conventions found for similar code, without adding things that I think they are not needed so far (e.g. logic for `no option`).

Best,

  Rober


Hi Rober,

Thanks !
For the next time, you can submit your patches directly on the mailing list where it can reach more people, haproxy team is not reviewing pull requests through github. I'll provide some feedback shortly :)



Just for completeness, I updated [a feat branch of my haproxy fork](https://github.com/moreda/haproxy/tree/feat/handle-non-rfc-messages) with the commits that we discussed in the haproxy maillist 😊. 

Cheers!

  Rober

Now merged! :)

I'm closing