Use RFC7919 DHE groups for hardcoded params

### Your Feature Request

Hello!

Currently, the default Diffie-Hellman params defined [in source code](https://github.com/haproxy/haproxy/blob/bc8b7a14ff2674f83ca04d341390e8cb32ed5fd2/src/ssl_sock.c#L2950-L3073) are not the ones recommended by [RFC 7919](https://datatracker.ietf.org/doc/html/rfc7919), which can be found here: https://github.com/internetstandards/dhe_groups

Previously, other reverse-proxy projects used to generate custom DH params, and now have moved to just using these ones, which are known to be "good".

I suggest replacing the current hardcoded ones with the RFC7919 ones.

### What are you trying to do?

HAproxy should use the best DHE groups available.

### Output of `haproxy -vv`

```plain
N/A
```


As per the following thread, my opinion is that we should completely remove it all, as opposed to change them:

https://github.com/haproxy/haproxy/issues/1554


What's the impact on old browsers if we remove them, especially those found in enterprise environments ? Will they fail to connect, or maybe do anything worse ? I remember that for a long time we've been emitting warnings about dh-param being too small when not set, and it's not that long ago. Also does this have any impact on the server side (haproxy being the SSL client), with or without client cert ? I'm asking because HTTP/2 RFC7540 says "Clients MUST accept DHE sizes of up to 4096 bits." so by dropping everything we'd become H2 non-compliant it seems.

Could this have an impact on old certs ? Let's say someone created a 10-years valid cert 7 years ago for internal (or external) applications, would there be a risk of failure to load or present the cert by dropping DHE and enforcing ECDHE (i.e. are there key types+sizes that could be incompatible with certain RSA sizes maybe?).

Otherwise I think a reasonable approach could be that we disable it by default (when `tune.dh-param` is not set) and allow to force them to be loaded when set. In this case it could make sense to use the "known good" ones maybe ? Or we consider that this is dying and we leave the existing ones.

I'm interested in any insights because, as usual, I'm lost with these ever-changing standards that love to be incompatible with each other :-(

> What's the impact on old browsers if we remove them, especially those found in enterprise environments ?

That depends on the rest of the configuration. I guess that one could setup the cipher configurations in a way that a specific browser from more than a decade ago could fail, when upgrading to a release without preset DH Groups. But in this case the users probably hit other SSL related issues before, because OpenSSL 1.1.1 and 3.0.0 removed lots and lots of insecure ciphers anyway.

But we don't remove the possibility to use DHE here, we'd just remove pre-configured DH groups in haproxy source code. Everybody upgrading to a new major release with this removed could still use DHE by inserting DH groups in the certificate.

What can happen in some cases is that Forward Secrecy will no longer be used (old clients will downgrade to a non-FS cipher).

So this proposal is not about removing DHE support, it's just about removing the default DH groups.



> Also does this have any impact on the server side (haproxy being the SSL client), with or without client cert ?

It don't believe so, in fact I would say that the current DH handling code only impacts `bind [...] ssl` and not SSL client code, but this needs verification/confirmation.



> I'm asking because HTTP/2 RFC7540 says "Clients MUST accept DHE sizes of up to 4096 bits." so by dropping everything we'd become H2 non-compliant it seems.

Yes indeed I don't think this affects the client code. To be verified.



> Otherwise I think a reasonable approach could be that we disable it by default (when `tune.dh-param` is not set) and allow to force them to be loaded when set. In this case it could make sense to use the "known good" ones maybe ? Or we consider that this is dying and we leave the existing ones.

I agree, by removing any defaults and therefor disabling DHE by default, we solve most issues. Changing to RFC7919 suggested default groups should further decrease the amount of issues filed.

[Internet.nl uses the IT Security Guidelines for Transport Layer Security (TLS) v2.0](https://github.com/internetstandards/dhe_groups) which considers 2048 bit groups "phased out". On the other hand DHE is always expensive in terms of CPU cycles. Using DH groups larger then 2048 bit is just stupid, but will be required to have a green label on Internet.nl tests.

So keeping up with different opinions about what ought to be the proper default configuration is a loosing battle.

We should stop to make any crypto configuration suggestions (which we still are for DH groups). By removing any defaults and disable DH groups by default, we effectively stop to make crypto configuration suggestions, which is what I want to achieve here.

So I'd agree with this proposal: stop defaulting to any DH group, disabling DHE by default, and replace the hardcoded ones with RFC7919.

I wonder what we should to with the 1024-bit group. Maybe pick up the one from RFC5114, and the rest from RFC7919 (no point going above 4096 bit though).



OK thank you Lukas, that's very clear now. I'm CCing @wlallemand, @EmericBr and @rlebreton who will know better than me what all this implies for the existing code base. However regarding RFC5114 I've found that it was one of the controversial ones a long time ago (i.e. "do we know where these numbers come from"?) which led a few projects to adopt their own. For us the result was that I had to produce a pair locally on my machine under @rgacogne 's suggestion that the rest of the code I merge is not more trustable than the keys anyway. So maybe for the 1024 one we should leave the current one and only adopt the 2048 one from 7919. Just a guess, I do not have much preference here.

Yeah, I'm fine with maintaining the 1024 bit one.

Regarding the decision to move away from RFC5114's numbers, see the "Measuring small subgroup attacks against Diffie-Hellman" paper [1]. I agree with Lukas, no longer defaulting to any DH group, disabling DHE by default, and replacing the hardcoded ones with RFC7919 except for the 1024 bit one seems good to me.

[1]: https://eprint.iacr.org/2016/995.pdf

OK thanks both for your useful feedback. Rémi, regarding the adoption of 7919, I remember that one motivation in having our own params was that it would reduce the risk of having our key targetted by an analysis; it's indeed much more interesting to try to factor the one in the RFC that's used by 100s of applications than the one used by a single project. Do you think that 7919 is safer regarding this ?

Willy, this SO answer might shed some light on your question: https://crypto.stackexchange.com/a/81997

At the end of the day, if one is preoccupied by state actors, they need to use better crypto anyway! :D 

> Rémi, regarding the adoption of 7919, I remember that one motivation in having our own params was that it would reduce the risk of having our key targetted by an analysis; it's indeed much more interesting to try to factor the one in the RFC that's used by 100s of applications than the one used by a single project. Do you think that 7919 is safer regarding this ?

My understanding is that we have three different concerns:
1.  parameters that have not been correctly generated, or are simply too small
2.  parameters that have been especially computed to be vulnerable
3.  parameters that are so common they are worth spending a lot of resources on

The values from RFC7919 have guarantees against 1/ and 2/, and because they are large enough 3/ is likely very hard to pull off. Still you are right that they are worthy targets.
Using haproxy-specific values instead would have less guarantees against 1/ and 2/, and would still be popular enough to make an interesting target.
My take is that anyone that really cares about 3/ should either disable DHE if they can get away with it, or generate their own parameters and not rely on the ones shipped by haproxy.

The usual disclaimer about me not being a cryptographer applies here, of course ;-)


OK, mant thanks again for the insights. All of this makes sense indeed. So let's do that (i.e. disable dh by default, and use 7919 for the 2048-bit ones).

I worked on a patch that changes the hard coded 2048 and 4096 bits DH params for the ones defined in RFC7919. But I don't really see a reason to disable DHE ciphers by default on HAProxy side. From what I understand, the main default of DHE is its processing time that is longer than ECDHE (for instance) but it does not present any security risk (with a big enough size).
If someone wanted to get rid of all DHE ciphers, they could already do so by configuring the ciphers they want on their frontends.
Do you have another reason for this removal of DHE ciphers that I missed ? If not, I'd rather leave the default ciphers as they are now since it would avoid having some clients complain that they can't connect to their servers after an HAProxy update.

> it does not present any security risk (with a big enough size).

True.


> it would avoid having some clients complain that they can't connect to their servers after an HAProxy update.

Unlikely, in fact the opposite is probably true. When we upgraded DHE from 1024 to 2048 by default we probably broke old Java software. Not negotiating DHE by default fixes this issue (if there are alternative non-DHE ciphers). It is unlikely that someone running DHE would also disable non-FS ciphers of that time which would negotiate with Java, so breaking clients is extremely unlikely.

So in real obsolete environments, disabling DHE helps compatibility.

It's much more likely SSL clients break due to OS upgrades causing openssl major release bumps.


> Do you have another reason for this removal of DHE ciphers that I missed ?

Wasted human resources.

People running ssl/security scanners care about their reports having all green lights, they usually don't know anything about DHE at al, let alone DH parameters. Then we have to explain the ins and outs of a completely obsolete technology that nowadays does more harm than good.

This, in my opinion, is wasting human resources of the community in the support/maintenance context.

It's also wasting the time of our users.

Of course at some point, the whole DHE technology may actually do become a security risk (we don't know that).

*more importantly* at some point some researcher will /consider/ a theoretical unproven attack against DHE, and because DHE is useless and obsolete, best practices will change and DHE will be discouraged.

Then the "haproxy defaults are unsafe" discussion will start all over again. After all, that is what this GH issue is, isn't it?


[nginx made a much more aggressive choice by completing removing default DH parameters](https://github.com/nginx/nginx/commit/61ec58a9bed5ec0cae60c3f3b8d46382beecc5c6) - we are talking about a default change, not a complete removal like nginx, 6 years later then nginx.

I really strongly believe that there is nothing to be worried about compatibility wise.


Thank you Lukas for this lengthy explanation. It's interesting you mentioned Java because I also used that one to Rémi as an example, but of something I was worried about breaking (as I remember we've seen breakages in the past). So according to your description it seems I'm wrong on this and that the current situation is worse for it.

Regarding the fact that nginx removed it earlier, of course that's a good indication, however nginx mostly sees browsers as clients. We're seeing a wider variety of horrible devices ranging from payment terminals to central heating IoT devices and these ones are particularly known for not being up to date regarding standards in general. But I'm sure you'll tell me that these ones probably do not work without explicit ciphers (and that's possibly true).

So in the end I think all of this makes sense. I'd have preferred to change this after an LTS branch, but considering that 2.6 will live till end of 2027, if we have to remove something once it's considered unsafe, I'd rather do it before the release than in emergency late in the maintenance cycle between two stable versions.

In the worst case if there are reports of breakage, it will still be possible to revert this. And you'll likely be among the first ones to see them so I think we'll quickly have a good view on how to proceed (e.g. revert, find a workaround or help users once in a while).

Rémi, considering all this, you can proceed with the removal from the defaults (I don't know how that's done though).

Thanks!

My understanding is that this is now complete. I'm marking as fixed, feel free to close if there's nothing more to add. Thanks all for the fruitful discussion!

Great, closing then! :)